60hotr0zi6AwvFl7.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Zenoti-GetAuthToken'": {
      "main": [
        [
          {
            "node": "Get All Oppurtinies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Call 'Zenoti-GetAuthToken'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Oppurtinies": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Guest Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-22T06:15:15.256Z",
  "id": "60hotr0zi6AwvFl7",
  "isArchived": false,
  "meta": null,
  "name": "Requested Data extract - Datawarehouse",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -64
      ],
      "id": "7f66f3ab-1d31-4bdd-a02c-aa3ae58e9c75",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QA7Qdseg7ehAOWP6",
          "mode": "list",
          "cachedResultUrl": "/workflow/QA7Qdseg7ehAOWP6",
          "cachedResultName": "Zenoti-GetAuthToken"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        -64
      ],
      "id": "89827864-54f4-415b-8e29-b8c88d9b97c8",
      "name": "Call 'Zenoti-GetAuthToken'"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "lsINP70DmcZtIj4M",
          "mode": "list",
          "cachedResultName": "ZenotiClinics",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/lsINP70DmcZtIj4M"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "code",
              "keyValue": "PT"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -144,
        -64
      ],
      "id": "448872c5-1770-41d9-a5bd-5227b4ea478c",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "url": "https://api.zenoti.com/v1/opportunities",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "view_id",
              "value": "={{ $('Get row(s)').item.json.Zenoti_ID }}"
            },
            {
              "name": "center_Id",
              "value": "={{ $('Get row(s)').item.json.Zenoti_ID }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer  {{ $json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        -64
      ],
      "id": "d90ffdf2-f8da-4f2a-ac96-b3099ced45ea",
      "name": "Get All Oppurtinies"
    },
    {
      "parameters": {
        "fieldToSplitOut": "opportunities",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        -64
      ],
      "id": "be34a70d-d6f0-47dc-bb91-fdd04a7dbe27",
      "name": "Split Out"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        688,
        -64
      ],
      "id": "09c017b9-9a77-4de8-895b-4ea1f0bc47ba",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/opportunities/{{ $json.opportunity_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -64
      ],
      "id": "e55809fe-66e1-4e20-9cc1-213a2b36164e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/guests/{{ $('Limit').item.json.guest.guest_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        -64
      ],
      "id": "1cb26e66-89d9-4086-a794-1849242adc85",
      "name": "Guest Details"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-22T06:15:15.257Z",
      "createdAt": "2026-04-22T06:15:15.257Z",
      "role": "workflow:owner",
      "workflowId": "60hotr0zi6AwvFl7",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-22T06:47:30.638Z",
  "versionId": "3ddc5a20-4a00-4d3c-b21c-97ad97426eda"
}