8NLNoWIQWQzqvhST.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Call 'Zenoti-GetAuthToken'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Zenoti-GetAuthToken'": {
      "main": [
        [
          {
            "node": "Search User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search User": {
      "main": [
        [
          {
            "node": "No User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab User": {
      "main": [
        [
          {
            "node": "Guest Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Combine Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guest Notes": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guest Appointments": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Combine Appointment Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Notes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Appointments": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Appointment Details": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Call 'AU - Client Summary Bot'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guest Invoices": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Combine Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Invoices": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Guest Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guest Details": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Guest Packages": {
      "main": [
        [
          {
            "node": "Guest Packages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guest Packages1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Form": {
      "main": [
        []
      ]
    },
    "No User": {
      "main": [
        [
          {
            "node": "Grab User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AU - Client Summary Bot'": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GuestFormReuqest": {
      "main": [
        [
          {
            "node": "If-GuestFormNotSubmitted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If-GuestFormNotSubmitted": {
      "main": [
        [
          {
            "node": "Data Clean Up - Responce",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guest Form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Clean Up - Responce": {
      "main": [
        [
          {
            "node": "Guest Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guest Form": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guest Form1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "GetAppointmentForms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Details": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAppointmentForms": {
      "main": [
        [
          {
            "node": "RemoveUnfilledSubmittedForms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoveUnfilledSubmittedForms": {
      "main": [
        [
          {
            "node": "HasOwnerID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HasOwnerID": {
      "main": [
        [
          {
            "node": "RemovePatientPhotos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemovePatientPhotos": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If for File1": {
      "main": [
        [],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Form Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Appointments": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-29T23:50:16.204Z",
  "id": "8NLNoWIQWQzqvhST",
  "isArchived": false,
  "meta": null,
  "name": "AU - Kaddi Details Pull",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Kadddi User Extract",
        "formFields": {
          "values": [
            {
              "fieldLabel": "User Code"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "path": "KadddiUserExtract"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -96,
        0
      ],
      "id": "e23c9e4b-366e-49a6-a56d-e4f8d9a8635b",
      "name": "On form submission",
      "webhookId": "ba1bc6c9-8baa-4755-b8bd-92120942ca61"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QA7Qdseg7ehAOWP6",
          "mode": "list",
          "cachedResultUrl": "/workflow/QA7Qdseg7ehAOWP6",
          "cachedResultName": "Zenoti-GetAuthToken"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        128,
        0
      ],
      "id": "70d943f8-b400-42b5-a9d2-8fcb523421fe",
      "name": "Call 'Zenoti-GetAuthToken'"
    },
    {
      "parameters": {
        "url": "https://api.zenoti.com/v1/guests/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "size",
              "value": "10"
            },
            {
              "name": "user_code",
              "value": "={{ $('On form submission').item.json['User Code'] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        0
      ],
      "id": "5ee0e1ec-0191-4217-9eaf-a15b67a7c840",
      "name": "Search User"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/guests/{{ $json.guests[0].id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expand",
              "value": "address_info"
            },
            {
              "name": "expand",
              "value": "preferences"
            },
            {
              "name": "expand",
              "value": "tags"
            },
            {
              "name": "expand",
              "value": "primary_employee"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        0
      ],
      "id": "83f3ec90-9536-49d0-b771-4db09eae3261",
      "name": "Grab User"
    },
    {
      "parameters": {
        "fieldToSplitOut": "notes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        -416
      ],
      "id": "04b4d92e-8336-4867-97a6-267c05f2dad8",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "created_date",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1440,
        -416
      ],
      "id": "e31bb8e4-6799-43a8-bb0e-916045679c4b",
      "name": "Sort"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst customerId = $('Grab User').first().json.id;\nconst customerCode = $('On form submission').first().json[\"User Code\"];\n\nreturn items.map(item => {\n  const j = item.json;\n\n  return {\n    json: {\n      noteid: j.id ?? null,\n\n      customerId: customerId ?? null,\n      customerCode: customerCode ?? null,\n\n      notes: j.notes ?? null,\n      center_name: j.center?.name ?? null,\n      added_by_name: j.added_by?.name ?? null,\n      created_date: j.created_date ?? null,\n      privacy_type: j.privacy_type ?? null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -416
      ],
      "id": "d555ed0a-7ebe-4f24-8157-aeb9c96ab241",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/guests/{{ $json.id }}/notes/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "view_private",
              "value": "true"
            },
            {
              "name": "noteType",
              "value": "-1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        -416
      ],
      "id": "28e8e262-b43f-42f8-ac5a-7a537cf99aca",
      "name": "Guest Notes"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "returnBinary",
        "completionTitle": "={{ $('On form submission').item.json['User Code'] }} - Download Data",
        "completionMessage": "=Please see downloaded data for {{ $('Search User').item.json.guests[0].personal_info.first_name }} {{ $('Search User').item.json.guests[0].personal_info.last_name }} - {{ $('On form submission').item.json['User Code'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        3120,
        16
      ],
      "id": "9bc0a7c1-9970-4904-bb41-1e97cb639ec8",
      "name": "Form",
      "webhookId": "9efc9a13-70e4-463b-8649-26259779285f"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/guests/{{ $json.id }}/appointments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": "={{ Math.ceil($response.body.page_info.total / $response.body.page_info.size) }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        -64
      ],
      "id": "cfa8f55d-4f30-4c34-b2f9-2f6515a45258",
      "name": "Guest Appointments"
    },
    {
      "parameters": {
        "fieldToSplitOut": "appointments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        -64
      ],
      "id": "b7a7e2b2-7619-4177-87e4-038c24f74213",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/appointments/{{ $json.appointment_services[0].appointment_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expand",
              "value": "notes"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1680,
        -96
      ],
      "id": "74113734-bb94-4d8a-a17d-abb4d0053ac8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('On form submission').item.json['User Code'] }}_Notes.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1888,
        -416
      ],
      "id": "caaf840b-ecd2-41c8-88c6-57f5035947c5",
      "name": "Combine Notes"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('On form submission').item.json['User Code'] }}_Appointment_Details.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1888,
        -96
      ],
      "id": "2a2b92ad-db20-49ac-a2b2-cdac5aa67e89",
      "name": "Combine Appointment Details"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('On form submission').item.json['User Code'] }}_Appointment.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1888,
        -240
      ],
      "id": "5c8b9708-1c7a-4cef-b32f-3b8b445dd2b8",
      "name": "Combine Appointments"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2256,
        -48
      ],
      "id": "6bd69ac6-d442-4e20-9801-fa18e49111bb",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const output = {\n  json: {\n    fileCount: items.length\n  },\n  binary: {}\n};\n\nitems.forEach((item, index) => {\n  if (!item.binary) return;\n\n  const keys = Object.keys(item.binary);\n  if (keys.length === 0) return;\n\n  const firstKey = keys[0];\n\n  output.binary[`file${index + 1}`] = {\n    ...item.binary[firstKey]\n  };\n});\n\nreturn [output];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        16
      ],
      "id": "61c5df2c-413f-4f7b-9cc8-ea37c1e3a528",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ Object.keys($binary).join(',') }}",
        "fileName": "={{ $('On form submission').item.json['User Code'] }}.zip"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        2688,
        16
      ],
      "id": "daf964fd-bc7f-43d3-8261-b337523f7e29",
      "name": "Compression"
    },
    {
      "parameters": {
        "fieldToSplitOut": "products",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        112
      ],
      "id": "eac7da8b-875a-4174-b0b0-172134c49357",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/guests/{{ $json.id }}/products",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": "={{ Math.ceil($response.body.page_info.total / $response.body.page_info.size) }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        112
      ],
      "id": "582267d2-9b7e-4b75-835c-44a9532c33b8",
      "name": "Guest Invoices"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('On form submission').item.json['User Code'] }}_Invoices.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1888,
        112
      ],
      "id": "1533e195-0d08-48c9-9001-b5034d76eba3",
      "name": "Combine Invoices"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('On form submission').item.json['User Code'] }}_GuestDetails.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1888,
        288
      ],
      "id": "52b427a8-1f20-4a6f-9a8f-00ec58f8d81f",
      "name": "Guest Details"
    },
    {
      "parameters": {
        "amount": 0
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        992,
        288
      ],
      "id": "dd59cba7-adce-4788-ad77-2190404581f2",
      "name": "Wait",
      "webhookId": "958795f3-8053-4a89-b4a5-a8cc410dc828"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/guests/{{ $json.id }}/Packages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "center_id",
              "value": "center_id"
            },
            {
              "name": "show_redeemable",
              "value": "{true/false}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        464
      ],
      "id": "7bcb09f1-2818-4940-8ce7-0c1389143919",
      "name": "Guest Packages"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('On form submission').item.json['User Code'] }}_GuestPackages.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1888,
        464
      ],
      "id": "1c824674-c8e7-48ec-9837-cec854e52029",
      "name": "Guest Packages1"
    },
    {
      "parameters": {
        "content": "## Guest Notes",
        "height": 176,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -464
      ],
      "typeVersion": 1,
      "id": "f6b59073-2204-4ec8-82f0-e7d0d5ca8c6c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Guest Appointments",
        "height": 176,
        "width": 1040,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -288
      ],
      "typeVersion": 1,
      "id": "9a83d481-a545-4bbf-8bd2-9a7811d3a636",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Guest Appointments Details",
        "height": 176,
        "width": 1040,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -112
      ],
      "typeVersion": 1,
      "id": "f93ae1f5-f4ac-4023-92b0-cc0cca93d8b6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Guest Invoices",
        "height": 176,
        "width": 1040,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        64
      ],
      "typeVersion": 1,
      "id": "d0ec1fac-dc8f-4468-b961-2489a57d7387",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Guest Details",
        "height": 176,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        240
      ],
      "typeVersion": 1,
      "id": "0d025e34-5451-47fe-86d9-75ea3d7ed2f4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Guest Packages",
        "height": 176,
        "width": 1040,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        416
      ],
      "typeVersion": 1,
      "id": "b80b9a9c-cbc4-4874-8a56-79c36618e63b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Merge / Join / Compress / Provide Copy",
        "height": 352,
        "width": 1220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2016,
        -112
      ],
      "typeVersion": 1,
      "id": "fdc2af5b-d7af-4cdd-981c-5f8812d98f90",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Submit Form / Grab Token / Search User / Collect User",
        "height": 352,
        "width": 1104
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -112
      ],
      "typeVersion": 1,
      "id": "2a47e811-63c6-446e-9e73-4eb235f2b482",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.page_Info.total }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    },
                    "id": "77d492de-5b58-488a-ab32-0b94502a21ef"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "e5610a5a-91ed-4ba9-8a74-fa6460234436",
      "name": "No User"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Form Failed",
        "completionMessage": "=Unable to find user please check {{ $('On form submission').item.json['User Code'] }} please check Zenoti for user and try again.\n\nhttps://n8n.ashleyandmartin.local/form/KadddiUserExtract",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        576,
        288
      ],
      "id": "e1612785-f3aa-4b96-a0da-cd2e9647bdc8",
      "name": "Form1",
      "webhookId": "6b92fc5b-fbfc-441d-bb72-92c7356fb0dd"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FLBFfeEGJEKTmdk6",
          "mode": "list",
          "cachedResultUrl": "/workflow/FLBFfeEGJEKTmdk6",
          "cachedResultName": "AU - Client Summary Bot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2896,
        16
      ],
      "id": "69a5d5e0-70db-482e-a61f-c302fc26d059",
      "name": "Call 'AU - Client Summary Bot'",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/guests/{{ $json.id }}/Forms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').first().json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        640
      ],
      "id": "ec4bcc39-a81f-4093-a78d-1e3e45961a91",
      "name": "GuestFormReuqest",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e39688ae-e820-4177-9590-5f8b54f67d80",
              "leftValue": "={{ $json.is_form_submitted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        640
      ],
      "id": "dcad9fb9-dde5-4f69-8888-7766ff469960",
      "name": "If-GuestFormNotSubmitted"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction safeParseJson(str) {\n  if (typeof str !== \"string\" || !str.trim()) return {};\n  try {\n    return JSON.parse(str);\n  } catch (e) {\n    return { __parseError: String(e?.message || e), __raw: str };\n  }\n}\n\nfunction get(obj, path) {\n  const parts = path.split(\".\");\n  let cur = obj;\n  for (const p of parts) {\n    if (cur && Object.prototype.hasOwnProperty.call(cur, p)) cur = cur[p];\n    else return undefined;\n  }\n  return cur;\n}\n\n// Try multiple paths, return first non-null/undefined\nfunction pick(obj, paths, fallback = null) {\n  for (const p of paths) {\n    const v = get(obj, p);\n    if (v !== undefined && v !== null) return v;\n  }\n  return fallback;\n}\n\nfunction cleanString(v) {\n  if (typeof v !== \"string\") return v;\n  // trims whitespace + removes trailing newlines etc.\n  return v.replace(/\\r?\\n/g, \" \").trim();\n}\n\nreturn items.map((item) => {\n  const form = safeParseJson(item.json.data);\n\n  return {\n    json: {\n      // optional wrapper/meta\n      is_form_submitted: item.json.is_form_submitted ?? null,\n      last_submitted_date_in_utc: item.json.last_submitted_date_in_utc ?? null,\n\n      FirstName:      pick(form, [\"textfieldzenGIFirstName\"]),\n      LastName:       pick(form, [\"textfieldzenGILastName\"]),\n      AddressLineOne: cleanString(pick(form, [\"textareazenGIAddressOne\"])),\n      AddressLineTwo: cleanString(pick(form, [\"textareazenGIAddressTwo\"])),\n      City:           pick(form, [\"textfieldzenGICity\"]),\n      PostalCode:     pick(form, [\"textfieldzenGIPinCode\"]),\n      Country:        pick(form, [\"selectzenGICountry\"]),\n      State:          pick(form, [\"selectzenGIState\"]),\n      Email:          pick(form, [\"emailzenGIEmail\"]),\n\n      MobilePhone:       pick(form, [\"zenGIMobilePhone.phoneNumber\"]),\n      MobileCountryCode: pick(form, [\"zenGIMobilePhone.countryCode\"]),\n\n      DateOfBirth: pick(form, [\"datetimezenGIBirthday\"]),\n      Age:         pick(form, [\"number\"]),\n      Gender:      pick(form, [\"selectzenGIGender\"]),\n\n      // These two are stable in both samples\n      PreviousSteps: pick(form, [\"radio\"]),\n      HearAboutus:   pick(form, [\"select\"]),\n      SignedDate:    pick(form, [\"dateTime1\"]),\n      FormSubmitted: pick(form, [\"btnFormioSubmit\"]),\n\n      // ---- MEDICAL YES/NO QUESTIONS ----\n      // old numbering (radio2..radio14) vs new numbering (radio18..radio34)\n      HeartDisease:   pick(form, [\"radio2\", \"radio18\"]),\n      HighBlood:      pick(form, [\"radio3\", \"radio19\"]),\n      LivKidProstate: pick(form, [\"radio4\", \"radio20\"]),\n      Diabetes:       pick(form, [\"radio5\", \"radio21\"]),\n      Thyriod:        pick(form, [\"radio6\", \"radio22\"]),\n      AnemiaIron:     pick(form, [\"radio7\", \"radio23\"]),\n      PyschiatricCon: pick(form, [\"radio8\", \"radio24\"]),\n\n      // Skin conditions checkboxes moved from selectBoxes..selectBoxes8\n      // to selectBoxes9..selectBoxes17\n      Dermatitis:     pick(form, [\"selectBoxes.dermatitis\", \"selectBoxes9.dermatitis\"]),\n      Psoriasis:      pick(form, [\"selectBoxes1.psoriasis\", \"selectBoxes10.psoriasis\"]),\n      Eczema:         pick(form, [\"selectBoxes2.eczema\", \"selectBoxes11.eczema\"]),\n      Dandruff:       pick(form, [\"selectBoxes3.dandruff\", \"selectBoxes12.dandruff\"]),\n      ItchyScalp:     pick(form, [\"selectBoxes4.itchyScalp\", \"selectBoxes13.itchyScalp\"]),\n      DryScalp:       pick(form, [\"selectBoxes5.dryScalp\", \"selectBoxes14.dryScalp\"]),\n      OilyScalp:      pick(form, [\"selectBoxes6.oilyScalp\", \"selectBoxes15.oilyScalp\"]),\n      HairLoss:       pick(form, [\"selectBoxes7.hairLoss\", \"selectBoxes16.hairLoss\"]),\n      OtherCondition: pick(form, [\"selectBoxes8.other\", \"selectBoxes17.other\"]),\n\n      // Remaining questions (old radio9..radio17) don’t exist in sample 2 the same way,\n      // so we fallback to null unless you tell me the new mapping:\n      RecEmoIllSur:     pick(form, [\"radio9\", \"radio25\"]),\n      AttemptConceive:  pick(form, [\"radio10\", \"radio26\"]),\n      OtherMedical:     pick(form, [\"radio11\", \"radio27\"]),\n      MedicationIntake: pick(form, [\"radio12\", \"radio28\"]),\n      SteriodTest:      pick(form, [\"radio13\", \"radio29\"]),\n      AllericMedic:     pick(form, [\"radio14\", \"radio30\"]),\n      SpecificDiet:     pick(form, [\"radio15\", \"radio31\"]),\n      ConditionPresent: pick(form, [\"radio16\", \"radio32\"]),\n      AgeRange:         pick(form, [\"radio17\", \"radio33\"]),\n\n      Treatment:      cleanString(pick(form, [\"textField4\"])),\n      MedicalHistory: cleanString(pick(form, [\"textArea6\", \"textArea31\"])), // NOTE: your sample 2 uses textArea31 for diet\n      FamilyHistory:  cleanString(pick(form, [\"textArea16\", \"textArea32\"])), // sample 2 uses textArea32 for family\n      ContentMacros:  pick(form, [\"contentMacros\"], {}),\n\n      ParseError: pick(form, [\"__parseError\"], null),\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        640
      ],
      "id": "ba832abc-d69e-4800-bbd1-9ba618d684bb",
      "name": "Data Clean Up - Responce"
    },
    {
      "parameters": {
        "content": "## Guest Form Data",
        "height": 176,
        "width": 1040,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        592
      ],
      "typeVersion": 1,
      "id": "f5aa0a22-e413-4fed-9158-2470c75c4ded",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Guest Appointments Details",
        "height": 176,
        "width": 1040,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        768
      ],
      "typeVersion": 1,
      "id": "9c73edaf-5089-49ee-af7e-6455fc8b98f6",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('On form submission').item.json['User Code'] }}_GuestForm.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1616,
        640
      ],
      "id": "3b13e14c-47e3-4141-8e3f-de05aacf1e07",
      "name": "Guest Form"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('On form submission').item.json['User Code'] }}_GuestForm.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1632,
        800
      ],
      "id": "a3bcf53c-f557-43f2-a9fa-5d7f202c60b6",
      "name": "Guest Form1"
    },
    {
      "parameters": {
        "amount": 0
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1888,
        640
      ],
      "id": "51fc589f-d440-44dc-8e30-679bb3263413",
      "name": "Wait1",
      "webhookId": "09b47924-7f22-4b61-a9a3-f7382e0ea656"
    },
    {
      "parameters": {
        "content": "## The Hunt for Appointment Forms",
        "height": 832,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        944
      ],
      "typeVersion": 1,
      "id": "eeecc72c-57fa-46dc-9700-1bb0fd7202f5",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "fieldToSplitOut": "appointments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        1008
      ],
      "id": "128f0c33-0ae8-42c0-ba12-be1a2aa5b186",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/appointments/{{ $('Loop Over Items').item.json.appointment_services[0].appointment_id }}/forms_data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tag_Id",
              "value": "={{ $json.owner_id }}"
            },
            {
              "name": "version_no",
              "value": "0"
            },
            {
              "name": "view_context",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').first().json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        1424
      ],
      "id": "98c7cd57-60e2-4272-98de-fb0335da7b6b",
      "name": "Form Details"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1808,
        1008
      ],
      "id": "21621e31-9306-4ef9-9187-8089596407e0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let raw = item.json.data;\n\n  // Step 1: Parse the main string\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    parsed = raw;\n  }\n\n  let output = {\n    files: [],\n    documents: []\n  };\n\n  // Case 1: First structure (file array)\n  if (parsed?.file) {\n    output.files = parsed.file.map(f => ({\n      name: f.name,\n      type: f.type,\n      url: f.SihAccessUrl || f.presignedUrl,\n      originalName: f.originalName\n    }));\n  }\n\n  // Case 2: Second structure (imageURL-x list)\n  if (Array.isArray(parsed)) {\n    parsed.forEach(entry => {\n      if (entry.value) {\n        try {\n          let val = JSON.parse(entry.value);\n          output.documents.push({\n            name: entry.name,\n            url: val.sihAccessUrl || val.presignedUrl,\n            originalUri: val.originalUri\n          });\n        } catch (e) {}\n      }\n    });\n  }\n\n  return {\n    json: output\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        1424
      ],
      "id": "3190fd0a-7046-4ffb-91a7-519922d39544",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/appointments/{{ $json.appointment_services[0].appointment_id }}/forms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').first().json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        1216
      ],
      "id": "55b03de7-c72c-471a-ae98-98d67853386f",
      "name": "GetAppointmentForms"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8842d722-e5ee-4ec9-a880-4ba71b58e732",
              "leftValue": "={{ $json.is_filled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "eef0ba63-cd5a-45f4-96ea-5f33c79aef51",
              "leftValue": "={{ $json.is_submitted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1200,
        1216
      ],
      "id": "8acdc100-8352-4477-adfd-7e0c8a286c22",
      "name": "RemoveUnfilledSubmittedForms",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "1667fde1-bf45-4a80-8c33-de0dd0a2d0f4",
              "leftValue": "={{ $json.owner_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1408,
        1216
      ],
      "id": "4aa4eab3-69aa-4cf5-b546-67b6752eafcb",
      "name": "HasOwnerID",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7508c56c-ba13-4206-83be-5b2a7b8f411f",
              "leftValue": "={{ $json.name }}",
              "rightValue": "Patient Photos",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "6479206d-b6c5-485b-8d96-e8eb305f81c9",
              "leftValue": "={{ $json.name }}",
              "rightValue": "Default Uploads Form",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1616,
        1216
      ],
      "id": "beeacdb5-bb83-403f-8fb4-ea275ebc88c8",
      "name": "RemovePatientPhotos",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e1a84b7-6dfd-4ea5-b9e2-755eecf496e0",
              "leftValue": "={{ $json['@odata.null'] }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.StartDate }}.xlsx",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2336,
        1104
      ],
      "id": "fe7c7a07-5967-4bb2-93f6-0a2cdfeffa77",
      "name": "If for File1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "1957d5d3-6ad2-4a8b-996c-d9628062aef1",
              "leftValue": "={{ $json.form_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1824,
        1216
      ],
      "id": "6e6a6ee0-86ca-4ee8-b90f-f29ad8b787e1",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/guests/{{ $json.id }}/appointments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "page"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').first().json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": "={{ Math.ceil(Number($response.body.page_info.total) / Number($response.body.page_info.size)) }}",
              "requestInterval": 1000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        1008
      ],
      "id": "11529965-14eb-4a92-9de9-2b668c6fcad7",
      "name": "Grab Appointments",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/guests/{{ $json.id }}/notes/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "view_private",
              "value": "true"
            },
            {
              "name": "noteType",
              "value": "7"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": "={{ Math.ceil($response.body.page_details.total / $response.body.page_details.size) }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1136,
        -688
      ],
      "id": "1dca4afa-530a-49f2-9274-542adafa04f4",
      "name": "Guest Notes1"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "On form submission": [
      {
        "json": {
          "User Code": "DNG4530",
          "submittedAt": "2026-03-31T12:53:30.504+08:00",
          "formMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "J83Enw8ArDSqhMCL",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all"
  },
  "shared": [
    {
      "updatedAt": "2026-03-29T23:50:16.206Z",
      "createdAt": "2026-03-29T23:50:16.206Z",
      "role": "workflow:owner",
      "workflowId": "8NLNoWIQWQzqvhST",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-07T01:33:39.006Z",
      "createdAt": "2025-11-07T01:33:39.006Z",
      "id": "WIsNIXL4vR1ZWj36",
      "name": "Zenoti"
    },
    {
      "updatedAt": "2026-01-21T23:52:24.742Z",
      "createdAt": "2026-01-21T23:52:24.742Z",
      "id": "gBgZjsV5vc1ZGBw4",
      "name": "AUS"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-29T01:52:39.055Z",
  "versionId": "1e5b08d3-3b19-48de-93ea-bf94602a9219"
}