aLP8iKg4XVrp0KlB.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-22T23:25:39.000Z",
    "createdAt": "2026-03-22T23:25:38.638Z",
    "versionId": "50d3d5aa-f874-402c-a8df-c9d4536b4e58",
    "workflowId": "aLP8iKg4XVrp0KlB",
    "nodes": [
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "STUF6Fz9PaFzUwRx",
            "mode": "list",
            "cachedResultUrl": "/workflow/STUF6Fz9PaFzUwRx",
            "cachedResultName": "Zenoti - Order Meds"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2624,
          112
        ],
        "id": "1a8621bf-3b2c-49a6-aa5d-ed2ae1cbae8c",
        "name": "Call 'Zenoti - Order Meds'",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2304,
          48
        ],
        "id": "7381231c-e09f-4cb0-b863-5af2fa75b89e",
        "name": "Wait",
        "webhookId": "9ad9ec32-bb7e-4dc8-9b16-6bbe81cd24d5"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          2096,
          -48
        ],
        "id": "be8f8e02-a979-4613-b491-60c31a84124c",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "2cc417b6-7aae-4285-9265-163db1d411de",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          1648,
          -48
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "98cb0888-aa7b-4147-86e1-09b87c27a8ea",
                "leftValue": "={{ $json.CustomerCode }}",
                "rightValue": "29948-GAK",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          1888,
          -48
        ],
        "id": "7e982572-889c-441e-83c2-e7a0c81a0c5d",
        "name": "Filter",
        "disabled": true
      }
    ],
    "connections": {
      "Call 'Zenoti - Order Meds'": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Call 'Zenoti - Order Meds'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nicholas Ryall",
    "name": "Version 50d3d5aa",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "50d3d5aa-f874-402c-a8df-c9d4536b4e58",
  "connections": {
    "Call 'Zenoti - Order Meds'": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Call 'Zenoti - Order Meds'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-11T23:49:36.235Z",
  "id": "aLP8iKg4XVrp0KlB",
  "isArchived": false,
  "meta": null,
  "name": "ZenotiNZ-MasterMedOrderSplitClinc",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "STUF6Fz9PaFzUwRx",
          "mode": "list",
          "cachedResultUrl": "/workflow/STUF6Fz9PaFzUwRx",
          "cachedResultName": "Zenoti - Order Meds"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2624,
        112
      ],
      "id": "1a8621bf-3b2c-49a6-aa5d-ed2ae1cbae8c",
      "name": "Call 'Zenoti - Order Meds'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2304,
        48
      ],
      "id": "7381231c-e09f-4cb0-b863-5af2fa75b89e",
      "name": "Wait",
      "webhookId": "9ad9ec32-bb7e-4dc8-9b16-6bbe81cd24d5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2096,
        -48
      ],
      "id": "be8f8e02-a979-4613-b491-60c31a84124c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "2cc417b6-7aae-4285-9265-163db1d411de",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1648,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "98cb0888-aa7b-4147-86e1-09b87c27a8ea",
              "leftValue": "={{ $json.CustomerCode }}",
              "rightValue": "29948-GAK",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1888,
        -48
      ],
      "id": "7e982572-889c-441e-83c2-e7a0c81a0c5d",
      "name": "Filter",
      "disabled": true
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Start": [
      {
        "json": {
          "AppointmentID": "9c992f36-12c8-4ec1-bc3b-0616cdfb4619",
          "CustomerFirstName": "Blair",
          "CustomerLastName": "Pye",
          "CustomerCode": "WG3160",
          "CustomerID": "ce50bfe0-99a8-4e06-be1f-58681928fcc3",
          "CustomerDOB": "18/01/2002",
          "CustomerEmail": "blairterencepye@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "8a97ae57-5822-4438-b692-4913733872a1",
          "is_form_submitted": true,
          "textField5": "Blair Pye",
          "select6": "no",
          "textField2": "Dr Jolyn Tay 64497",
          "textField4": "Level 4/Lambton House, 160 Lambton Quay, Wellington Central, Wellington 6011",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "1",
          "DeliveryAddress1": "42 Fyvie Avenue, Tawa, Wellington 5028",
          "DeliveryCity": "Wellington",
          "DeliveryAddressFull": "42 Fyvie Avenue, Tawa, Wellington 5028, Wellington",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 4,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "WEL",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=026832c6-ac9d-4ba7-af98-0160f779bbf4&ServiceId=e18c697e-da48-4aee-a7a5-a0fd6c6fc0f6&Service=Doctor%20Scripts%201mth&GuestId=ce50bfe0-99a8-4e06-be1f-58681928fcc3&AppointmentId=9c992f36-12c8-4ec1-bc3b-0616cdfb4619",
          "StartDate": "2026-04-29"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "AppointmentID": "72c4fa47-0026-497d-8ee1-0a1755ed16b7",
          "CustomerFirstName": "Rijo",
          "CustomerLastName": "Jerro",
          "CustomerCode": "WG2202",
          "CustomerID": "18edf33f-c4ca-43d0-be49-7b89df9ce3ed",
          "CustomerDOB": "07/03/1987",
          "CustomerEmail": "rijojerro@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "8a97ae57-5822-4438-b692-4913733872a1",
          "is_form_submitted": true,
          "textField5": "Rijo Jerro",
          "select6": "no",
          "textField2": "Dr Jolyn Tay 64497",
          "textField4": "Level 4/Lambton House, 160 Lambton Quay, Wellington Central, Wellington 6011",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "1",
          "DeliveryAddress1": "21 Te Pene Avenue, Titahi Bay, Porirua 5022",
          "DeliveryCity": "Porirua",
          "DeliveryAddressFull": "21 Te Pene Avenue, Titahi Bay, Porirua 5022, Porirua",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 4,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "WEL",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=026832c6-ac9d-4ba7-af98-0160f779bbf4&ServiceId=e18c697e-da48-4aee-a7a5-a0fd6c6fc0f6&Service=Doctor%20Scripts%201mth&GuestId=18edf33f-c4ca-43d0-be49-7b89df9ce3ed&AppointmentId=72c4fa47-0026-497d-8ee1-0a1755ed16b7",
          "StartDate": "2026-04-29"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "AppointmentID": "4febb391-89eb-417e-ae3e-19238d698ce3",
          "CustomerFirstName": "Zachary",
          "CustomerLastName": "McLeod",
          "CustomerCode": "WG3115",
          "CustomerID": "c42a22d5-b892-4c39-ad71-33741c6c992c",
          "CustomerDOB": "13/11/1995",
          "CustomerEmail": "zac.d.mcleod@hotmail.co.nz",
          "CustomerGender": "Male",
          "CustomerCenterID": "8a97ae57-5822-4438-b692-4913733872a1",
          "is_form_submitted": true,
          "textField5": "Zachary McLeod",
          "select6": "no",
          "textField2": "Dr Jolyn Tay 64497",
          "textField4": "Level 4/Lambton House, 160 Lambton Quay, Wellington Central, Wellington 6011",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "1",
          "DeliveryAddress1": "843 State Highway 1,RD 1,Otaki 5581",
          "DeliveryCity": "Te Horo",
          "DeliveryAddressFull": "843 State Highway 1,RD 1,Otaki 5581, Te Horo",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 4,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "WEL",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=026832c6-ac9d-4ba7-af98-0160f779bbf4&ServiceId=e18c697e-da48-4aee-a7a5-a0fd6c6fc0f6&Service=Doctor%20Scripts%201mth&GuestId=c42a22d5-b892-4c39-ad71-33741c6c992c&AppointmentId=4febb391-89eb-417e-ae3e-19238d698ce3",
          "StartDate": "2026-04-29"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "AppointmentID": "ff96590a-3873-4a43-b5b2-32aedcbb656b",
          "CustomerFirstName": "Matthew",
          "CustomerLastName": "Sandford",
          "CustomerCode": "WG3844",
          "CustomerID": "75167970-6d08-4798-8d55-3fe1f01ca7dc",
          "CustomerDOB": "30/03/1998",
          "CustomerEmail": "mattsandford998@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "8a97ae57-5822-4438-b692-4913733872a1",
          "is_form_submitted": true,
          "textField5": "Matthew Sandford",
          "select6": "no",
          "textField2": "Dr Jolyn Tay 64497",
          "textField4": "Level 4/Lambton House, 160 Lambton Quay, Wellington Central, Wellington 6011",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "98 Navigation Drive, Whitby, Porirua 5024",
          "DeliveryCity": "",
          "DeliveryAddressFull": "98 Navigation Drive, Whitby, Porirua 5024",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 5,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "WEL",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=026832c6-ac9d-4ba7-af98-0160f779bbf4&ServiceId=64418d09-d7dd-45b5-a985-70ff46deb4df&Service=Doctor-First&GuestId=75167970-6d08-4798-8d55-3fe1f01ca7dc&AppointmentId=ff96590a-3873-4a43-b5b2-32aedcbb656b",
          "StartDate": "2026-04-29"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "AppointmentID": "7386298d-63e9-4496-b6a8-4ca1a5daecaf",
          "CustomerFirstName": "Morne",
          "CustomerLastName": "Cloete",
          "CustomerCode": "WG2048",
          "CustomerID": "450788fc-220e-4a2f-9ab8-a3fe7505a3f3",
          "CustomerDOB": "12/01/1999",
          "CustomerEmail": "mornecloete8@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "8a97ae57-5822-4438-b692-4913733872a1",
          "is_form_submitted": true,
          "textField5": "Morne Cloete",
          "select6": "no",
          "textField2": "Dr Jolyn Tay 64497",
          "textField4": "Level 4/Lambton House, 160 Lambton Quay, Wellington Central, Wellington 6011",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "1",
          "DeliveryAddress1": "38 Hawtrey Terrace, Churton Park, Wellington 6037",
          "DeliveryCity": "Wellington",
          "DeliveryAddressFull": "38 Hawtrey Terrace, Churton Park, Wellington 6037, Wellington",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 4,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "WEL",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=026832c6-ac9d-4ba7-af98-0160f779bbf4&ServiceId=e18c697e-da48-4aee-a7a5-a0fd6c6fc0f6&Service=Doctor%20Scripts%201mth&GuestId=450788fc-220e-4a2f-9ab8-a3fe7505a3f3&AppointmentId=7386298d-63e9-4496-b6a8-4ca1a5daecaf",
          "StartDate": "2026-04-29"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "AppointmentID": "0aa11815-fe32-4142-b40e-7df75b7aa934",
          "CustomerFirstName": "Jed",
          "CustomerLastName": "Tresmanio",
          "CustomerCode": "HM2822",
          "CustomerID": "7be757f6-be36-4901-877c-9651f1391995",
          "CustomerDOB": "10/11/1992",
          "CustomerEmail": "jed.tresmanio10@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "690a5763-4215-4df2-93d5-aa0395f69bd5",
          "is_form_submitted": true,
          "textField5": "Jed Tresmanio",
          "select6": "no",
          "textField2": "Dr Jolyn Tay 64497",
          "textField4": "Level 4/Lambton House, 160 Lambton Quay, Wellington Central, Wellington 6011",
          "btnFormioSubmit": false,
          "textField": "null",
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddressFull": "20A Westbrook Place, Pomare, Rotorua 3015, Rotorua",
          "doctorsDirections": "ApplyToScalp",
          "DeliveryAddress1": "20A Westbrook Place, Pomare, Rotorua 3015",
          "DeliveryCity": "Rotorua",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": false,
          "RemainingBalance": -2,
          "ProductID": "null",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "WEL",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=026832c6-ac9d-4ba7-af98-0160f779bbf4&ServiceId=bd40d312-aa94-4846-a7af-0317831639d3&Service=Telehealth%20Re-Enrolment&GuestId=7be757f6-be36-4901-877c-9651f1391995&AppointmentId=0aa11815-fe32-4142-b40e-7df75b7aa934",
          "StartDate": "2026-04-29"
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "AppointmentID": "7f637d4e-b649-4cd7-8bc8-ae7601efefb1",
          "CustomerFirstName": "Harshana",
          "CustomerLastName": "Kosgodage",
          "CustomerCode": "WG4047",
          "CustomerID": "6f17bacf-11e9-4679-a1db-0c55311b0cd1",
          "CustomerDOB": "18/11/1985",
          "CustomerEmail": "harshanal@icloud.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "8a97ae57-5822-4438-b692-4913733872a1",
          "is_form_submitted": true,
          "textField5": "Harshana Kosgodage",
          "select6": "no",
          "textField2": "Dr Jolyn Tay 64497",
          "textField4": "Level 4/Lambton House, 160 Lambton Quay, Wellington Central, Wellington 6011",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "13 West Road, Northland, Wellington 6012",
          "DeliveryCity": "",
          "DeliveryAddressFull": "13 West Road, Northland, Wellington 6012",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 5,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "WEL",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=026832c6-ac9d-4ba7-af98-0160f779bbf4&ServiceId=64418d09-d7dd-45b5-a985-70ff46deb4df&Service=Doctor-First&GuestId=6f17bacf-11e9-4679-a1db-0c55311b0cd1&AppointmentId=7f637d4e-b649-4cd7-8bc8-ae7601efefb1",
          "StartDate": "2026-04-29"
        },
        "pairedItem": {
          "item": 6
        }
      },
      {
        "json": {
          "AppointmentID": "c5fc0dfb-b959-4959-a7d1-ba8f95efed2b",
          "CustomerFirstName": "Ben",
          "CustomerLastName": "Weeks",
          "CustomerCode": "WG2248",
          "CustomerID": "dc3b3b55-8ed3-474b-bc62-d5b49eabb9dd",
          "CustomerDOB": "10/01/2003",
          "CustomerEmail": "ben.weeks155@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "8a97ae57-5822-4438-b692-4913733872a1",
          "is_form_submitted": true,
          "textField5": "Ben Weeks",
          "select6": "no",
          "textField2": "Dr Jolyn Tay 64497",
          "textField4": "Level 4/Lambton House, 160 Lambton Quay, Wellington Central, Wellington 6011",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "6 Fallowfield Avenue",
          "DeliveryCity": "Wellington",
          "DeliveryAddressFull": "6 Fallowfield Avenue, Wellington",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 5,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "WEL",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=026832c6-ac9d-4ba7-af98-0160f779bbf4&ServiceId=bd40d312-aa94-4846-a7af-0317831639d3&Service=Telehealth%20Re-Enrolment&GuestId=dc3b3b55-8ed3-474b-bc62-d5b49eabb9dd&AppointmentId=c5fc0dfb-b959-4959-a7d1-ba8f95efed2b",
          "StartDate": "2026-04-29"
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "AppointmentID": "1d0235a4-66eb-4a6e-8b1d-d6e8a6fcc5e1",
          "CustomerFirstName": "Israel",
          "CustomerLastName": "Murtagh",
          "CustomerCode": "WG3778",
          "CustomerID": "c19c14d6-6d31-4cee-9fca-8a9310e4369c",
          "CustomerDOB": "08/09/2001",
          "CustomerEmail": "israelmurtagh@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "8a97ae57-5822-4438-b692-4913733872a1",
          "is_form_submitted": true,
          "textField5": "Israel Murtagh",
          "select6": "no",
          "textField2": "Dr Jolyn Tay 64497",
          "textField4": "Level 4/Lambton House, 160 Lambton Quay, Wellington Central, Wellington 6011",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "4 Sole Road,RD 23,Stratford 4393",
          "DeliveryCity": "Stratford",
          "DeliveryAddressFull": "4 Sole Road,RD 23,Stratford 4393, Stratford",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 5,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "WEL",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=026832c6-ac9d-4ba7-af98-0160f779bbf4&ServiceId=ea2fab22-be5f-4342-838d-1a4bcebe9618&Service=Telehealth%20Check-up&GuestId=c19c14d6-6d31-4cee-9fca-8a9310e4369c&AppointmentId=1d0235a4-66eb-4a6e-8b1d-d6e8a6fcc5e1",
          "StartDate": "2026-04-29"
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "AppointmentID": "42a6e859-c2fd-40f8-905c-d75f07c595ee",
          "CustomerFirstName": "Nicholas",
          "CustomerLastName": "Lawrence",
          "CustomerCode": "WG2480",
          "CustomerID": "b51a326d-d8bd-4865-8b39-f573911f4571",
          "CustomerDOB": "15/11/1986",
          "CustomerEmail": "Raven_1000@hotmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "8a97ae57-5822-4438-b692-4913733872a1",
          "is_form_submitted": true,
          "textField5": "Nicholas Lawrence",
          "select6": "no",
          "textField2": "Dr Jolyn Tay 64497",
          "textField4": "Level 4/Lambton House, 160 Lambton Quay, Wellington Central, Wellington 6011",
          "btnFormioSubmit": false,
          "textField": "null",
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddressFull": "15A Randwick Crescent, Moera, Lower Hutt 5010, Lower Hutt",
          "doctorsDirections": "ApplyToScalp",
          "DeliveryAddress1": "15A Randwick Crescent, Moera, Lower Hutt 5010",
          "DeliveryCity": "Lower Hutt",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": false,
          "RemainingBalance": -2,
          "ProductID": "null",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "WEL",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=026832c6-ac9d-4ba7-af98-0160f779bbf4&ServiceId=bd40d312-aa94-4846-a7af-0317831639d3&Service=Telehealth%20Re-Enrolment&GuestId=b51a326d-d8bd-4865-8b39-f573911f4571&AppointmentId=42a6e859-c2fd-40f8-905c-d75f07c595ee",
          "StartDate": "2026-04-29"
        },
        "pairedItem": {
          "item": 9
        }
      },
      {
        "json": {
          "AppointmentID": "a5be45c9-2262-4015-8600-f0358fde909c",
          "CustomerFirstName": "Andrew",
          "CustomerLastName": "Alevizos",
          "CustomerCode": "WG3243",
          "CustomerID": "224c045d-a15d-4aaf-891a-d411a15d2e3d",
          "CustomerDOB": "19/01/1987",
          "CustomerEmail": "andrew.alevizos@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "8a97ae57-5822-4438-b692-4913733872a1",
          "is_form_submitted": true,
          "textField5": "Andrew Alevizos",
          "select6": "no",
          "textField2": "Dr Jolyn Tay 64497",
          "textField4": "Level 4/Lambton House, 160 Lambton Quay, Wellington Central, Wellington 6011",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "1",
          "DeliveryAddress1": "22 Comber Place, Johnsonville, Wellington 6037",
          "DeliveryCity": "Wellington",
          "DeliveryAddressFull": "22 Comber Place, Johnsonville, Wellington 6037, Wellington",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 6,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "WEL",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=026832c6-ac9d-4ba7-af98-0160f779bbf4&ServiceId=e18c697e-da48-4aee-a7a5-a0fd6c6fc0f6&Service=Doctor%20Scripts%201mth&GuestId=224c045d-a15d-4aaf-891a-d411a15d2e3d&AppointmentId=a5be45c9-2262-4015-8600-f0358fde909c",
          "StartDate": "2026-04-29"
        },
        "pairedItem": {
          "item": 10
        }
      },
      {
        "json": {
          "AppointmentID": "6e2d254b-c6e0-4b17-af43-f3aadb7663bb",
          "CustomerFirstName": "Will",
          "CustomerLastName": "McLea",
          "CustomerCode": "WG3318",
          "CustomerID": "e6ceaac0-03dc-4661-9f84-b8f9b18e4eed",
          "CustomerDOB": "12/01/1986",
          "CustomerEmail": "willmclnz@hotmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "8a97ae57-5822-4438-b692-4913733872a1",
          "is_form_submitted": true,
          "textField5": "Will McLea",
          "select6": "no",
          "textField2": "Dr Jolyn Tay 64497",
          "textField4": "Level 4/Lambton House, 160 Lambton Quay, Wellington Central, Wellington 6011",
          "btnFormioSubmit": false,
          "textField": "null",
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddressFull": "109 Wadestown Road, Wadestown, Wellington 6012, Wellington",
          "doctorsDirections": "ApplyToScalp",
          "DeliveryAddress1": "109 Wadestown Road, Wadestown, Wellington 6012",
          "DeliveryCity": "Wellington",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": false,
          "RemainingBalance": -2,
          "ProductID": "null",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "WEL",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=026832c6-ac9d-4ba7-af98-0160f779bbf4&ServiceId=bd40d312-aa94-4846-a7af-0317831639d3&Service=Telehealth%20Re-Enrolment&GuestId=e6ceaac0-03dc-4661-9f84-b8f9b18e4eed&AppointmentId=6e2d254b-c6e0-4b17-af43-f3aadb7663bb",
          "StartDate": "2026-04-29"
        },
        "pairedItem": {
          "item": 11
        }
      }
    ]
  },
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "J83Enw8ArDSqhMCL",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-11T23:49:36.237Z",
      "createdAt": "2026-03-11T23:49:36.237Z",
      "role": "workflow:owner",
      "workflowId": "aLP8iKg4XVrp0KlB",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-30T04:26:54.782Z",
  "versionId": "50d3d5aa-f874-402c-a8df-c9d4536b4e58"
}