CHKmHQM7jE5vmIWd.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-16T04:34:46.000Z",
    "createdAt": "2026-04-16T04:34:38.357Z",
    "versionId": "ff575038-dddb-4a37-b3ba-cf8de4bf6c87",
    "workflowId": "CHKmHQM7jE5vmIWd",
    "nodes": [
      {
        "parameters": {
          "queue": "nz.zenoti.webhooks.telehealthfirst",
          "options": {}
        },
        "type": "n8n-nodes-base.rabbitmqTrigger",
        "typeVersion": 1,
        "position": [
          -224,
          -32
        ],
        "id": "3c53af20-8800-439a-8f0a-dc969cf87103",
        "name": "RabbitMQ Trigger",
        "credentials": {
          "rabbitmq": {
            "id": "yV61RlUAH8DmNI5J",
            "name": "RabbitMQ account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = $json.content;\nconst parsed = JSON.parse(raw);\n\nreturn [{ json: parsed }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          -32
        ],
        "id": "b5bf42bd-8518-4923-a223-f7f489be2673",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "operation": "deleteMessage"
        },
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1.1,
        "position": [
          224,
          -32
        ],
        "id": "66f29387-2605-4629-8b86-2ec719d96bc7",
        "name": "RabbitMQ",
        "credentials": {
          "rabbitmq": {
            "id": "yV61RlUAH8DmNI5J",
            "name": "RabbitMQ account"
          }
        }
      }
    ],
    "connections": {
      "RabbitMQ Trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "RabbitMQ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nicholas Ryall",
    "name": "Version ff575038",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "ff575038-dddb-4a37-b3ba-cf8de4bf6c87",
  "connections": {
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-16T04:34:30.219Z",
  "id": "CHKmHQM7jE5vmIWd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "NZ-RabbitMQCollector-TeleHealthFirst",
  "nodes": [
    {
      "parameters": {
        "queue": "nz.zenoti.webhooks.telehealthfirst",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -32
      ],
      "id": "3c53af20-8800-439a-8f0a-dc969cf87103",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "yV61RlUAH8DmNI5J",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content;\nconst parsed = JSON.parse(raw);\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -32
      ],
      "id": "b5bf42bd-8518-4923-a223-f7f489be2673",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "deleteMessage"
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        224,
        -32
      ],
      "id": "66f29387-2605-4629-8b86-2ec719d96bc7",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "yV61RlUAH8DmNI5J",
          "name": "RabbitMQ account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "J83Enw8ArDSqhMCL",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-04-16T04:34:30.221Z",
      "createdAt": "2026-04-16T04:34:30.221Z",
      "role": "workflow:owner",
      "workflowId": "CHKmHQM7jE5vmIWd",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-21T23:52:55.489Z",
      "createdAt": "2026-01-21T23:52:55.489Z",
      "id": "OXsRoYm7kDVlpgY1",
      "name": "NZ"
    },
    {
      "updatedAt": "2026-01-21T23:52:51.063Z",
      "createdAt": "2026-01-21T23:52:51.063Z",
      "id": "OuUcDlUQOF4Dgotd",
      "name": "MedOrder"
    },
    {
      "updatedAt": "2025-11-07T01:33:39.006Z",
      "createdAt": "2025-11-07T01:33:39.006Z",
      "id": "WIsNIXL4vR1ZWj36",
      "name": "Zenoti"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-16T04:34:41.106Z",
  "versionId": "ff575038-dddb-4a37-b3ba-cf8de4bf6c87"
}