E5bNgBCw1Kx9kXsE.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call 'Zenoti-GetAuthToken'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Zenoti-GetAuthToken'": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-07T02:29:02.167Z",
  "id": "E5bNgBCw1Kx9kXsE",
  "isArchived": false,
  "meta": null,
  "name": "Zenoti-SearchForGuest",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f5b1e64d-27da-4838-bb2a-26ffd60b1a28",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QA7Qdseg7ehAOWP6",
          "mode": "list",
          "cachedResultUrl": "/workflow/QA7Qdseg7ehAOWP6",
          "cachedResultName": "Zenoti-GetAuthToken"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "3b773b24-050f-4958-ae9e-b3459a6297b2",
      "name": "Call 'Zenoti-GetAuthToken'"
    },
    {
      "parameters": {
        "url": "https://api.zenoti.com/v1/guests/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "center_id",
              "value": "437772a1-e696-4a85-93e8-94a1b817702d"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "size",
              "value": "10"
            },
            {
              "name": "first_name"
            },
            {
              "name": "last_name"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "1c1e3a27-b359-43c4-ba42-c1286fea8f28",
      "name": "HTTP Request"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-07T02:29:02.174Z",
      "createdAt": "2025-11-07T02:29:02.174Z",
      "role": "workflow:owner",
      "workflowId": "E5bNgBCw1Kx9kXsE",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-07T01:33:39.006Z",
      "createdAt": "2025-11-07T01:33:39.006Z",
      "id": "WIsNIXL4vR1ZWj36",
      "name": "Zenoti"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-13T05:46:53.000Z",
  "versionId": "5f60a203-b902-40d0-9d4b-89f25f737089"
}