fhkDyShdvZfqX9V8.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-30T01:31:31.000Z",
    "createdAt": "2025-12-30T01:31:30.111Z",
    "versionId": "881b2f03-5696-4e8b-bf7c-d8ebbcf41669",
    "workflowId": "fhkDyShdvZfqX9V8",
    "nodes": [
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "O7QvEberheUcDwMp",
            "mode": "list",
            "cachedResultName": "ZenotiTokens",
            "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/O7QvEberheUcDwMp"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "TokenName",
                "keyValue": "access_token"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "TokenSecret": "={{ $json.credentials.access_token }}",
              "Token_Expiry": "={{ $json.credentials.access_token_expiry }}",
              "TokenName": "access_token"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "TokenName",
                "displayName": "TokenName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "TokenSecret",
                "displayName": "TokenSecret",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Token_Expiry",
                "displayName": "Token_Expiry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "dryRun": false
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -336,
          -272
        ],
        "id": "58b02968-b654-4266-ac48-1904bf7a3b5b",
        "name": "Update row(s)"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "O7QvEberheUcDwMp",
            "mode": "list",
            "cachedResultName": "ZenotiTokens",
            "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/O7QvEberheUcDwMp"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "TokenName",
                "keyValue": "refresh_token"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "TokenName": "refresh_token",
              "TokenSecret": "={{ $('HTTP Request').item.json.credentials.refresh_token }}",
              "Token_Expiry": "={{ $('HTTP Request').item.json.credentials.refresh_token_expiry }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "TokenName",
                "displayName": "TokenName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "TokenSecret",
                "displayName": "TokenSecret",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Token_Expiry",
                "displayName": "Token_Expiry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -112,
          -272
        ],
        "id": "94b19f0d-c155-4f72-b6c6-057281d3bad9",
        "name": "Update row(s)1"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "O7QvEberheUcDwMp",
            "mode": "list",
            "cachedResultName": "ZenotiTokens",
            "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/O7QvEberheUcDwMp"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "TokenName",
                "keyValue": "refresh_token"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -784,
          -272
        ],
        "id": "6f584374-47bf-4d80-ab4a-9a3ecbdecce5",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.zenoti.com/v1/tokens",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Encoding",
                "value": "gzip, deflate, br"
              },
              {
                "name": "Connection",
                "value": "keep-alive"
              },
              {
                "name": "User-Agent",
                "value": "EchoapiRuntime/1.1.0"
              },
              {
                "name": "accept",
                "value": "text/plain"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "refresh_token",
                "value": "={{ $json.TokenSecret }}"
              },
              {
                "name": "grant_type",
                "value": "refresh_token"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -560,
          -272
        ],
        "id": "6c2469f2-f529-4ba4-bb14-6eb6b2143481",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1008,
          -272
        ],
        "id": "4a6c8b14-b947-49d5-aa35-ed634f9cf0e9",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "Update row(s)": {
        "main": [
          [
            {
              "node": "Update row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Update row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nicholas Ryall",
    "name": "Version 881b2f03",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "881b2f03-5696-4e8b-bf7c-d8ebbcf41669",
  "connections": {
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-08T04:49:15.167Z",
  "id": "fhkDyShdvZfqX9V8",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Zenoti - Acces token renewal",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "O7QvEberheUcDwMp",
          "mode": "list",
          "cachedResultName": "ZenotiTokens",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/O7QvEberheUcDwMp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "TokenName",
              "keyValue": "access_token"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TokenSecret": "={{ $json.credentials.access_token }}",
            "Token_Expiry": "={{ $json.credentials.access_token_expiry }}",
            "TokenName": "access_token"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TokenName",
              "displayName": "TokenName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TokenSecret",
              "displayName": "TokenSecret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Token_Expiry",
              "displayName": "Token_Expiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "dryRun": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -336,
        -272
      ],
      "id": "58b02968-b654-4266-ac48-1904bf7a3b5b",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "O7QvEberheUcDwMp",
          "mode": "list",
          "cachedResultName": "ZenotiTokens",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/O7QvEberheUcDwMp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "TokenName",
              "keyValue": "refresh_token"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TokenName": "refresh_token",
            "TokenSecret": "={{ $('HTTP Request').item.json.credentials.refresh_token }}",
            "Token_Expiry": "={{ $('HTTP Request').item.json.credentials.refresh_token_expiry }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TokenName",
              "displayName": "TokenName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TokenSecret",
              "displayName": "TokenSecret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Token_Expiry",
              "displayName": "Token_Expiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -112,
        -272
      ],
      "id": "94b19f0d-c155-4f72-b6c6-057281d3bad9",
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "O7QvEberheUcDwMp",
          "mode": "list",
          "cachedResultName": "ZenotiTokens",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/O7QvEberheUcDwMp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "TokenName",
              "keyValue": "refresh_token"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -784,
        -272
      ],
      "id": "6f584374-47bf-4d80-ab4a-9a3ecbdecce5",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zenoti.com/v1/tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "User-Agent",
              "value": "EchoapiRuntime/1.1.0"
            },
            {
              "name": "accept",
              "value": "text/plain"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "refresh_token",
              "value": "={{ $json.TokenSecret }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -560,
        -272
      ],
      "id": "6c2469f2-f529-4ba4-bb14-6eb6b2143481",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1008,
        -272
      ],
      "id": "4a6c8b14-b947-49d5-aa35-ed634f9cf0e9",
      "name": "When Executed by Another Workflow"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-08T04:49:15.169Z",
      "createdAt": "2025-10-08T04:49:15.169Z",
      "role": "workflow:owner",
      "workflowId": "fhkDyShdvZfqX9V8",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-07T01:33:39.006Z",
      "createdAt": "2025-11-07T01:33:39.006Z",
      "id": "WIsNIXL4vR1ZWj36",
      "name": "Zenoti"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-30T01:31:30.109Z",
  "versionId": "881b2f03-5696-4e8b-bf7c-d8ebbcf41669"
}