FLBFfeEGJEKTmdk6.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-30T02:33:01.245Z",
  "id": "FLBFfeEGJEKTmdk6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AU - Client Summary Bot",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -48,
        -576
      ],
      "id": "1e6e82a6-7ea2-4be2-8ee9-a7878d61ab55",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        176,
        -576
      ],
      "id": "b917d61e-553e-41c3-979d-c054141bb461",
      "name": "Compression"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        -576
      ],
      "id": "c28410ee-acd7-4eee-861c-5d5910fff226",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        -576
      ],
      "id": "cb0dba33-3d82-47d0-a705-6fbb99319700",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        848,
        -576
      ],
      "id": "6c9609db-30ea-4fa6-808a-4a1b6de56cf5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "You are a helpful data analyst who helps us summarise data from a JSON extract, including personal details, appointments and medical orders.\n\nThis is for our sales staff to help better understand there next client. \n\nInstructions: \n- Treat the input strictly as JSON (keys and values) \n- Extract the client's full name - Extract the most recent visit date\n - Extract the package or membership the client is on \n- If a value is missing or not found, return \"Unknown\"\n- Do NOT invent or assume values \n- Format the date as YYYY-MM-DD \n- Provide a brief summary of this client that would be helpful for the next consultant to have before there appointment. This may include anything to note like allergies or change in medication.",
          "enableStreaming": true,
          "batching": {
            "batchSize": 3
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        -576
      ],
      "id": "e72b8f24-9753-48a4-bd26-da1f26c5130e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1088,
        -352
      ],
      "id": "48978155-7c6b-49c6-88f1-5a4b48077e03",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "KmxMUUWQnNSp3TRO",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message?.content || $input.first().json.content || \"\";\n\n// Turn escaped newlines into real ones and strip markdown\nconst text = raw\n  .replace(/\\\\n/g, \"\\n\")\n  .replace(/\\*\\*/g, \"\")\n  .trim();\n\nfunction extract(patterns, source) {\n  for (const pattern of patterns) {\n    const match = source.match(pattern);\n    if (match && match[1]) {\n      return match[1].trim();\n    }\n  }\n  return \"Unknown\";\n}\n\nconst fullName = extract([\n  /Full Name:\\s*(.+)/i,\n  /Client(?:'s)? Full Name:\\s*(.+)/i\n], text);\n\nconst packageName = extract([\n  /Package\\/Membership:\\s*(.+)/i,\n  /Package or Membership:\\s*(.+)/i,\n  /Package:\\s*(.+)/i\n], text);\n\nconst recentVisit = extract([\n  /most recent visit date is\\s*([0-9]{4}-[0-9]{2}-[0-9]{2})/i,\n  /Most Recent Visit Date:\\s*([0-9]{4}-[0-9]{2}-[0-9]{2})/i,\n  /last appointment was on\\s*([0-9]{4}-[0-9]{2}-[0-9]{2})/i\n], text);\n\nlet summary = extract([\n  /Based on the available information, here is a brief summary of this client:\\s*([\\s\\S]*?)(?:If there are no more appointments available|$)/i,\n  /Brief Summary for Next Consultant\\s*([\\s\\S]*?)(?:If there are no more appointments available|$)/i\n], text);\n\nsummary = summary\n  .replace(/^[:\\-\\s]+/, \"\")\n  .trim();\n\nconst bookingLineMatch = text.match(/(If there are no more appointments available,.*)/i);\nconst bookingLine = bookingLineMatch ? bookingLineMatch[1].trim() : \"Unknown\";\n\nconst formattedOutput = `Based on the provided JSON data, here are the extracted information and client summary:\n\n\nClient Details\n\n\nFull Name: ${fullName}\n\nPackage/Membership: ${packageName}\n\n\nMost Recent Visit Date\n\n\nThe most recent visit date is ${recentVisit}.\n\n\nBrief Summary for Next Consultant\n\n\nBased on the available information, here is a brief summary of this client:\n\n\n${summary}\n\n\n${bookingLine}`;\n\nreturn [\n  {\n    json: {\n      formattedOutput\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        -576
      ],
      "id": "21163a1d-0991-45cb-9855-d5849a8e8339",
      "name": "Code in JavaScript"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "fileCount": 6
        },
        "binary": {
          "data": {
            "mimeType": "application/zip",
            "fileExtension": "zip",
            "data": "filesystem-v2",
            "fileName": "DNG4530.zip",
            "id": "filesystem-v2:workflows/8NLNoWIQWQzqvhST/executions/23979/binary_data/d78f5d58-4e9a-4b80-87fb-d78bf6ea549b",
            "fileSize": "164 kB",
            "bytes": 163688
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-30T02:33:01.247Z",
      "createdAt": "2026-03-30T02:33:01.247Z",
      "role": "workflow:owner",
      "workflowId": "FLBFfeEGJEKTmdk6",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-21T02:45:26.331Z",
  "versionId": "627ace09-7936-4a6f-866b-940da896aee5"
}