gMY5EQOnHGAskcYe.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "UpdateTable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateTable": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-18T02:44:43.830Z",
  "id": "gMY5EQOnHGAskcYe",
  "isArchived": false,
  "meta": null,
  "name": "Zenoti AUD - UpdateTables",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        80
      ],
      "id": "9b492eb8-6497-43bf-a411-01df524c78f5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "lsINP70DmcZtIj4M",
          "mode": "list",
          "cachedResultName": "ZenotiClinics",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/lsINP70DmcZtIj4M"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Country_Code",
              "keyValue": "AU"
            },
            {
              "keyName": "code",
              "keyValue": "SM"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        224,
        80
      ],
      "id": "fefd5245-10c3-4c0f-8536-6b749f792684",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        80
      ],
      "id": "ea2055b2-c722-498d-abcb-66b813d910e1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $json.table_id }}",
          "mode": "id"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        912,
        176
      ],
      "id": "5f97e8a6-0b12-469f-b023-3962c65b69ee",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.table_id }}",
          "mode": "id"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AddedtoExcel": "True"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client_ID",
              "displayName": "Client_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Zenoti_ID",
              "displayName": "Zenoti_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Clinic_name",
              "displayName": "Clinic_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client_DOB",
              "displayName": "Client_DOB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client_Code",
              "displayName": "Client_Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client_Tags",
              "displayName": "Client_Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client_FirstName",
              "displayName": "Client_FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client_LastName",
              "displayName": "Client_LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "GuestFormSubmitted",
              "displayName": "GuestFormSubmitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PostalCode",
              "displayName": "PostalCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PreviousSteps",
              "displayName": "PreviousSteps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HearAboutus",
              "displayName": "HearAboutus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HeartDisease",
              "displayName": "HeartDisease",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HighBlood",
              "displayName": "HighBlood",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LivKidProstate",
              "displayName": "LivKidProstate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Diabetes",
              "displayName": "Diabetes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Thyriod",
              "displayName": "Thyriod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AnemiaIron",
              "displayName": "AnemiaIron",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PyschiatricCon",
              "displayName": "PyschiatricCon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Dermatitis",
              "displayName": "Dermatitis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Psoriasis",
              "displayName": "Psoriasis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Eczema",
              "displayName": "Eczema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Dandruff",
              "displayName": "Dandruff",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ItchyScalp",
              "displayName": "ItchyScalp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DryScalp",
              "displayName": "DryScalp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "OilyScalp",
              "displayName": "OilyScalp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HairLoss",
              "displayName": "HairLoss",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "OtherCondition",
              "displayName": "OtherCondition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "RecEmoIllSur",
              "displayName": "RecEmoIllSur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AttemptConceive",
              "displayName": "AttemptConceive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "OtherMedical",
              "displayName": "OtherMedical",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MedicationIntake",
              "displayName": "MedicationIntake",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SteriodTest",
              "displayName": "SteriodTest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AllericMedic",
              "displayName": "AllericMedic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SpecificDiet",
              "displayName": "SpecificDiet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ConditionPresent",
              "displayName": "ConditionPresent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AgeRange",
              "displayName": "AgeRange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Treatment",
              "displayName": "Treatment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "MedicalHistory",
              "displayName": "MedicalHistory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FamilyHistory",
              "displayName": "FamilyHistory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AddedtoExcel",
              "displayName": "AddedtoExcel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1408,
        320
      ],
      "id": "b4fab369-2c98-4d1c-ab06-23d8fa7a8fd0",
      "name": "UpdateTable"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        240
      ],
      "id": "9f62a11e-1552-43e1-bf49-acd7ad34b2d9",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a5a0c9cf-4624-4a8f-b7b8-287f37ea4d46",
              "leftValue": "={{ $json.code }}",
              "rightValue": "AD",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "2a717242-f3cb-4476-bde8-fe4f3143b5cd",
              "leftValue": "={{ $json.code }}",
              "rightValue": "=BB",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "875dd24b-b074-4fa2-abb2-b60b46f0c5aa",
              "leftValue": "={{ $json.code }}",
              "rightValue": "CB",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "16844515-b7f2-4e79-8da2-989b250f11e2",
              "leftValue": "={{ $json.code }}",
              "rightValue": "CW",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "f1591775-d9d3-49b1-81ad-376b23a6b72f",
              "leftValue": "={{ $json.code }}",
              "rightValue": "DN",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "8a98d97d-7301-499b-9e48-47ef8f0fad06",
              "leftValue": "={{ $json.code }}",
              "rightValue": "GS",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "c1dc84a9-1351-4c4c-b035-dc7dedbb2181",
              "leftValue": "={{ $json.code }}",
              "rightValue": "GC",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9f30a19e-f3ef-4149-af5a-97472535447a",
              "leftValue": "={{ $json.code }}",
              "rightValue": "HV",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "86b3c8a4-3f04-492e-a252-8c41da64d98c",
              "leftValue": "={{ $json.code }}",
              "rightValue": "JD",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "07bbaa24-1cfe-4fd5-b0b0-60a770f5c15e",
              "leftValue": "={{ $json.code }}",
              "rightValue": "NC",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        448,
        80
      ],
      "id": "cf38aa85-1b3e-4018-990d-40dc5056ef46",
      "name": "Filter"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-18T02:44:43.833Z",
      "createdAt": "2026-02-18T02:44:43.833Z",
      "role": "workflow:owner",
      "workflowId": "gMY5EQOnHGAskcYe",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-18T07:29:04.647Z",
  "versionId": "39232859-d4b6-47cf-bfdb-5f32c584f47f"
}