Gu25uuubt2gQ45IW.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Call 'Zenoti-GetAuthToken'",
            "type": "main",
            "index": 0
          },
          {
            "node": "StripCSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Zenoti-GetAuthToken'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "GetClinicName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchCustomer": {
      "main": [
        [
          {
            "node": "Check Patient Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StripCSV": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Clinic Products": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        []
      ]
    },
    "HelixOrderedClinic": {
      "main": [
        [
          {
            "node": "SearchCustomer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetClinicName": {
      "main": [
        [
          {
            "node": "HelixOrderedClinic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Patient Match": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-05T04:08:21.849Z",
  "id": "Gu25uuubt2gQ45IW",
  "isArchived": false,
  "meta": null,
  "name": "Helix-MedOrderImport",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AU Med Order",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Med-Order-Import",
              "fieldType": "file"
            }
          ]
        },
        "options": {
          "path": "AUMedOrder"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -32,
        16
      ],
      "id": "2b3f898a-13a7-4d8c-9fc2-fe1865de8fcc",
      "name": "On form submission",
      "webhookId": "7af26175-b54d-4f47-a8d4-cacfaa666f49"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QA7Qdseg7ehAOWP6",
          "mode": "list",
          "cachedResultUrl": "/workflow/QA7Qdseg7ehAOWP6",
          "cachedResultName": "Zenoti-GetAuthToken"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        -128
      ],
      "id": "7471d393-0a5c-444d-8cea-6319f36500d3",
      "name": "Call 'Zenoti-GetAuthToken'"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        752,
        64
      ],
      "id": "2706df69-2827-4580-9408-f20106fd5602",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a5321d3-cb69-464b-8f58-a18477c5e1cd",
              "name": "TokenSecret",
              "value": "={{ $json.TokenSecret }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -128
      ],
      "id": "febbdc7a-cb3d-4270-94dd-472d11edf819",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        64
      ],
      "id": "d3f35cf2-4dae-4707-acf1-3a58e4ce37da",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://api.zenoti.com/v1/guests/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "size",
              "value": "10"
            },
            {
              "name": "first_name",
              "value": "={{ $('Loop Over Items').item.json.PatientFirstName }}"
            },
            {
              "name": "last_name",
              "value": "={{ $('Loop Over Items').item.json.PatientSurname }}"
            },
            {
              "name": "expand",
              "value": "address_info"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Loop Over Items').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        80
      ],
      "id": "43a72754-7a00-45d0-b794-ded71407d717",
      "name": "SearchCustomer",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\n// Mode: Run Once for All Items\n\nconst binaryFieldName = 'Med_Order_Import';\n\nfunction parseCsvLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n    const nextChar = line[i + 1];\n\n    if (char === '\"' && inQuotes && nextChar === '\"') {\n      current += '\"';\n      i++;\n    } else if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      result.push(current.trim());\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n\n  result.push(current.trim());\n  return result;\n}\n\nconst item = $input.first();\n\nif (!item.binary?.[binaryFieldName]) {\n  return [\n    {\n      json: {\n        success: false,\n        error: `Binary field \"${binaryFieldName}\" was not found on the current input item.`,\n        availableBinaryFields: Object.keys(item.binary || {}),\n        note: 'The binary file must flow into this Code node. Use a Merge node or preserve binary data in the previous node.',\n      },\n    },\n  ];\n}\n\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryFieldName);\nconst csvText = buffer.toString('utf8');\n\nconst rawLines = csvText.split(/\\r?\\n/);\n\nconst lines = rawLines\n  .map(line => line.trim())\n  .filter(line => line !== '');\n\n// Drop first line: Results\nconst usefulLines = lines.slice(1);\n\n// Stop at Metadata\nconst metadataIndex = usefulLines.findIndex(line =>\n  line.toLowerCase().startsWith('metadata')\n);\n\nconst dataSection = metadataIndex >= 0\n  ? usefulLines.slice(0, metadataIndex)\n  : usefulLines;\n\nif (dataSection.length === 0) {\n  return [\n    {\n      json: {\n        success: false,\n        message: 'CSV was read, but no usable data section was found.',\n        preview: rawLines.slice(0, 10),\n      },\n    },\n  ];\n}\n\nconst headers = parseCsvLine(dataSection[0]);\nconst dataRows = dataSection.slice(1);\n\nconst output = [];\n\nfor (const row of dataRows) {\n  const values = parseCsvLine(row);\n\n  const hasData = values.some(value => value !== '');\n\n  if (!hasData) {\n    continue;\n  }\n\n  const obj = {};\n\n  headers.forEach((header, index) => {\n    if (header) {\n      obj[header] = values[index] || '';\n    }\n  });\n\n  output.push({\n    json: obj,\n  });\n}\n\nif (output.length === 0) {\n  return [\n    {\n      json: {\n        success: true,\n        rowsFound: 0,\n        message: 'CSV was read successfully, but there were no prescription rows before the Metadata section.',\n        headersFound: headers,\n        preview: rawLines.slice(0, 10),\n      },\n    },\n  ];\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        176
      ],
      "id": "13320ba9-2ac2-4966-a476-68165b4bdd8f",
      "name": "StripCSV"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/centers/{{ $('HelixOrderedClinic').item.json.Zenoti_ID }}/products",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "size",
              "value": "100"
            },
            {
              "name": "show_in_catalog",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Loop Over Items').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": "={{ Math.ceil(Number($response.body.page_info.total) / Number($response.body.page_info.size)) }}\n",
              "requestInterval": 1000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2352,
        -576
      ],
      "id": "2f1a6ce3-658c-4dc9-840e-0ec48692f1dc",
      "name": "Get Clinic Products"
    },
    {
      "parameters": {
        "fieldToSplitOut": "products",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2560,
        -576
      ],
      "id": "fb704e62-e6c1-47a3-8865-568960a1d005",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "content": "## Get Clinics Prodcuts and Filter Down to correct",
        "height": 272,
        "width": 704,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2304,
        -688
      ],
      "typeVersion": 1,
      "id": "67e08b15-1ce0-4042-a698-e9ddfc15f9a0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "guests",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1184,
        -592
      ],
      "id": "c8867c55-79f8-49ba-8edb-6ad19445cf71",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9a883484-6ff7-449f-9ca0-990b23bbdfa6",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Loop Over Items').item.json.DrugName }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2768,
        -576
      ],
      "id": "6362e36c-a288-48f0-a4eb-69641a4ffb04",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "lsINP70DmcZtIj4M",
          "mode": "list",
          "cachedResultName": "ZenotiClinics",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/lsINP70DmcZtIj4M"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "ilike",
              "keyValue": "={{ $json.ClinicName }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1392,
        80
      ],
      "id": "783b10d4-6eaf-402c-a72a-f67d1b3ed966",
      "name": "HelixOrderedClinic"
    },
    {
      "parameters": {
        "jsCode": "const centreName = $input.first().json.CentreName || '';\n\nconst clinicName = centreName\n  .replace(/^Ashley\\s*&\\s*Martin\\s*-\\s*/i, '')\n  .trim();\n\nreturn [\n  {\n    json: {\n      ClinicName: clinicName,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        80
      ],
      "id": "31b7998a-a5f0-45ad-8a59-56e42a506188",
      "name": "GetClinicName"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\n// Name: Check Patient Match\n// Mode: Run Once for Each Item\n\nconst searchResponse = $json;\n\n// Original CSV / Helix row\nconst source = $('Loop Over Items').item.json;\n\nconst searched = {\n  PatientFirstName: source.PatientFirstName || '',\n  PatientSurname: source.PatientSurname || '',\n  PatientDateOfBirth: source.PatientDateOfBirth || '',\n  PatientEmail: source.PatientEmail || '',\n  PatientId: source.PatientId || '',\n  DrugName: source.DrugName || '',\n  CentreName: source.CentreName || '',\n};\n\n// Zenoti may return guests directly, or nested depending on response\nconst guests =\n  searchResponse.guests ||\n  searchResponse.data?.guests ||\n  searchResponse.value ||\n  [];\n\nfunction clean(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase();\n}\n\nfunction normaliseDate(value) {\n  if (!value) return '';\n\n  const raw = String(value).trim();\n\n  // Handles DD/MM/YYYY\n  const auMatch = raw.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n  if (auMatch) {\n    const [, d, m, y] = auMatch;\n    return `${y}-${m.padStart(2, '0')}-${d.padStart(2, '0')}`;\n  }\n\n  // Handles YYYY-MM-DD or ISO dates\n  const isoMatch = raw.match(/^(\\d{4})-(\\d{2})-(\\d{2})/);\n  if (isoMatch) {\n    return `${isoMatch[1]}-${isoMatch[2]}-${isoMatch[3]}`;\n  }\n\n  return clean(raw);\n}\n\nconst searchedFirst = clean(searched.PatientFirstName);\nconst searchedLast = clean(searched.PatientSurname);\nconst searchedDob = normaliseDate(searched.PatientDateOfBirth);\nconst searchedEmail = clean(searched.PatientEmail);\n\nfunction getGuestFirstName(guest) {\n  return guest.first_name || guest.firstname || guest.firstName || '';\n}\n\nfunction getGuestLastName(guest) {\n  return guest.last_name || guest.lastname || guest.lastName || '';\n}\n\nfunction getGuestDob(guest) {\n  return (\n    guest.date_of_birth ||\n    guest.dateOfBirth ||\n    guest.dob ||\n    guest.birth_date ||\n    ''\n  );\n}\n\nfunction getGuestEmail(guest) {\n  return (\n    guest.email ||\n    guest.email_address ||\n    guest.personal_info?.email ||\n    ''\n  );\n}\n\nfunction getGuestPhone(guest) {\n  return (\n    guest.mobile_phone ||\n    guest.phone ||\n    guest.phone_number ||\n    guest.personal_info?.mobile_phone ||\n    ''\n  );\n}\n\nfunction getGuestCenter(guest) {\n  return (\n    guest.center_name ||\n    guest.center?.name ||\n    guest.home_center_name ||\n    ''\n  );\n}\n\nfunction isPerfectMatch(guest) {\n  const guestFirst = clean(getGuestFirstName(guest));\n  const guestLast = clean(getGuestLastName(guest));\n  const guestDob = normaliseDate(getGuestDob(guest));\n  const guestEmail = clean(getGuestEmail(guest));\n\n  const nameMatches =\n    guestFirst === searchedFirst &&\n    guestLast === searchedLast;\n\n  const dobMatches =\n    searchedDob &&\n    guestDob &&\n    searchedDob === guestDob;\n\n  const emailMatches =\n    searchedEmail &&\n    guestEmail &&\n    searchedEmail === guestEmail;\n\n  // Best rule:\n  // exact first name + exact last name + DOB\n  // or exact first name + exact last name + email\n  return nameMatches && (dobMatches || emailMatches);\n}\n\nconst perfectMatches = guests.filter(isPerfectMatch);\n\nlet matchStatus;\nlet matchedGuest = null;\n\nif (guests.length === 0) {\n  matchStatus = 'NO_MATCH';\n} else if (perfectMatches.length === 1) {\n  matchStatus = 'PERFECT_MATCH';\n  matchedGuest = perfectMatches[0];\n} else if (guests.length >= 2) {\n  matchStatus = 'MULTIPLE_MATCHES';\n} else {\n  matchStatus = 'SINGLE_REVIEW';\n}\n\nconst candidates = guests.map((guest, index) => ({\n  row: index + 1,\n  zenotiGuestId: guest.id || guest.guest_id || guest.guestId || '',\n  firstName: getGuestFirstName(guest),\n  lastName: getGuestLastName(guest),\n  dob: getGuestDob(guest),\n  email: getGuestEmail(guest),\n  phone: getGuestPhone(guest),\n  center: getGuestCenter(guest),\n}));\n\nconst candidatesHtmlRows = candidates.map(candidate => `\n<tr>\n  <td>${candidate.row}</td>\n  <td>${candidate.zenotiGuestId}</td>\n  <td>${candidate.firstName}</td>\n  <td>${candidate.lastName}</td>\n  <td>${candidate.dob}</td>\n  <td>${candidate.email}</td>\n  <td>${candidate.phone}</td>\n  <td>${candidate.center}</td>\n</tr>\n`).join('');\n\nconst candidatesHtmlTable = `\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\">\n  <thead>\n    <tr>\n      <th>#</th>\n      <th>Zenoti Guest ID</th>\n      <th>First Name</th>\n      <th>Last Name</th>\n      <th>DOB</th>\n      <th>Email</th>\n      <th>Phone</th>\n      <th>Clinic / Centre</th>\n    </tr>\n  </thead>\n  <tbody>\n    ${candidatesHtmlRows || `\n      <tr>\n        <td colspan=\"8\">No Zenoti guests found</td>\n      </tr>\n    `}\n  </tbody>\n</table>\n`;\n\nreturn {\n  json: {\n    ...source,\n\n    matchStatus,\n    matchCount: guests.length,\n    perfectMatchCount: perfectMatches.length,\n\n    searchedPatient: searched,\n\n    matchedGuestId: matchedGuest?.id || matchedGuest?.guest_id || matchedGuest?.guestId || '',\n    matchedGuest,\n\n    candidates,\n    candidatesHtmlTable,\n\n    reviewRequired: matchStatus !== 'PERFECT_MATCH',\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        80
      ],
      "id": "e5097719-8413-42af-89d5-6bed4663b060",
      "name": "Check Patient Match"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.matchStatus }}",
                    "rightValue": "PERFECT_MATCH",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d019ebf6-7738-4743-8cc1-2683617da23d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "133a0ec2-ff34-4f4d-993d-24b89bae6f8c",
                    "leftValue": "={{ $json.matchStatus }}",
                    "rightValue": "NO_MATCH",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a0cd9c3f-86b8-4ea1-b941-ac9ff0459ad9",
                    "leftValue": "={{ $json.matchStatus }}",
                    "rightValue": "MULTIPLE_MATCHES",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "13ea9135-62f4-4ea8-a19c-959f37f492ba",
                    "leftValue": "={{ $json.matchStatus }}",
                    "rightValue": "SINGLE_REVIEW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2384,
        48
      ],
      "id": "d8917cdf-2dff-4e98-b40a-4b568a7d63c7",
      "name": "Switch"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-06-05T04:08:21.851Z",
      "createdAt": "2026-06-05T04:08:21.851Z",
      "role": "workflow:owner",
      "workflowId": "Gu25uuubt2gQ45IW",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-06-23T07:20:53.826Z",
      "createdAt": "2026-06-23T07:20:53.826Z",
      "id": "IGQhT6ige0xQKnQ9",
      "name": "Helix"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-06-23T07:43:10.086Z",
  "versionId": "c255c26c-a96b-4c23-8f0e-dd09857d128b"
}