jodn6QGaZRkDNvIn.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-12T00:00:03.000Z",
    "createdAt": "2026-03-12T00:00:02.411Z",
    "versionId": "2753d09a-fd49-4664-988b-2ae88f43dd7c",
    "workflowId": "jodn6QGaZRkDNvIn",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "14d0a721-3b3b-4caf-849d-d20b887bfeca",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "46a4d344-6343-4cdd-861c-420b8df2c7f9",
                "leftValue": "={{ $json.perfectrun }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          464,
          16
        ],
        "id": "4d7d2d21-822d-4f98-b2da-3ba3d203d263",
        "name": "Filter",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          640,
          16
        ],
        "id": "bbc9557c-e136-414a-b499-7e27c1996ea1",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "STUF6Fz9PaFzUwRx",
            "mode": "list",
            "cachedResultUrl": "/workflow/STUF6Fz9PaFzUwRx",
            "cachedResultName": "Zenoti - Order Meds"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1232,
          144
        ],
        "id": "029e7e4e-eb8a-4914-81be-a1e9b50cd92c",
        "name": "Call 'Zenoti - Order Meds'",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          912,
          80
        ],
        "id": "a5f04c73-848f-466e-ad97-86e06e355bd9",
        "name": "Wait",
        "webhookId": "9ad9ec32-bb7e-4dc8-9b16-6bbe81cd24d5"
      },
      {
        "parameters": {
          "content": "## Collects Orders Prior to Order",
          "height": 464,
          "width": 256
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -48,
          -80
        ],
        "typeVersion": 1,
        "id": "fe74b92e-a2b7-4b8e-85a1-6bbb36cf7e0f",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Filter used if needed remove un required Med orders",
          "height": 464,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          208,
          -80
        ],
        "typeVersion": 1,
        "id": "aafeb1f9-324d-4822-bcb8-8a3a4c142010",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Loop used to kick orders back onto the path. Filter in here removes orders that would of potentially already run",
          "height": 464,
          "width": 960
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          448,
          -80
        ],
        "typeVersion": 1,
        "id": "2b1b7659-1000-4807-a7cf-6eeb97d245fb",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## This flow is a back up to grab and store all info. If the previous flow fails we start there but this allows a cleaner re-start",
          "width": 1456,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -48,
          -240
        ],
        "typeVersion": 1,
        "id": "d92c57cc-eb8c-4af4-bc9f-e039ab167292",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "46a4d344-6343-4cdd-861c-420b8df2c7f9",
                "leftValue": "={{ $json.perfectrun }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          256,
          112
        ],
        "id": "7a9a248b-ddb6-4dd7-8875-086b2f29e82a",
        "name": "Filter1",
        "alwaysOutputData": true
      }
    ],
    "connections": {
      "Filter": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Call 'Zenoti - Order Meds'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Zenoti - Order Meds'": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter1": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          []
        ]
      }
    },
    "authors": "Nicholas Ryall",
    "name": "Version 2753d09a",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "2753d09a-fd49-4664-988b-2ae88f43dd7c",
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Call 'Zenoti - Order Meds'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Zenoti - Order Meds'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Skip X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip X": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-09T05:11:24.024Z",
  "id": "jodn6QGaZRkDNvIn",
  "isArchived": false,
  "meta": null,
  "name": "ZenotiNZ-MedOrderBackUp",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        64
      ],
      "id": "14d0a721-3b3b-4caf-849d-d20b887bfeca",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "46a4d344-6343-4cdd-861c-420b8df2c7f9",
              "leftValue": "={{ $json.perfectrun }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        464,
        16
      ],
      "id": "4d7d2d21-822d-4f98-b2da-3ba3d203d263",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        16
      ],
      "id": "bbc9557c-e136-414a-b499-7e27c1996ea1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "STUF6Fz9PaFzUwRx",
          "mode": "list",
          "cachedResultUrl": "/workflow/STUF6Fz9PaFzUwRx",
          "cachedResultName": "Zenoti - Order Meds"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        144
      ],
      "id": "029e7e4e-eb8a-4914-81be-a1e9b50cd92c",
      "name": "Call 'Zenoti - Order Meds'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        912,
        80
      ],
      "id": "a5f04c73-848f-466e-ad97-86e06e355bd9",
      "name": "Wait",
      "webhookId": "9ad9ec32-bb7e-4dc8-9b16-6bbe81cd24d5"
    },
    {
      "parameters": {
        "content": "## Collects Orders Prior to Order",
        "height": 464,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -80
      ],
      "typeVersion": 1,
      "id": "fe74b92e-a2b7-4b8e-85a1-6bbb36cf7e0f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Filter used if needed remove un required Med orders",
        "height": 464,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        -80
      ],
      "typeVersion": 1,
      "id": "aafeb1f9-324d-4822-bcb8-8a3a4c142010",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Loop used to kick orders back onto the path. Filter in here removes orders that would of potentially already run",
        "height": 464,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        -80
      ],
      "typeVersion": 1,
      "id": "2b1b7659-1000-4807-a7cf-6eeb97d245fb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## This flow is a back up to grab and store all info. If the previous flow fails we start there but this allows a cleaner re-start",
        "width": 1456,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -240
      ],
      "typeVersion": 1,
      "id": "d92c57cc-eb8c-4af4-bc9f-e039ab167292",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "46a4d344-6343-4cdd-861c-420b8df2c7f9",
              "leftValue": "={{ $json.perfectrun }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        256,
        112
      ],
      "id": "7a9a248b-ddb6-4dd7-8875-086b2f29e82a",
      "name": "Filter1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const skip = 12; // number of items to remove from the start\n\nreturn $input.all().slice(skip);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        432
      ],
      "id": "fc931219-f318-4dd8-aa94-2801dbe02e9f",
      "name": "Skip X"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "AppointmentID": "d36914e2-a2b9-438f-807a-02254dc09369",
          "CustomerFirstName": "Benjamin",
          "CustomerLastName": "Erceg",
          "CustomerCode": "AK6921",
          "CustomerID": "3f890cf5-c54c-4291-bd21-a6d153fae7fc",
          "CustomerDOB": "10/05/2002",
          "CustomerEmail": "benerceg7@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Benjamin Erceg",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150 ",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "clinic",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "1",
          "DeliveryAddress1": "L6/5 Short Street, Newmarket, Auckland 1010",
          "DeliverySuburb": "Newmarket",
          "DeliveryCity": "Auckland",
          "DeliveryPostcode": "1023",
          "DeliveryAddressFull": "L6/5 Short Street, Newmarket, Auckland 1010, Newmarket, Auckland, 1023",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 4,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=e18c697e-da48-4aee-a7a5-a0fd6c6fc0f6&Service=Doctor%20Scripts%201mth&GuestId=3f890cf5-c54c-4291-bd21-a6d153fae7fc&AppointmentId=d36914e2-a2b9-438f-807a-02254dc09369",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "AppointmentID": "87d4b81c-31d6-464e-bd64-206a9b4c60b0",
          "CustomerFirstName": "Max",
          "CustomerLastName": "Robertson",
          "CustomerCode": "HM2281",
          "CustomerID": "77fa8151-c01b-48b1-911b-ded8166e1b0b",
          "CustomerDOB": "23/08/2001",
          "CustomerEmail": "Maxrob113@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "690a5763-4215-4df2-93d5-aa0395f69bd5",
          "is_form_submitted": true,
          "textField5": "Max Robertson",
          "select6": "no",
          "textField2": "Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "734 Koi Road, RD 1",
          "DeliveryCity": "Gore",
          "DeliveryAddressFull": "734 Koi Road, RD 1, Gore",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "packagesavailable": false,
          "paidinfull": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=cf690070-2b50-484d-9ec9-67c786576eb6&Service=Doctor%20Scripts%208mth&GuestId=77fa8151-c01b-48b1-911b-ded8166e1b0b&AppointmentId=87d4b81c-31d6-464e-bd64-206a9b4c60b0",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "AppointmentID": "ff26c92d-47ae-43cb-8bb1-3b7a5d2bfaed",
          "CustomerFirstName": "Angus",
          "CustomerLastName": "Wallis",
          "CustomerCode": "AK8956",
          "CustomerID": "423c7da7-515d-4959-9770-954d5e8d3d42",
          "CustomerDOB": "05/08/2002",
          "CustomerEmail": "a.wallis5802@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Angus Wallis",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150 ",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "clinic",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "L6/5 Short Street, Newmarket, Auckland 1010",
          "DeliverySuburb": "Newmarket",
          "DeliveryCity": "Auckland",
          "DeliveryPostcode": "1023",
          "DeliveryAddressFull": "L6/5 Short Street, Newmarket, Auckland 1010, Newmarket, Auckland, 1023",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 5,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=e18c697e-da48-4aee-a7a5-a0fd6c6fc0f6&Service=Doctor%20Scripts%201mth&GuestId=423c7da7-515d-4959-9770-954d5e8d3d42&AppointmentId=ff26c92d-47ae-43cb-8bb1-3b7a5d2bfaed",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "AppointmentID": "42496a75-11b7-4c43-9f21-3fb8b381452f",
          "CustomerFirstName": "Insu",
          "CustomerLastName": "Kim",
          "CustomerCode": "30847-GAK",
          "CustomerID": "f88ed194-de67-4c72-b7ee-6a0fb18466c1",
          "CustomerDOB": "29/04/1972",
          "CustomerEmail": "imichaell@live.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Insu Kim",
          "select6": "yes",
          "textField2": "Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "select19": "CutTablets",
          "textField27": "1",
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcidLotion",
          "quantity": "2",
          "DeliveryAddress1": "52 Gold Street",
          "DeliveryCity": "Albany Heights",
          "DeliveryAddressFull": "52 Gold Street, Albany Heights",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid Lotion",
          "ZenotiProductName": "Minoxidil Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 2,
          "ProductID": "3d3c7e51-785f-4297-8ec8-71661a58bc1d",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=2c75ccbc-e2e5-4dcf-b3a7-19e9cd195eb3&Service=Doctor%20Scripts%204mth&GuestId=f88ed194-de67-4c72-b7ee-6a0fb18466c1&AppointmentId=42496a75-11b7-4c43-9f21-3fb8b381452f",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "AppointmentID": "22eb6276-80fc-4c67-89fa-4b09d5e0c23f",
          "CustomerFirstName": "Luke",
          "CustomerLastName": "Edwards",
          "CustomerCode": "HM2359",
          "CustomerID": "954a4f18-a69c-414b-abe7-154b3db4d28e",
          "CustomerDOB": "02/08/1994",
          "CustomerEmail": "newlookpropertymain@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "690a5763-4215-4df2-93d5-aa0395f69bd5",
          "is_form_submitted": true,
          "textField5": "Luke Edwards",
          "select6": "no",
          "textField2": "Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "54 Ohinewai South Road",
          "DeliveryCity": "",
          "DeliveryAddressFull": "54 Ohinewai South Road",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "packagesavailable": false,
          "paidinfull": true,
          "CLinicABB": "AUC"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "AppointmentID": "c46bd4b0-7adf-4009-9ebb-566f73bff5d8",
          "CustomerFirstName": "Shaun",
          "CustomerLastName": "Allen",
          "CustomerCode": "1000273019-GHM",
          "CustomerID": "8b9dbabd-7475-414c-bf6b-36bf57fdf79f",
          "CustomerDOB": "25/07/1985",
          "CustomerEmail": "shaunallen717@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "690a5763-4215-4df2-93d5-aa0395f69bd5",
          "is_form_submitted": true,
          "textField5": "Shaun Allen",
          "select6": "no",
          "textField2": "Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "886 Otewa Road",
          "DeliveryCity": "Otorohanga",
          "DeliveryAddressFull": "886 Otewa Road, Otorohanga",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "packagesavailable": false,
          "paidinfull": true,
          "CLinicABB": "AUC"
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "AppointmentID": "26c36a49-391b-4e6f-93b7-7320f715edbf",
          "CustomerFirstName": "Kritesh",
          "CustomerLastName": "Rao",
          "CustomerCode": "27810-GAK",
          "CustomerID": "71c9f8e2-89b6-40a7-bdf7-7854f08841ca",
          "CustomerDOB": "02/12/1994",
          "CustomerEmail": "kriteshrao7@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Kritesh Rao",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150 ",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "14 Paloma Court, Hillpark, Auckland 2102",
          "DeliveryCity": "",
          "DeliveryAddressFull": "14 Paloma Court, Hillpark, Auckland 2102",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 1,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=2c75ccbc-e2e5-4dcf-b3a7-19e9cd195eb3&Service=Doctor%20Scripts%204mth&GuestId=71c9f8e2-89b6-40a7-bdf7-7854f08841ca&AppointmentId=26c36a49-391b-4e6f-93b7-7320f715edbf",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 6
        }
      },
      {
        "json": {
          "AppointmentID": "3f2df4ed-7eec-4b26-b450-7432ae8da33e",
          "CustomerFirstName": "Mark",
          "CustomerLastName": "Charles",
          "CustomerCode": "1088230-GAK",
          "CustomerID": "170614ef-b4f1-4cac-9e3a-26a952e9fd99",
          "CustomerDOB": "21/11/1999",
          "CustomerEmail": "markabcharles@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": false,
          "textField5": "Mark Charles",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150 ",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "clinic",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "1",
          "DeliveryAddress1": "L6/5 Short Street, Newmarket, Auckland 1010",
          "DeliverySuburb": "Newmarket",
          "DeliveryCity": "Auckland",
          "DeliveryPostcode": "1023",
          "DeliveryAddressFull": "L6/5 Short Street, Newmarket, Auckland 1010, Newmarket, Auckland, 1023",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "packagesavailable": false,
          "paidinfull": true,
          "CLinicABB": "AUC"
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "AppointmentID": "3011ce96-1eff-4c70-badf-7c7836d2e876",
          "CustomerFirstName": "Matthew",
          "CustomerLastName": "White",
          "CustomerCode": "AK7488",
          "CustomerID": "7e820bdc-137c-422b-b72c-8201614e98eb",
          "CustomerDOB": "29/10/1984",
          "CustomerEmail": "mwhiteracing@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Matthew White",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150 ",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "504 Clevedon-Kawakawa Road, Clevedon 2585",
          "DeliveryCity": "Auckland",
          "DeliveryAddressFull": "504 Clevedon-Kawakawa Road, Clevedon 2585, Auckland",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 0,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=cf690070-2b50-484d-9ec9-67c786576eb6&Service=Doctor%20Scripts%208mth&GuestId=7e820bdc-137c-422b-b72c-8201614e98eb&AppointmentId=3011ce96-1eff-4c70-badf-7c7836d2e876",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "AppointmentID": "f89bb979-7065-4548-9345-8358c010174d",
          "CustomerFirstName": "Harraj",
          "CustomerLastName": "Arora",
          "CustomerCode": "AK8304",
          "CustomerID": "ede1ab4c-f4da-4b8a-b021-d50405662c46",
          "CustomerDOB": "03/12/1997",
          "CustomerEmail": "harrajs@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": false,
          "textField5": "Harraj Arora",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "clinic",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "L6/5 Short Street, Newmarket, Auckland 1010",
          "DeliverySuburb": "Newmarket",
          "DeliveryCity": "Auckland",
          "DeliveryPostcode": "1023",
          "DeliveryAddressFull": "L6/5 Short Street, Newmarket, Auckland 1010, Newmarket, Auckland, 1023",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "packagesavailable": false,
          "paidinfull": true,
          "CLinicABB": "AUC"
        },
        "pairedItem": {
          "item": 9
        }
      },
      {
        "json": {
          "AppointmentID": "3c6aa484-ac1a-41f1-990e-83df65774670",
          "CustomerFirstName": "Navin",
          "CustomerLastName": "Kumar",
          "CustomerCode": "AK3827",
          "CustomerID": "368a1d65-bf63-419f-9cf3-8421b752454b",
          "CustomerDOB": "12/09/1982",
          "CustomerEmail": "Viks71065@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Navin Kumar",
          "select6": "no",
          "textField2": "Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "clinic",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "L6/5 Short Street, Newmarket, Auckland 1010",
          "DeliverySuburb": "Newmarket",
          "DeliveryCity": "Auckland",
          "DeliveryPostcode": "1023",
          "DeliveryAddressFull": "L6/5 Short Street, Newmarket, Auckland 1010, Newmarket, Auckland, 1023",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 0,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=cf690070-2b50-484d-9ec9-67c786576eb6&Service=Doctor%20Scripts%208mth&GuestId=368a1d65-bf63-419f-9cf3-8421b752454b&AppointmentId=3c6aa484-ac1a-41f1-990e-83df65774670",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 10
        }
      },
      {
        "json": {
          "AppointmentID": "a3cdbb2b-b659-47c1-94ac-ac8310bad902",
          "CustomerFirstName": "Randy",
          "CustomerLastName": "Jiang",
          "CustomerCode": "AK6430",
          "CustomerID": "dd17c7b8-f840-4520-a1b9-db9ede92bb7e",
          "CustomerDOB": "24/05/2000",
          "CustomerEmail": "randy.jiang@outlook.co.nz",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Randy Jiang",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "62/182 Flatbush school road",
          "DeliveryCity": "Auckland",
          "DeliveryAddressFull": "62/182 Flatbush school road, Auckland",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 5,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=b84bf75b-7757-48cd-b440-3f0212e6e661&Service=Doctor%204mth&GuestId=dd17c7b8-f840-4520-a1b9-db9ede92bb7e&AppointmentId=a3cdbb2b-b659-47c1-94ac-ac8310bad902",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 11
        }
      },
      {
        "json": {
          "AppointmentID": "6085b982-c5a4-45b6-9851-acb1142514f5",
          "CustomerFirstName": "Deven",
          "CustomerLastName": "Subramoney",
          "CustomerCode": "28279-GAK",
          "CustomerID": "1f07f026-d3fb-4354-8132-370a4777fc88",
          "CustomerDOB": "07/06/1968",
          "CustomerEmail": "deven680607@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Deven Subramoney",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150 ",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "88 twin parks rise",
          "DeliveryCity": "Papakura",
          "DeliveryAddressFull": "88 twin parks rise, Papakura",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 5,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=b9b17080-543d-4280-a8e8-dd033859701c&Service=Doctor%20Re-Enrolment%20Scripts&GuestId=1f07f026-d3fb-4354-8132-370a4777fc88&AppointmentId=6085b982-c5a4-45b6-9851-acb1142514f5",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 12
        }
      },
      {
        "json": {
          "AppointmentID": "2ea84b3b-6800-4011-bc42-beeebb00ebaf",
          "CustomerFirstName": "Dan",
          "CustomerLastName": "Angus",
          "CustomerCode": "AK1668",
          "CustomerID": "806c22f1-422e-4a91-9fce-9db6c8ef756a",
          "CustomerDOB": "29/01/1985",
          "CustomerEmail": "danangus1985@icloud.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Dan Angus",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150 ",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "58A McEntee Road, Waitakere, Auckland 0816",
          "DeliveryCity": "Waitakere",
          "DeliveryAddressFull": "58A McEntee Road, Waitakere, Auckland 0816, Waitakere",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 5,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=2c75ccbc-e2e5-4dcf-b3a7-19e9cd195eb3&Service=Doctor%20Scripts%204mth&GuestId=806c22f1-422e-4a91-9fce-9db6c8ef756a&AppointmentId=2ea84b3b-6800-4011-bc42-beeebb00ebaf",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 13
        }
      },
      {
        "json": {
          "AppointmentID": "6cd8daad-c6fa-4b66-84d9-c7a48b1b0089",
          "CustomerFirstName": "Krishneel",
          "CustomerLastName": "Kumar",
          "CustomerCode": "AK1913",
          "CustomerID": "0cb01a88-1188-456a-99e7-4f3c20020c3d",
          "CustomerDOB": "02/11/1994",
          "CustomerEmail": "krishneelkumar_48@hotmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Krishneel Kumar",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "1",
          "DeliveryAddress1": "42A Donegal Park Drive, Flat Bush, Auckland 2019",
          "DeliveryCity": "Standard delivery",
          "DeliveryAddressFull": "42A Donegal Park Drive, Flat Bush, Auckland 2019, Standard delivery",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "packagesavailable": false,
          "paidinfull": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=ea2fab22-be5f-4342-838d-1a4bcebe9618&Service=Telehealth%20Check-up&GuestId=0cb01a88-1188-456a-99e7-4f3c20020c3d&AppointmentId=6cd8daad-c6fa-4b66-84d9-c7a48b1b0089",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 14
        }
      },
      {
        "json": {
          "AppointmentID": "e513a9d9-9c3b-46d9-aecc-ccf2e2ce7965",
          "CustomerFirstName": "Tim",
          "CustomerLastName": "Gunn",
          "CustomerCode": "1084585-GAK",
          "CustomerID": "fb08f009-248c-47fe-a417-3a890ab9df3b",
          "CustomerDOB": "12/08/1979",
          "CustomerEmail": "timgunnnz1@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Tim Gunn",
          "select6": "no",
          "textField2": "Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "33 Waiake Street",
          "DeliveryCity": "",
          "DeliveryAddressFull": "33 Waiake Street",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 5,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=cf690070-2b50-484d-9ec9-67c786576eb6&Service=Doctor%20Scripts%208mth&GuestId=fb08f009-248c-47fe-a417-3a890ab9df3b&AppointmentId=e513a9d9-9c3b-46d9-aecc-ccf2e2ce7965",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 15
        }
      },
      {
        "json": {
          "AppointmentID": "b6ffe731-6de3-4a3d-85bf-e365a31c33aa",
          "CustomerFirstName": "David",
          "CustomerLastName": "Borsos",
          "CustomerCode": "6009-GWG",
          "CustomerID": "19e90ff6-fc29-4231-b9ab-812896c2ddcb",
          "CustomerDOB": "28/04/1975",
          "CustomerEmail": "borsosplastering@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "690a5763-4215-4df2-93d5-aa0395f69bd5",
          "is_form_submitted": true,
          "textField5": "David Borsos",
          "select6": "no",
          "textField2": "Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotionPgFree",
          "quantity": "2",
          "DeliveryAddress1": "100 Arnold St",
          "DeliveryCity": "CAMBRIDGE",
          "DeliveryAddressFull": "100 Arnold St, CAMBRIDGE",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion Pg Free",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 5,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=2c75ccbc-e2e5-4dcf-b3a7-19e9cd195eb3&Service=Doctor%20Scripts%204mth&GuestId=19e90ff6-fc29-4231-b9ab-812896c2ddcb&AppointmentId=b6ffe731-6de3-4a3d-85bf-e365a31c33aa",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 16
        }
      },
      {
        "json": {
          "AppointmentID": "5756d867-fa84-432e-972d-e6dddae9c63e",
          "CustomerFirstName": "Lucas",
          "CustomerLastName": "You",
          "CustomerCode": "AK9075",
          "CustomerID": "5b39c950-434d-4af2-bc49-a977fb612ca8",
          "CustomerDOB": "10/02/2002",
          "CustomerEmail": "lucasyou2002@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Lucas You",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "",
          "DeliveryAddress1": "9 Octans Road",
          "DeliveryCity": "",
          "DeliveryAddressFull": "9 Octans Road",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 7,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=c881a110-4440-40fc-9e81-918d918bc7a3&Service=Telehealth%20First&GuestId=5b39c950-434d-4af2-bc49-a977fb612ca8&AppointmentId=5756d867-fa84-432e-972d-e6dddae9c63e",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 17
        }
      },
      {
        "json": {
          "AppointmentID": "6414b628-6fd4-4825-a974-ea4e604128f3",
          "CustomerFirstName": "Kellam",
          "CustomerLastName": "Bayley",
          "CustomerCode": "HM2846",
          "CustomerID": "f1340e24-f7b6-4f7f-820e-1055a1ec2270",
          "CustomerDOB": "29/05/1983",
          "CustomerEmail": "kellam.bayley@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "690a5763-4215-4df2-93d5-aa0395f69bd5",
          "is_form_submitted": true,
          "textField5": "Kellam Bayley",
          "select6": "no",
          "textField2": "Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "874 Kairangi Road",
          "DeliveryCity": "",
          "DeliveryAddressFull": "874 Kairangi Road",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 5,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=cf690070-2b50-484d-9ec9-67c786576eb6&Service=Doctor%20Scripts%208mth&GuestId=f1340e24-f7b6-4f7f-820e-1055a1ec2270&AppointmentId=6414b628-6fd4-4825-a974-ea4e604128f3",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 18
        }
      },
      {
        "json": {
          "AppointmentID": "974cdd68-257e-4609-b69d-ebb0c31b07c4",
          "CustomerFirstName": "Benjamin",
          "CustomerLastName": "Cranston",
          "CustomerCode": "HM2711",
          "CustomerID": "6ab9cf02-1e6a-42a5-be9c-4284867bb62a",
          "CustomerDOB": "27/10/1987",
          "CustomerEmail": "bencranston@hotmail.co.nz",
          "CustomerGender": "Male",
          "CustomerCenterID": "690a5763-4215-4df2-93d5-aa0395f69bd5",
          "is_form_submitted": true,
          "textField5": "Benjamin Cranston",
          "select6": "no",
          "textField2": "Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "textField": "null",
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "1",
          "DeliveryAddressFull": "50 Driver Road, RD 1, Hamilton 3281",
          "doctorsDirections": "ApplyToScalp",
          "DeliveryAddress1": "50 Driver Road, RD 1, Hamilton 3281",
          "DeliveryCity": "",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": false,
          "RemainingBalance": -1,
          "ProductID": "null",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=e18c697e-da48-4aee-a7a5-a0fd6c6fc0f6&Service=Doctor%20Scripts%201mth&GuestId=6ab9cf02-1e6a-42a5-be9c-4284867bb62a&AppointmentId=974cdd68-257e-4609-b69d-ebb0c31b07c4",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 19
        }
      },
      {
        "json": {
          "AppointmentID": "a1078397-1d51-4d43-ae81-ec83ae94f35f",
          "CustomerFirstName": "Mark",
          "CustomerLastName": "JEPSON",
          "CustomerCode": "HM1936",
          "CustomerID": "6acf07ab-f281-4b6c-9081-46428d118327",
          "CustomerDOB": "14/04/1978",
          "CustomerEmail": "mark@choppers.co.nz",
          "CustomerGender": "Male",
          "CustomerCenterID": "690a5763-4215-4df2-93d5-aa0395f69bd5",
          "is_form_submitted": true,
          "textField5": "Mark JEPSON",
          "select6": "no",
          "textField2": "Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "textField": "26 Thackeray Street Hamilton Lake Hamilton 3204",
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "custom",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "1",
          "DeliveryAddressFull": "553 River Road",
          "doctorsDirections": "ApplyToScalp",
          "DeliveryAddress1": "553 River Road",
          "DeliveryCity": "HAMILTON",
          "addresscompared": true,
          "packagesavailable": false,
          "paidinfull": true,
          "CLinicABB": "AUC"
        },
        "pairedItem": {
          "item": 20
        }
      },
      {
        "json": {
          "AppointmentID": "f8086571-3969-4c87-8949-f0c389f467c6",
          "CustomerFirstName": "Gregory",
          "CustomerLastName": "Ninkie",
          "CustomerCode": "AK9036",
          "CustomerID": "56bc0841-5942-4e97-ad14-f6d8b492d46d",
          "CustomerDOB": "17/07/1981",
          "CustomerEmail": "greg@crl.build",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Gregory Ninkie",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": false,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "13b Double Cone Road",
          "DeliveryCity": "",
          "DeliveryAddressFull": "13b Double Cone Road",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "packagesavailable": false,
          "paidinfull": true,
          "CLinicABB": "AUC"
        },
        "pairedItem": {
          "item": 21
        }
      },
      {
        "json": {
          "AppointmentID": "69203da5-adf2-4c4a-9680-fe845969e5cf",
          "CustomerFirstName": "Dylan",
          "CustomerLastName": "Meek",
          "CustomerCode": "HM1559",
          "CustomerID": "1b4e0e9e-053b-4f34-9bd0-862ddb0069fa",
          "CustomerDOB": "08/01/2002",
          "CustomerEmail": "dyls1meekie@gmail.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "690a5763-4215-4df2-93d5-aa0395f69bd5",
          "is_form_submitted": true,
          "textField5": "Dylan Meek",
          "select6": "no",
          "textField2": "Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcidLotion",
          "quantity": "1",
          "DeliveryAddress1": "1 Eliza Place, Grandview Heights, Hamilton 3200",
          "DeliveryCity": "Hamilton",
          "DeliveryAddressFull": "1 Eliza Place, Grandview Heights, Hamilton 3200, Hamilton",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid Lotion",
          "ZenotiProductName": "Minoxidil Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 6,
          "ProductID": "3d3c7e51-785f-4297-8ec8-71661a58bc1d",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=398aa908-7154-45ab-b5bc-bfa0b24c094c&ServiceId=e18c697e-da48-4aee-a7a5-a0fd6c6fc0f6&Service=Doctor%20Scripts%201mth&GuestId=1b4e0e9e-053b-4f34-9bd0-862ddb0069fa&AppointmentId=69203da5-adf2-4c4a-9680-fe845969e5cf",
          "StartDate": "2026-03-12"
        },
        "pairedItem": {
          "item": 22
        }
      }
    ]
  },
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "J83Enw8ArDSqhMCL",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-09T05:11:24.028Z",
      "createdAt": "2026-03-09T05:11:24.028Z",
      "role": "workflow:owner",
      "workflowId": "jodn6QGaZRkDNvIn",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-21T23:52:55.489Z",
      "createdAt": "2026-01-21T23:52:55.489Z",
      "id": "OXsRoYm7kDVlpgY1",
      "name": "NZ"
    },
    {
      "updatedAt": "2026-01-21T23:52:51.063Z",
      "createdAt": "2026-01-21T23:52:51.063Z",
      "id": "OuUcDlUQOF4Dgotd",
      "name": "MedOrder"
    },
    {
      "updatedAt": "2025-11-07T01:33:39.006Z",
      "createdAt": "2025-11-07T01:33:39.006Z",
      "id": "WIsNIXL4vR1ZWj36",
      "name": "Zenoti"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-12T23:16:48.126Z",
  "versionId": "adce65f8-66ca-4115-8151-fe02481f9878"
}