MQFcG97qrZksR3pE.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-26T04:53:20.000Z",
    "createdAt": "2026-03-26T04:53:09.916Z",
    "versionId": "1050c3e9-11c9-475d-9720-d6c2219a07fd",
    "workflowId": "MQFcG97qrZksR3pE",
    "nodes": [
      {
        "parameters": {
          "queue": "au.zenoti.webhooks.closedinvoice",
          "options": {}
        },
        "type": "n8n-nodes-base.rabbitmqTrigger",
        "typeVersion": 1,
        "position": [
          0,
          96
        ],
        "id": "7bf32dc6-2dee-4808-8767-0d7925497f3e",
        "name": "RabbitMQ Trigger",
        "credentials": {
          "rabbitmq": {
            "id": "bvkL7iLaXZK2TER1",
            "name": "au-receiver"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = $json.content;\nconst parsed = JSON.parse(raw);\n\nreturn [{ json: parsed }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          96
        ],
        "id": "75d0071a-618b-41c5-abc1-144f5be0dd47",
        "name": "CleanUpHeaders"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "lsINP70DmcZtIj4M",
            "mode": "list",
            "cachedResultName": "ZenotiClinics",
            "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/lsINP70DmcZtIj4M"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Zenoti_ID",
                "keyValue": "={{ $('CleanUpHeaders').item.json.body.data.invoice.center_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          448,
          96
        ],
        "id": "fd39d766-5252-4191-a479-923ad5d71db2",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "toRecipients": "={{ $json.email }}",
          "subject": "=Telehealth Appointment - {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.code }}",
          "bodyContent": "=<p>Hi {{ $json.name }},</p>\n\n<p>Appointment for the following client has been completed.</p>\n\n<p>\n  <strong>Name:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.first_name }} {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.last_name }}<br>\n  <strong>Customer Code:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.code }}\n</p>\n\n<p>\n  <strong>Appointment Type:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.invoice_items[0].name }}<br>\n  <strong>Doctor:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.invoice_items[0].therapist_name }}\n</p>\n\n<p>\n  <strong>Profile URL:</strong>\n  <a href=\"https://ashleymartinau.zenoti.com/Guests/GuestProfile.aspx?UserId={{ $('CleanUpHeaders').item.json.body.data.invoice.guest.id }}\">\n    Client Profle\n  </a>\n</p>\n\n<p>Regards,<br>Automation.</p>",
          "additionalFields": {
            "bodyContentType": "html"
          }
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          880,
          64
        ],
        "id": "0da11b05-97fb-4a33-9396-c77bb59c6a0c",
        "name": "Send a message",
        "webhookId": "64430f59-31a9-4b9c-9ff5-4155146184a6",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "T2XkoM8OENRnrVIu",
            "name": "spu@ash"
          }
        }
      },
      {
        "parameters": {
          "operation": "deleteMessage"
        },
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1.1,
        "position": [
          1104,
          64
        ],
        "id": "3a1cc882-d4db-4f46-b2ad-d06153902142",
        "name": "RabbitMQ",
        "credentials": {
          "rabbitmq": {
            "id": "yV61RlUAH8DmNI5J",
            "name": "RabbitMQ account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.name }}",
                      "rightValue": "Telehealth",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      },
                      "id": "cc0ef3f5-ac91-4659-8ebd-9941183bdea4"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          672,
          96
        ],
        "id": "4eb8ac8c-f546-4fe3-9699-443055fe7ce3",
        "name": "Switch"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "QA7Qdseg7ehAOWP6",
            "mode": "list",
            "cachedResultUrl": "/workflow/QA7Qdseg7ehAOWP6",
            "cachedResultName": "Zenoti-GetAuthToken"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          208,
          320
        ],
        "id": "b117b2a6-8b5f-421c-94de-2efae4a7e121",
        "name": "Call 'Zenoti-GetAuthToken'"
      },
      {
        "parameters": {
          "url": "=https://api.zenoti.com/v1/guests/{{ $('CleanUpHeaders').item.json.body.data.invoice.guest.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=bearer {{ $json.TokenSecret }}"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          432,
          320
        ],
        "id": "0a178071-d5a2-4a82-8a95-728da07f783f",
        "name": "SearchPreferredClinic"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "lsINP70DmcZtIj4M",
            "mode": "list",
            "cachedResultName": "ZenotiClinics",
            "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/lsINP70DmcZtIj4M"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Zenoti_ID",
                "keyValue": "={{ $json.center_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          656,
          320
        ],
        "id": "4d9df4d9-e5b1-49c6-86cb-208604e79aba",
        "name": "Get row(s)1"
      },
      {
        "parameters": {
          "toRecipients": "={{ $json.email }}",
          "subject": "=Telehealth Appointment - {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.code }}",
          "bodyContent": "=<p>Hi {{ $json.name }},</p>\n\n<p>Appointment for the following client has been completed.</p>\n\n<p>\n  <strong>Name:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.first_name }} {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.last_name }}<br>\n  <strong>Customer Code:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.code }}\n</p>\n\n<p>\n  <strong>Appointment Type:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.invoice_items[0].name }}<br>\n  <strong>Doctor:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.invoice_items[0].therapist_name }}\n</p>\n\n<p>\n  <strong>Profile URL:</strong>\n  <a href=\"https://ashleymartinau.zenoti.com/Guests/GuestProfile.aspx?UserId={{ $('CleanUpHeaders').item.json.body.data.invoice.guest.id }}\">\n    Client Profle\n  </a>\n</p>\n\n<p>Regards,<br>Automation.</p>",
          "additionalFields": {
            "bodyContentType": "html"
          }
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          880,
          320
        ],
        "id": "f159168e-d29c-425e-ad2b-a022edd3beb4",
        "name": "Send a message1",
        "webhookId": "64430f59-31a9-4b9c-9ff5-4155146184a6",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "T2XkoM8OENRnrVIu",
            "name": "spu@ash"
          }
        }
      },
      {
        "parameters": {
          "operation": "deleteMessage"
        },
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1.1,
        "position": [
          1104,
          320
        ],
        "id": "30b089f1-fd27-45c2-b214-dafd5c6ca39e",
        "name": "RabbitMQ1",
        "credentials": {
          "rabbitmq": {
            "id": "yV61RlUAH8DmNI5J",
            "name": "RabbitMQ account"
          }
        }
      }
    ],
    "connections": {
      "RabbitMQ Trigger": {
        "main": [
          [
            {
              "node": "CleanUpHeaders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CleanUpHeaders": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "RabbitMQ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'Zenoti-GetAuthToken'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Zenoti-GetAuthToken'": {
        "main": [
          [
            {
              "node": "SearchPreferredClinic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SearchPreferredClinic": {
        "main": [
          [
            {
              "node": "Get row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)1": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message1": {
        "main": [
          [
            {
              "node": "RabbitMQ1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nicholas Ryall",
    "name": "Version 1050c3e9",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "1050c3e9-11c9-475d-9720-d6c2219a07fd",
  "connections": {
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "CleanUpHeaders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CleanUpHeaders": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Zenoti-GetAuthToken'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Zenoti-GetAuthToken'": {
      "main": [
        [
          {
            "node": "SearchPreferredClinic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchPreferredClinic": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "RabbitMQ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-25T06:52:15.915Z",
  "id": "MQFcG97qrZksR3pE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AU-Zenoti-RemoteAppointment",
  "nodes": [
    {
      "parameters": {
        "queue": "au.zenoti.webhooks.closedinvoice",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        0,
        96
      ],
      "id": "7bf32dc6-2dee-4808-8767-0d7925497f3e",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "bvkL7iLaXZK2TER1",
          "name": "au-receiver"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content;\nconst parsed = JSON.parse(raw);\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ],
      "id": "75d0071a-618b-41c5-abc1-144f5be0dd47",
      "name": "CleanUpHeaders"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "lsINP70DmcZtIj4M",
          "mode": "list",
          "cachedResultName": "ZenotiClinics",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/lsINP70DmcZtIj4M"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Zenoti_ID",
              "keyValue": "={{ $('CleanUpHeaders').item.json.body.data.invoice.center_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        96
      ],
      "id": "fd39d766-5252-4191-a479-923ad5d71db2",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.email }}",
        "subject": "=Telehealth Appointment - {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.code }}",
        "bodyContent": "=<p>Hi {{ $json.name }},</p>\n\n<p>Appointment for the following client has been completed.</p>\n\n<p>\n  <strong>Name:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.first_name }} {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.last_name }}<br>\n  <strong>Customer Code:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.code }}\n</p>\n\n<p>\n  <strong>Appointment Type:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.invoice_items[0].name }}<br>\n  <strong>Doctor:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.invoice_items[0].therapist_name }}\n</p>\n\n<p>\n  <strong>Profile URL:</strong>\n  <a href=\"https://ashleymartinau.zenoti.com/Guests/GuestProfile.aspx?UserId={{ $('CleanUpHeaders').item.json.body.data.invoice.guest.id }}\">\n    Client Profle\n  </a>\n</p>\n\n<p>Regards,<br>Automation.</p>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        880,
        64
      ],
      "id": "0da11b05-97fb-4a33-9396-c77bb59c6a0c",
      "name": "Send a message",
      "webhookId": "64430f59-31a9-4b9c-9ff5-4155146184a6",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "T2XkoM8OENRnrVIu",
          "name": "spu@ash"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage"
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1104,
        64
      ],
      "id": "3a1cc882-d4db-4f46-b2ad-d06153902142",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "yV61RlUAH8DmNI5J",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "Telehealth",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "cc0ef3f5-ac91-4659-8ebd-9941183bdea4"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        96
      ],
      "id": "4eb8ac8c-f546-4fe3-9699-443055fe7ce3",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QA7Qdseg7ehAOWP6",
          "mode": "list",
          "cachedResultUrl": "/workflow/QA7Qdseg7ehAOWP6",
          "cachedResultName": "Zenoti-GetAuthToken"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        320
      ],
      "id": "b117b2a6-8b5f-421c-94de-2efae4a7e121",
      "name": "Call 'Zenoti-GetAuthToken'"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/guests/{{ $('CleanUpHeaders').item.json.body.data.invoice.guest.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        320
      ],
      "id": "0a178071-d5a2-4a82-8a95-728da07f783f",
      "name": "SearchPreferredClinic"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "lsINP70DmcZtIj4M",
          "mode": "list",
          "cachedResultName": "ZenotiClinics",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/lsINP70DmcZtIj4M"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Zenoti_ID",
              "keyValue": "={{ $json.center_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        656,
        320
      ],
      "id": "4d9df4d9-e5b1-49c6-86cb-208604e79aba",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.email }}",
        "subject": "=Telehealth Appointment - {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.code }}",
        "bodyContent": "=<p>Hi {{ $json.name }},</p>\n\n<p>Appointment for the following client has been completed.</p>\n\n<p>\n  <strong>Name:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.first_name }} {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.last_name }}<br>\n  <strong>Customer Code:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.guest.code }}\n</p>\n\n<p>\n  <strong>Appointment Type:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.invoice_items[0].name }}<br>\n  <strong>Doctor:</strong> {{ $('CleanUpHeaders').item.json.body.data.invoice.invoice_items[0].therapist_name }}\n</p>\n\n<p>\n  <strong>Profile URL:</strong>\n  <a href=\"https://ashleymartinau.zenoti.com/Guests/GuestProfile.aspx?UserId={{ $('CleanUpHeaders').item.json.body.data.invoice.guest.id }}\">\n    Client Profle\n  </a>\n</p>\n\n<p>Regards,<br>Automation.</p>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        880,
        320
      ],
      "id": "f159168e-d29c-425e-ad2b-a022edd3beb4",
      "name": "Send a message1",
      "webhookId": "64430f59-31a9-4b9c-9ff5-4155146184a6",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "T2XkoM8OENRnrVIu",
          "name": "spu@ash"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage"
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1104,
        320
      ],
      "id": "30b089f1-fd27-45c2-b214-dafd5c6ca39e",
      "name": "RabbitMQ1",
      "credentials": {
        "rabbitmq": {
          "id": "yV61RlUAH8DmNI5J",
          "name": "RabbitMQ account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "J83Enw8ArDSqhMCL",
    "saveDataSuccessExecution": "all"
  },
  "shared": [
    {
      "updatedAt": "2026-03-25T06:52:15.916Z",
      "createdAt": "2026-03-25T06:52:15.916Z",
      "role": "workflow:owner",
      "workflowId": "MQFcG97qrZksR3pE",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-27T05:26:13.149Z",
  "versionId": "1050c3e9-11c9-475d-9720-d6c2219a07fd"
}