N6GZyaXORAB3e4Zr.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-09T00:23:59.106Z",
    "createdAt": "2025-12-09T00:23:59.106Z",
    "versionId": "8c734b53-c949-49c1-bcf4-4156520c6cb7",
    "workflowId": "N6GZyaXORAB3e4Zr",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "6307acc1-1b6e-42d1-a688-3beb0ec5e995",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "O7QvEberheUcDwMp",
            "mode": "list",
            "cachedResultName": "ZenotiTokens",
            "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/O7QvEberheUcDwMp"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "TokenName",
                "keyValue": "refresh_token"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          208,
          -240
        ],
        "id": "3945efbc-802f-43dd-96db-74f760c6aa78",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "jsCode": "// Get the token expiry timestamp from input\nconst expiryRaw = $input.first().json.Token_Expiry;\n\n// Convert it to a Date object\nconst expiryDate = new Date(expiryRaw);\n\n// Today's date\nconst now = new Date();\n\n// Milliseconds in 5 days\nconst fiveDaysMs = 5 * 24 * 60 * 60 * 1000;\n\n// Check if expiry is within the next 5 days\nconst isExpiring = (expiryDate - now) <= fiveDaysMs;\n\n// Return result\nreturn [\n  {\n    json: {\n      expiring: isExpiring\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          432,
          -240
        ],
        "id": "60d6b61a-f843-4452-ba93-99e8095d038f",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d11f341a-f016-44db-ae0b-9c8af556aa66",
                "leftValue": "={{ $json.expiring }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          656,
          -240
        ],
        "id": "cdb98bc4-1303-4bfd-b07d-ac80ba7f3bd9",
        "name": "If"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "fhkDyShdvZfqX9V8",
            "mode": "list",
            "cachedResultUrl": "/workflow/fhkDyShdvZfqX9V8",
            "cachedResultName": "Zenoti - Acces token renewal"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          880,
          -240
        ],
        "id": "c45d96b2-3f92-4cfd-b325-498b1350e2b7",
        "name": "Call 'Zenoti - Acces token renewal'"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "O7QvEberheUcDwMp",
            "mode": "list",
            "cachedResultName": "ZenotiTokens",
            "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/O7QvEberheUcDwMp"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "TokenName",
                "keyValue": "nz_refresh_token"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          208,
          160
        ],
        "id": "1ff4c353-17ea-4fe4-9a9b-55e1ab0d8e1e",
        "name": "Get row(s)1"
      },
      {
        "parameters": {
          "jsCode": "// Get the token expiry timestamp from input\nconst expiryRaw = $input.first().json.Token_Expiry;\n\n// Convert it to a Date object\nconst expiryDate = new Date(expiryRaw);\n\n// Today's date\nconst now = new Date();\n\n// Milliseconds in 5 days\nconst fiveDaysMs = 5 * 24 * 60 * 60 * 1000;\n\n// Check if expiry is within the next 5 days\nconst isExpiring = (expiryDate - now) <= fiveDaysMs;\n\n// Return result\nreturn [\n  {\n    json: {\n      expiring: isExpiring\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          432,
          160
        ],
        "id": "5a9a9069-e37e-4915-b055-bc595400f62c",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d11f341a-f016-44db-ae0b-9c8af556aa66",
                "leftValue": "={{ $json.expiring }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          656,
          160
        ],
        "id": "8b35f7a1-f028-400b-afcc-69d28db1fba1",
        "name": "If1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "5oYSmjIF1Hs2ZnVg",
            "mode": "list",
            "cachedResultUrl": "/workflow/5oYSmjIF1Hs2ZnVg",
            "cachedResultName": "ZenotiNZ- Acces token renewal"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          880,
          160
        ],
        "id": "806f47f2-2747-492c-b7b3-248dd8d8da37",
        "name": "Call 'Zenoti - Acces token renewal'1"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Call 'Zenoti - Acces token renewal'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)1": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Call 'Zenoti - Acces token renewal'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nicholas Ryall",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "8c734b53-c949-49c1-bcf4-4156520c6cb7",
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call 'Zenoti - Acces token renewal'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Call 'Zenoti - Acces token renewal'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-27T01:57:05.067Z",
  "id": "N6GZyaXORAB3e4Zr",
  "isArchived": false,
  "meta": null,
  "name": "Zenoti - Auto Update Token",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6307acc1-1b6e-42d1-a688-3beb0ec5e995",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "O7QvEberheUcDwMp",
          "mode": "list",
          "cachedResultName": "ZenotiTokens",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/O7QvEberheUcDwMp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "TokenName",
              "keyValue": "refresh_token"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        208,
        -240
      ],
      "id": "3945efbc-802f-43dd-96db-74f760c6aa78",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// Get the token expiry timestamp from input\nconst expiryRaw = $input.first().json.Token_Expiry;\n\n// Convert it to a Date object\nconst expiryDate = new Date(expiryRaw);\n\n// Today's date\nconst now = new Date();\n\n// Milliseconds in 5 days\nconst fiveDaysMs = 5 * 24 * 60 * 60 * 1000;\n\n// Check if expiry is within the next 5 days\nconst isExpiring = (expiryDate - now) <= fiveDaysMs;\n\n// Return result\nreturn [\n  {\n    json: {\n      expiring: isExpiring\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -240
      ],
      "id": "60d6b61a-f843-4452-ba93-99e8095d038f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d11f341a-f016-44db-ae0b-9c8af556aa66",
              "leftValue": "={{ $json.expiring }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        -240
      ],
      "id": "cdb98bc4-1303-4bfd-b07d-ac80ba7f3bd9",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fhkDyShdvZfqX9V8",
          "mode": "list",
          "cachedResultUrl": "/workflow/fhkDyShdvZfqX9V8",
          "cachedResultName": "Zenoti - Acces token renewal"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        -240
      ],
      "id": "c45d96b2-3f92-4cfd-b325-498b1350e2b7",
      "name": "Call 'Zenoti - Acces token renewal'"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "O7QvEberheUcDwMp",
          "mode": "list",
          "cachedResultName": "ZenotiTokens",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/O7QvEberheUcDwMp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "TokenName",
              "keyValue": "nz_refresh_token"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        208,
        160
      ],
      "id": "1ff4c353-17ea-4fe4-9a9b-55e1ab0d8e1e",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "jsCode": "// Get the token expiry timestamp from input\nconst expiryRaw = $input.first().json.Token_Expiry;\n\n// Convert it to a Date object\nconst expiryDate = new Date(expiryRaw);\n\n// Today's date\nconst now = new Date();\n\n// Milliseconds in 5 days\nconst fiveDaysMs = 5 * 24 * 60 * 60 * 1000;\n\n// Check if expiry is within the next 5 days\nconst isExpiring = (expiryDate - now) <= fiveDaysMs;\n\n// Return result\nreturn [\n  {\n    json: {\n      expiring: isExpiring\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        160
      ],
      "id": "5a9a9069-e37e-4915-b055-bc595400f62c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d11f341a-f016-44db-ae0b-9c8af556aa66",
              "leftValue": "={{ $json.expiring }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        160
      ],
      "id": "8b35f7a1-f028-400b-afcc-69d28db1fba1",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5oYSmjIF1Hs2ZnVg",
          "mode": "list",
          "cachedResultUrl": "/workflow/5oYSmjIF1Hs2ZnVg",
          "cachedResultName": "ZenotiNZ- Acces token renewal"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        160
      ],
      "id": "806f47f2-2747-492c-b7b3-248dd8d8da37",
      "name": "Call 'Zenoti - Acces token renewal'1"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "J83Enw8ArDSqhMCL",
    "timeSavedPerExecution": 1
  },
  "shared": [
    {
      "updatedAt": "2025-11-27T01:57:05.071Z",
      "createdAt": "2025-11-27T01:57:05.071Z",
      "role": "workflow:owner",
      "workflowId": "N6GZyaXORAB3e4Zr",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2025-11-07T01:33:39.006Z",
      "createdAt": "2025-11-07T01:33:39.006Z",
      "id": "WIsNIXL4vR1ZWj36",
      "name": "Zenoti"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-09T00:23:59.000Z",
  "versionId": "8c734b53-c949-49c1-bcf4-4156520c6cb7"
}