nTEpzvUO2Mr96Y0V.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-14T06:35:02.000Z",
    "createdAt": "2026-01-14T06:35:00.466Z",
    "versionId": "8f76210b-68e0-40ca-937c-f94fea9e7028",
    "workflowId": "nTEpzvUO2Mr96Y0V",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          -16
        ],
        "id": "47cb939c-b0c8-4670-8807-3e940b6080dd",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "PygQxZaLVrcaZiGx",
            "mode": "list",
            "cachedResultUrl": "/workflow/PygQxZaLVrcaZiGx",
            "cachedResultName": "ZenotiNZ-GetAuthToken"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          224,
          -16
        ],
        "id": "8aba2b29-e69f-408d-80f3-c7aaf0a79f87",
        "name": "Call 'ZenotiNZ-GetAuthToken'"
      },
      {
        "parameters": {
          "url": "=https://api.zenoti.com/v1/appointments/{{ $('When Executed by Another Workflow').item.json.AppointmentID }}/forms",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "version_no",
                "value": "0"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=bearer {{ $json.TokenSecret }}"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          448,
          -16
        ],
        "id": "ab13fa6a-fd45-4d93-8dc4-14965bcacfc8",
        "name": "Appointment Form Data1"
      },
      {
        "parameters": {
          "url": "=https://api.zenoti.com/v1/appointments/{{ $('When Executed by Another Workflow').item.json.AppointmentID }}/forms_data",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "tag_Id",
                "value": "={{ $json.owner_id }}"
              },
              {
                "name": "view_context",
                "value": "0"
              },
              {
                "name": "version_no",
                "value": "0"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=bearer {{ $('Call \\'ZenotiNZ-GetAuthToken\\'').first().json.TokenSecret }}"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          896,
          -16
        ],
        "id": "9ce21944-1663-4f4e-afe2-026739e60bb0",
        "name": "Appointment Form Data"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fe4c82fa-ef2b-4e00-8784-e056283d184e",
                "leftValue": "={{ $json.name }}",
                "rightValue": "Medication Order Delivery Form",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          672,
          -16
        ],
        "id": "0d44e2bc-2752-4dda-ba29-6db2bf3e4163",
        "name": "Filter"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  // Parse the stringified JSON array\n  const parsedData = JSON.parse(item.json.data);\n\n  // Convert array of { name, value } into a flat object\n  const flatData = {};\n  for (const entry of parsedData) {\n    flatData[entry.name] = entry.value;\n  }\n\n  return {\n    json: {\n      data_flat: flatData\n    }\n  };\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          -16
        ],
        "id": "bf5abdb7-76f3-48fc-b595-62cf08e47c5e",
        "name": "FlattenOutput"
      },
      {
        "parameters": {
          "jsCode": "function cleanSpaces(s) {\n  return String(s ?? \"\").replace(/\\s+/g, \" \").trim();\n}\n\nfunction joinNonEmpty(parts, sep = \", \") {\n  return parts.map(cleanSpaces).filter(Boolean).join(sep);\n}\n\nfunction dropByPrefix(obj, prefixes) {\n  for (const key of Object.keys(obj)) {\n    if (prefixes.some(p => key.startsWith(p))) delete obj[key];\n  }\n}\n\nfunction dropByName(obj, names) {\n  const nameSet = new Set(names.map(n => String(n).toLowerCase()));\n  for (const key of Object.keys(obj)) {\n    if (nameSet.has(String(key).toLowerCase())) delete obj[key];\n  }\n}\n\nreturn items.map(item => {\n  const j = item.json;\n  const flat = { ...(j.data_flat || {}) };\n\n  // 1) Remove unwanted checkbox/noise fields (case-insensitive)\n  dropByName(flat, [\n    \"chkDocuSignCompleted\",\n    \"pleasefill1\",\n    \"chkDepositpaid\",\n    \"chkEzidebitplan\",\n    // common typos / variants you mentioned\n    \"chkDepositpid\",\n    \"chkexideit\",\n    \"chkEzidebit\",\n    \"chkEziDebitPlan\"\n  ]);\n\n  // 2) Postage decision\n  const postage = String(flat.Postage ?? flat.postage ?? \"\");\n\n  if (postage.startsWith(\"Guest\")) {\n    dropByPrefix(flat, [\"txtClinic\", \"txtCustom\"]);\n\n    const address1 = flat.txtGuestProfileAddress1;\n    const address2 = flat.txtGuestProfileAddress2;\n    const city     = flat.txtGuestProfileCity;\n    const state    = flat.txtGuestProfileState;\n    const postcode = flat.txtGuestProfilezipcode;\n\n    flat.DeliveryAddressFull =\n      cleanSpaces(address1) ||\n      joinNonEmpty([address1, address2, city, state, postcode]);\n\n  } else if (postage.startsWith(\"Clinic\")) {\n    dropByPrefix(flat, [\"txtGuestProfile\", \"txtCustom\"]);\n\n    const address1 = flat.txtClinicAddress1;\n    const address2 = flat.txtClinicAddress2;\n    const suburb   = flat.txtClinicSuburb;\n    const state    = flat.txtClinicState;\n    const postcode = flat.txtClinicPostCode;\n\n    flat.DeliveryAddressFull =\n      cleanSpaces(address1) ||\n      joinNonEmpty([address1, address2, suburb, state, postcode]);\n\n  } else if (postage.startsWith(\"Custom\")) {\n    dropByPrefix(flat, [\"txtGuestProfile\", \"txtClinic\"]);\n\n    const address1 = flat.txtCustomAddress1;\n    const address2 = flat.txtCustomAddress2;\n    const suburb   = flat.txtCustomSuburb;\n    const state    = flat.txtCustomState;\n    const postcode = flat.txtCustomPostCode;\n\n    flat.DeliveryAddressFull =\n      cleanSpaces(address1) ||\n      joinNonEmpty([address1, address2, suburb, state, postcode]);\n  }\n\n  // 3) Output everything top-level (no nested data_flat)\n  return {\n    json: {\n      is_form_submitted: j.is_form_submitted,\n      ...flat,\n      PostageDecision: postage\n    }\n  };\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1328,
          -16
        ],
        "id": "ef0c3e28-a5cc-428a-ae9c-bdd4beda084c",
        "name": "RemoveExcessFeilds"
      },
      {
        "parameters": {
          "jsCode": "const ORIGINAL_NODE = \"When Executed by Another Workflow\";\nconst originalItems = $items(ORIGINAL_NODE);\n\nfunction inferCleanedLocation(cleaned) {\n  const decision = String(cleaned.PostageDecision ?? cleaned.Postage ?? \"\");\n  if (decision.startsWith(\"Guest\")) return \"guest\";\n  if (decision.startsWith(\"Clinic\")) return \"clinic\";\n  if (decision.startsWith(\"Custom\")) return \"custom\";\n  return \"\";\n}\n\nfunction overwriteAddress(original, cleaned) {\n  return {\n    ...original,\n\n    DeliveryAddress1:\n      cleaned.DeliveryAddressFull ||\n      cleaned.DeliveryAddress1 ||\n      original.DeliveryAddress1,\n\n    DeliveryAddressFull:\n      cleaned.DeliveryAddressFull ||\n      original.DeliveryAddressFull,\n\n    DeliveryCity:\n      cleaned.txtGuestProfileCity ??\n      cleaned.txtClinicSuburb ??\n      cleaned.DeliveryCity ??\n      original.DeliveryCity,\n  };\n}\n\nreturn items.map((cleanedItem, idx) => {\n  const cleaned = cleanedItem.json;\n  const original = originalItems[idx]?.json || {};\n\n  const originalLoc = String(original.DeliveryLocation ?? \"\").toLowerCase();\n  const cleanedLoc = inferCleanedLocation(cleaned);\n\n  // Case 1: guest → guest (pass through original unchanged)\n  if (originalLoc === \"guest\" && cleanedLoc === \"guest\") {\n    return {\n      json: {\n        ...original,\n        addresscompared: true\n      }\n    };\n  }\n\n  // Case 2: clinic → clinic (optional but sane default)\n  if (originalLoc === \"clinic\" && cleanedLoc === \"clinic\") {\n    return {\n      json: {\n        ...original,\n        addresscompared: true\n      }\n    };\n  }\n\n  // Case 3: mismatch → overwrite address fields\n  const merged = overwriteAddress(original, cleaned);\n\n  return {\n    json: {\n      ...merged,\n      addresscompared: true\n    }\n  };\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1536,
          -16
        ],
        "id": "6379c1d2-86a6-44d0-b544-d592826f7c10",
        "name": "ComparedAddress"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Call 'ZenotiNZ-GetAuthToken'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'ZenotiNZ-GetAuthToken'": {
        "main": [
          [
            {
              "node": "Appointment Form Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Appointment Form Data1": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Appointment Form Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Appointment Form Data": {
        "main": [
          [
            {
              "node": "FlattenOutput",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FlattenOutput": {
        "main": [
          [
            {
              "node": "RemoveExcessFeilds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RemoveExcessFeilds": {
        "main": [
          [
            {
              "node": "ComparedAddress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nicholas Ryall",
    "name": "Version 8f76210b",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "8f76210b-68e0-40ca-937c-f94fea9e7028",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call 'ZenotiNZ-GetAuthToken'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ZenotiNZ-GetAuthToken'": {
      "main": [
        [
          {
            "node": "Appointment Form Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointment Form Data1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Appointment Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointment Form Data": {
      "main": [
        [
          {
            "node": "FlattenOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FlattenOutput": {
      "main": [
        [
          {
            "node": "RemoveExcessFeilds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoveExcessFeilds": {
      "main": [
        [
          {
            "node": "ComparedAddress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-14T04:47:54.987Z",
  "id": "nTEpzvUO2Mr96Y0V",
  "isArchived": false,
  "meta": null,
  "name": "ZenotiNZ - Medorder Address Check",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -16
      ],
      "id": "47cb939c-b0c8-4670-8807-3e940b6080dd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PygQxZaLVrcaZiGx",
          "mode": "list",
          "cachedResultUrl": "/workflow/PygQxZaLVrcaZiGx",
          "cachedResultName": "ZenotiNZ-GetAuthToken"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        -16
      ],
      "id": "8aba2b29-e69f-408d-80f3-c7aaf0a79f87",
      "name": "Call 'ZenotiNZ-GetAuthToken'"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/appointments/{{ $('When Executed by Another Workflow').item.json.AppointmentID }}/forms",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "version_no",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -16
      ],
      "id": "ab13fa6a-fd45-4d93-8dc4-14965bcacfc8",
      "name": "Appointment Form Data1"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/appointments/{{ $('When Executed by Another Workflow').item.json.AppointmentID }}/forms_data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tag_Id",
              "value": "={{ $json.owner_id }}"
            },
            {
              "name": "view_context",
              "value": "0"
            },
            {
              "name": "version_no",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'ZenotiNZ-GetAuthToken\\'').first().json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        -16
      ],
      "id": "9ce21944-1663-4f4e-afe2-026739e60bb0",
      "name": "Appointment Form Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fe4c82fa-ef2b-4e00-8784-e056283d184e",
              "leftValue": "={{ $json.name }}",
              "rightValue": "Medication Order Delivery Form",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        672,
        -16
      ],
      "id": "0d44e2bc-2752-4dda-ba29-6db2bf3e4163",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // Parse the stringified JSON array\n  const parsedData = JSON.parse(item.json.data);\n\n  // Convert array of { name, value } into a flat object\n  const flatData = {};\n  for (const entry of parsedData) {\n    flatData[entry.name] = entry.value;\n  }\n\n  return {\n    json: {\n      data_flat: flatData\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -16
      ],
      "id": "bf5abdb7-76f3-48fc-b595-62cf08e47c5e",
      "name": "FlattenOutput"
    },
    {
      "parameters": {
        "jsCode": "function cleanSpaces(s) {\n  return String(s ?? \"\").replace(/\\s+/g, \" \").trim();\n}\n\nfunction joinNonEmpty(parts, sep = \", \") {\n  return parts.map(cleanSpaces).filter(Boolean).join(sep);\n}\n\nfunction dropByPrefix(obj, prefixes) {\n  for (const key of Object.keys(obj)) {\n    if (prefixes.some(p => key.startsWith(p))) delete obj[key];\n  }\n}\n\nfunction dropByName(obj, names) {\n  const nameSet = new Set(names.map(n => String(n).toLowerCase()));\n  for (const key of Object.keys(obj)) {\n    if (nameSet.has(String(key).toLowerCase())) delete obj[key];\n  }\n}\n\nreturn items.map(item => {\n  const j = item.json;\n  const flat = { ...(j.data_flat || {}) };\n\n  // 1) Remove unwanted checkbox/noise fields (case-insensitive)\n  dropByName(flat, [\n    \"chkDocuSignCompleted\",\n    \"pleasefill1\",\n    \"chkDepositpaid\",\n    \"chkEzidebitplan\",\n    // common typos / variants you mentioned\n    \"chkDepositpid\",\n    \"chkexideit\",\n    \"chkEzidebit\",\n    \"chkEziDebitPlan\"\n  ]);\n\n  // 2) Postage decision\n  const postage = String(flat.Postage ?? flat.postage ?? \"\");\n\n  if (postage.startsWith(\"Guest\")) {\n    dropByPrefix(flat, [\"txtClinic\", \"txtCustom\"]);\n\n    const address1 = flat.txtGuestProfileAddress1;\n    const address2 = flat.txtGuestProfileAddress2;\n    const city     = flat.txtGuestProfileCity;\n    const state    = flat.txtGuestProfileState;\n    const postcode = flat.txtGuestProfilezipcode;\n\n    flat.DeliveryAddressFull =\n      cleanSpaces(address1) ||\n      joinNonEmpty([address1, address2, city, state, postcode]);\n\n  } else if (postage.startsWith(\"Clinic\")) {\n    dropByPrefix(flat, [\"txtGuestProfile\", \"txtCustom\"]);\n\n    const address1 = flat.txtClinicAddress1;\n    const address2 = flat.txtClinicAddress2;\n    const suburb   = flat.txtClinicSuburb;\n    const state    = flat.txtClinicState;\n    const postcode = flat.txtClinicPostCode;\n\n    flat.DeliveryAddressFull =\n      cleanSpaces(address1) ||\n      joinNonEmpty([address1, address2, suburb, state, postcode]);\n\n  } else if (postage.startsWith(\"Custom\")) {\n    dropByPrefix(flat, [\"txtGuestProfile\", \"txtClinic\"]);\n\n    const address1 = flat.txtCustomAddress1;\n    const address2 = flat.txtCustomAddress2;\n    const suburb   = flat.txtCustomSuburb;\n    const state    = flat.txtCustomState;\n    const postcode = flat.txtCustomPostCode;\n\n    flat.DeliveryAddressFull =\n      cleanSpaces(address1) ||\n      joinNonEmpty([address1, address2, suburb, state, postcode]);\n  }\n\n  // 3) Output everything top-level (no nested data_flat)\n  return {\n    json: {\n      is_form_submitted: j.is_form_submitted,\n      ...flat,\n      PostageDecision: postage\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -16
      ],
      "id": "ef0c3e28-a5cc-428a-ae9c-bdd4beda084c",
      "name": "RemoveExcessFeilds"
    },
    {
      "parameters": {
        "jsCode": "const ORIGINAL_NODE = \"When Executed by Another Workflow\";\nconst originalItems = $items(ORIGINAL_NODE);\n\nfunction inferCleanedLocation(cleaned) {\n  const decision = String(cleaned.PostageDecision ?? cleaned.Postage ?? \"\");\n  if (decision.startsWith(\"Guest\")) return \"guest\";\n  if (decision.startsWith(\"Clinic\")) return \"clinic\";\n  if (decision.startsWith(\"Custom\")) return \"custom\";\n  return \"\";\n}\n\nfunction overwriteAddress(original, cleaned) {\n  return {\n    ...original,\n\n    DeliveryAddress1:\n      cleaned.DeliveryAddressFull ||\n      cleaned.DeliveryAddress1 ||\n      original.DeliveryAddress1,\n\n    DeliveryAddressFull:\n      cleaned.DeliveryAddressFull ||\n      original.DeliveryAddressFull,\n\n    DeliveryCity:\n      cleaned.txtGuestProfileCity ??\n      cleaned.txtClinicSuburb ??\n      cleaned.DeliveryCity ??\n      original.DeliveryCity,\n  };\n}\n\nreturn items.map((cleanedItem, idx) => {\n  const cleaned = cleanedItem.json;\n  const original = originalItems[idx]?.json || {};\n\n  const originalLoc = String(original.DeliveryLocation ?? \"\").toLowerCase();\n  const cleanedLoc = inferCleanedLocation(cleaned);\n\n  // Case 1: guest → guest (pass through original unchanged)\n  if (originalLoc === \"guest\" && cleanedLoc === \"guest\") {\n    return {\n      json: {\n        ...original,\n        addresscompared: true\n      }\n    };\n  }\n\n  // Case 2: clinic → clinic (optional but sane default)\n  if (originalLoc === \"clinic\" && cleanedLoc === \"clinic\") {\n    return {\n      json: {\n        ...original,\n        addresscompared: true\n      }\n    };\n  }\n\n  // Case 3: mismatch → overwrite address fields\n  const merged = overwriteAddress(original, cleaned);\n\n  return {\n    json: {\n      ...merged,\n      addresscompared: true\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -16
      ],
      "id": "6379c1d2-86a6-44d0-b544-d592826f7c10",
      "name": "ComparedAddress"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-01-14T04:47:54.989Z",
      "createdAt": "2026-01-14T04:47:54.989Z",
      "role": "workflow:owner",
      "workflowId": "nTEpzvUO2Mr96Y0V",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-07T01:33:39.006Z",
      "createdAt": "2025-11-07T01:33:39.006Z",
      "id": "WIsNIXL4vR1ZWj36",
      "name": "Zenoti"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-14T06:36:29.340Z",
  "versionId": "8f76210b-68e0-40ca-937c-f94fea9e7028"
}