QyWZXOZjuFdx1sQP.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-23T23:33:01.000Z",
    "createdAt": "2026-06-23T23:32:51.599Z",
    "versionId": "67f1d0fb-a2fe-4bfb-bd75-ce1c1c91ca49",
    "workflowId": "QyWZXOZjuFdx1sQP",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 7 * * 0,2-6"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -352,
          -128
        ],
        "id": "ea1bfa7e-4ace-40b3-bd87-fcefd31de82f",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "jsCode": "// Select your timezone offset here\nconst TZ_OFFSET_HOURS = 8; // Perth = 8, Brisbane = 10, Sydney = 11 (DST), NZ = 13\n\n// Helper to shift UTC time to target timezone\nconst shiftToTz = (date, offsetHours) => {\n  const shifted = new Date(date.getTime() + offsetHours * 3600 * 1000);\n  return shifted;\n};\n\n// Helper to format YYYY-MM-DD using shifted date\nconst formatLocal = (d) => {\n  const year = d.getUTCFullYear();\n  const month = String(d.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(d.getUTCDate()).padStart(2, '0');\n  return `${year}-${month}-${day}`;\n};\n\n// Current UTC time\nconst nowUtc = new Date();\n\n// Convert to local timezone\nconst todayLocal = shiftToTz(nowUtc, TZ_OFFSET_HOURS);\n\n// Yesterday in local timezone\nconst yesterdayLocal = new Date(todayLocal.getTime() - 24 * 3600 * 1000);\n\n// Output\nreturn [\n  {\n    json: {\n      start_date: formatLocal(yesterdayLocal),\n      end_date: formatLocal(todayLocal),\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -128,
          -128
        ],
        "id": "546b6d49-30ed-49e8-94e7-25e850e8eec2",
        "name": "Create Previous Date"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b26619fc-3777-49fc-90f6-d44350185646",
                "name": "DriveID",
                "value": "b!keZy0EVJt0ydRozgmmR1eQMBvSWtB5hGktxakZsBcZvoqANme--qSo6QvDZ3hdgU",
                "type": "string"
              },
              {
                "id": "e3938eed-c906-42f2-91e5-ccc27073e519",
                "name": "ItemsID",
                "value": "01Y4DA4OOUVPWHSA2BN5G2YBSB6DOVI6HR",
                "type": "string"
              },
              {
                "id": "787846a3-bd50-4c4c-b787-46ec357f2836",
                "name": "SiteID",
                "value": "ashleyandmartincomau.sharepoint.com,d072e691-4945-4cb7-9d46-8ce09a647579,25bd0103-07ad-4698-92dc-5a919b01719b",
                "type": "string"
              },
              {
                "id": "62eb8164-be21-46b8-8ea9-e94fad593259",
                "name": "MasterFolderID",
                "value": "01Y4DA4OK2PDWUJLMKBZGKGZQITNHHJNPC",
                "type": "string"
              },
              {
                "id": "df326af1-0521-4c0b-95f9-02144322ce2a",
                "name": "MasterExcelID",
                "value": "01Y4DA4OJUQBWRKASOR5D3SJ532MAO4JPK",
                "type": "string"
              },
              {
                "id": "072e5505-14ce-4b28-9ff4-3122591a7985",
                "name": "CompletedOrders",
                "value": "01Y4DA4OOBREWUF67Q2JFKQRVSUNIKHBJZ",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          96,
          -128
        ],
        "id": "c3d46d50-2371-495f-a039-5877199c5ca0",
        "name": "SetDriveID"
      },
      {
        "parameters": {
          "url": "=https://graph.microsoft.com/v1.0/drives/{{ $json.DriveID }}/items/{{ $json.ItemsID }}/children?$top=200&$select=id,name,folder,file,createdDateTime,lastModifiedDateTime",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          320,
          -128
        ],
        "id": "1bf2af4c-2d5a-4166-a454-acdeb68f22f8",
        "name": "Search Inprogress Orders",
        "credentials": {
          "microsoftSharePointOAuth2Api": {
            "id": "8eWNjQciijocacKo",
            "name": "Microsoft SharePoint account"
          },
          "microsoftGraphSecurityOAuth2Api": {
            "id": "7IYTPqhMSd9yOy8S",
            "name": "Microsoft Graph Security account"
          },
          "microsoftOAuth2Api": {
            "id": "yjHQESADfULqo4lZ",
            "name": "Microsoft account"
          },
          "oAuth2Api": {
            "id": "j30zGPdAyzTUMgGs",
            "name": "MS graph"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "value",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          544,
          -128
        ],
        "id": "273ef240-891c-4443-9433-249cd5dcaae3",
        "name": "Split Out",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "283ceaa8-f953-4b73-9255-1d0ab27fc96d",
                "leftValue": "={{ $json.name }}",
                "rightValue": "={{ $('Create Previous Date').item.json.start_date }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          768,
          -128
        ],
        "id": "b39caa3d-ad89-462d-8a5a-76fa247d1d47",
        "name": "Filter"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "ee86aa17-791e-4b76-9735-fffc8d9ecc94",
                "leftValue": "={{ Object.keys($json).length }}",
                "rightValue": "0",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          992,
          -128
        ],
        "id": "21fc3cb6-3f52-4af7-abef-cc2e78fec4a6",
        "name": "If1"
      },
      {
        "parameters": {
          "content": "## Set Drive Id / Search for Previous Days Order / Filter Out Other Dates",
          "height": 272,
          "width": 1312,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -400,
          -240
        ],
        "typeVersion": 1,
        "id": "f2205649-d7ed-4fcb-9e60-b31ac5278a2b",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $json.id }}/children",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "$top",
                "value": "200"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1216,
          -128
        ],
        "id": "d4601501-8174-44b8-93f6-27cbacd21871",
        "name": "Search For Files",
        "credentials": {
          "oAuth2Api": {
            "id": "j30zGPdAyzTUMgGs",
            "name": "MS graph"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "value",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1440,
          -128
        ],
        "id": "f4d84316-7bad-46a2-97ae-3db9566c46c8",
        "name": "Split Out1"
      },
      {
        "parameters": {
          "content": "## Extract XLSX to trigger sub flows for per clinic run",
          "height": 272,
          "width": 1104,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1168,
          -240
        ],
        "typeVersion": 1,
        "id": "6180ebe9-2d54-4be8-a7a5-0937c4439823",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "283ceaa8-f953-4b73-9255-1d0ab27fc96d",
                "leftValue": "={{ $json.name }}",
                "rightValue": "={{ $('Create Previous Date').item.json.start_date }}.xlsx",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          1664,
          -128
        ],
        "id": "f50094eb-a8c1-44ad-9411-336ffd70a996",
        "name": "Filter1"
      },
      {
        "parameters": {
          "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').first().json.DriveID }}/items/{{ $json.CurrentExcelDriveID }}/workbook/tables/{{ encodeURIComponent($json.TrueCLinicAbb + 'Table') }}/range",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2640,
          160
        ],
        "id": "646e7a4f-89ab-46b6-9c64-64991a02fca8",
        "name": "RowCountCheck",
        "executeOnce": false,
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "oAuth2Api": {
            "id": "j30zGPdAyzTUMgGs",
            "name": "MS graph"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\n// Example address:\n// \"WEL!A1:M2\"\n// \"'AUC'!A1:M21\"\nconst address = String(input.address ?? '').trim();\n\n// Extract clinic/sheet name from address\nconst clinicMatch = address.match(/^'?([^'!]+)'?!/);\nconst clinic = clinicMatch ? clinicMatch[1].trim() : null;\n\n// Pull end row from address for reference/debug only\nconst rangeMatch = address.match(/:([A-Z]+)(\\d+)$/i);\nconst endRow = rangeMatch ? Number(rangeMatch[2]) : null;\n\n// Graph/Excel can return either \"text\" or \"values\" depending on endpoint/settings.\n// Prefer text because it is already display-ready.\nconst table = Array.isArray(input.text)\n  ? input.text\n  : Array.isArray(input.values)\n    ? input.values\n    : [];\n\n// Header row is row 0.\n// Data rows start at row 1.\nconst dataRows = table.slice(1);\n\n// These columns match your current sheet layout:\n// A Patient No\n// B Customer First Name\n// C Customer Last Name\n// D Email Address\n// E Gender\n// F DOB\n// G Product Name\n// H Quantity\n// I Item Count\n// J Delivery Address\n// K Prescriber First Name\n// L Prescriber Last Name\n// M Prescriber No\n\nconst importantColumnIndexes = [\n  0,  // Patient No\n  1,  // Customer First Name\n  2,  // Customer Last Name\n  6,  // Product Name\n  7,  // Quantity\n  8,  // Item Count\n  9,  // Delivery Address\n  12, // Prescriber No\n];\n\nfunction clean(value) {\n  if (value === null || value === undefined) return '';\n  return String(value).trim();\n}\n\nfunction rowHasActualOrderData(row) {\n  if (!Array.isArray(row)) return false;\n\n  return importantColumnIndexes.some(index => clean(row[index]) !== '');\n}\n\nconst actualOrderRows = dataRows.filter(rowHasActualOrderData);\n\nconst orderCount = actualOrderRows.length;\nconst hasOrders = orderCount > 0;\n\n// Bring forward values needed by the subflow\nconst setDrive = $('SetDriveID').first().json;\n\nconst driveId = setDrive.DriveID;\n\n// This is the parent folder where the date folders live.\n// The subflow will use this to find the startDate folder itself.\nconst itemsId = setDrive.ItemsID;\n\nconst currentExcelDriveId =\n  $('Edit Fields').first().json.CurrentExcelDriveID\n  ?? $('Filter XLSX Order Workbook').first().json.id\n  ?? null;\n\nconst startDate = $('Create Previous Date').first().json.start_date;\n\nreturn [\n  {\n    json: {\n      clinic,\n      sheetName: clinic,\n\n      address,\n      endRow,\n\n      orderCount,\n      expectedRows: orderCount,\n\n      hasOrders,\n      readyForSubflow: hasOrders,\n\n      driveId,\n      itemsId,\n      currentExcelDriveId,\n      startDate,\n\n      checkedRows: dataRows.length,\n      actualOrderRows: actualOrderRows.length,\n\n      sourceStatus: hasOrders ? 'ReadyForClinicSubflow' : 'NoOrdersForClinic',\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2832,
          160
        ],
        "id": "46825634-898f-4811-92e6-a58a904ed9c5",
        "name": "PaintentNumberCheck"
      },
      {
        "parameters": {
          "content": "## Checks Excel and Sets the Client Number",
          "height": 288,
          "width": 656,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2336,
          64
        ],
        "typeVersion": 1,
        "id": "37bd95c3-25a6-46f8-b104-7fa7cb5b5148",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          2048,
          -128
        ],
        "id": "ce1d8ab5-acc4-4b2f-9637-208f9780afca",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "pVbLONb8Gh393bg0",
            "mode": "list",
            "cachedResultName": "ZenotiClinicsNZ",
            "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/pVbLONb8Gh393bg0"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Abb",
                "condition": "isNotEmpty"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1872,
          -128
        ],
        "id": "47b9e257-25a9-4f71-8ae1-5a490df75311",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3380f93a-93b2-4387-b180-4ba2cb3178a4",
                "name": "CurrentExcelDriveID",
                "value": "={{ $('Filter1').first().json.id }}",
                "type": "string"
              },
              {
                "id": "33962f55-c177-49f7-ac30-7fc874d94a85",
                "name": "TrueCLinicAbb",
                "value": "={{ $json.Abb }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2384,
          160
        ],
        "id": "ba8dbe71-c105-4314-9eda-40f426e1fbb6",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "903243f2-5d03-4568-91ff-e27349eb7340",
                "leftValue": "={{ $json.sourceStatus }}",
                "rightValue": "ReadyForClinicSubflow",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          2368,
          -256
        ],
        "id": "6dafabbb-368f-4c59-ad7b-770b8bf27fbb",
        "name": "Filter2"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zb6JAGyUF4QY1c2k",
            "mode": "list",
            "cachedResultUrl": "/workflow/zb6JAGyUF4QY1c2k",
            "cachedResultName": "ZenotiNZ-MasterTriggerChildClinicCompoundLabOrder"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2576,
          -256
        ],
        "id": "75337d72-b49d-4934-8b0b-87faa5d46a72",
        "name": "Call 'ZenotiNZ-MasterTriggerChildClinicCompoundLabOrder'"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Create Previous Date",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetDriveID": {
        "main": [
          [
            {
              "node": "Search Inprogress Orders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Inprogress Orders": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Previous Date": {
        "main": [
          [
            {
              "node": "SetDriveID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search For Files": {
        "main": [
          [
            {
              "node": "Split Out1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out1": {
        "main": [
          [
            {
              "node": "Filter1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Search For Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter1": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RowCountCheck": {
        "main": [
          [
            {
              "node": "PaintentNumberCheck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Filter2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "RowCountCheck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PaintentNumberCheck": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter2": {
        "main": [
          [
            {
              "node": "Call 'ZenotiNZ-MasterTriggerChildClinicCompoundLabOrder'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nicholas Ryall",
    "name": "Version 67f1d0fb",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "67f1d0fb-a2fe-4bfb-bd75-ce1c1c91ca49",
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create Previous Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetDriveID": {
      "main": [
        [
          {
            "node": "Search Inprogress Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Inprogress Orders": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Previous Date": {
      "main": [
        [
          {
            "node": "SetDriveID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search For Files": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Search For Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RowCountCheck": {
      "main": [
        [
          {
            "node": "PaintentNumberCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RowCountCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PaintentNumberCheck": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Call 'ZenotiNZ-MasterTriggerChildClinicCompoundLabOrder'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-15T05:41:09.281Z",
  "id": "QyWZXOZjuFdx1sQP",
  "isArchived": false,
  "meta": null,
  "name": "ZenotiNZ-MasterTriggerParentCompoundLabOrder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 0,2-6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -128
      ],
      "id": "ea1bfa7e-4ace-40b3-bd87-fcefd31de82f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Select your timezone offset here\nconst TZ_OFFSET_HOURS = 8; // Perth = 8, Brisbane = 10, Sydney = 11 (DST), NZ = 13\n\n// Helper to shift UTC time to target timezone\nconst shiftToTz = (date, offsetHours) => {\n  const shifted = new Date(date.getTime() + offsetHours * 3600 * 1000);\n  return shifted;\n};\n\n// Helper to format YYYY-MM-DD using shifted date\nconst formatLocal = (d) => {\n  const year = d.getUTCFullYear();\n  const month = String(d.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(d.getUTCDate()).padStart(2, '0');\n  return `${year}-${month}-${day}`;\n};\n\n// Current UTC time\nconst nowUtc = new Date();\n\n// Convert to local timezone\nconst todayLocal = shiftToTz(nowUtc, TZ_OFFSET_HOURS);\n\n// Yesterday in local timezone\nconst yesterdayLocal = new Date(todayLocal.getTime() - 24 * 3600 * 1000);\n\n// Output\nreturn [\n  {\n    json: {\n      start_date: formatLocal(yesterdayLocal),\n      end_date: formatLocal(todayLocal),\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -128
      ],
      "id": "546b6d49-30ed-49e8-94e7-25e850e8eec2",
      "name": "Create Previous Date"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b26619fc-3777-49fc-90f6-d44350185646",
              "name": "DriveID",
              "value": "b!keZy0EVJt0ydRozgmmR1eQMBvSWtB5hGktxakZsBcZvoqANme--qSo6QvDZ3hdgU",
              "type": "string"
            },
            {
              "id": "e3938eed-c906-42f2-91e5-ccc27073e519",
              "name": "ItemsID",
              "value": "01Y4DA4OOUVPWHSA2BN5G2YBSB6DOVI6HR",
              "type": "string"
            },
            {
              "id": "787846a3-bd50-4c4c-b787-46ec357f2836",
              "name": "SiteID",
              "value": "ashleyandmartincomau.sharepoint.com,d072e691-4945-4cb7-9d46-8ce09a647579,25bd0103-07ad-4698-92dc-5a919b01719b",
              "type": "string"
            },
            {
              "id": "62eb8164-be21-46b8-8ea9-e94fad593259",
              "name": "MasterFolderID",
              "value": "01Y4DA4OK2PDWUJLMKBZGKGZQITNHHJNPC",
              "type": "string"
            },
            {
              "id": "df326af1-0521-4c0b-95f9-02144322ce2a",
              "name": "MasterExcelID",
              "value": "01Y4DA4OJUQBWRKASOR5D3SJ532MAO4JPK",
              "type": "string"
            },
            {
              "id": "072e5505-14ce-4b28-9ff4-3122591a7985",
              "name": "CompletedOrders",
              "value": "01Y4DA4OOBREWUF67Q2JFKQRVSUNIKHBJZ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -128
      ],
      "id": "c3d46d50-2371-495f-a039-5877199c5ca0",
      "name": "SetDriveID"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $json.DriveID }}/items/{{ $json.ItemsID }}/children?$top=200&$select=id,name,folder,file,createdDateTime,lastModifiedDateTime",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        -128
      ],
      "id": "1bf2af4c-2d5a-4166-a454-acdeb68f22f8",
      "name": "Search Inprogress Orders",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        },
        "microsoftGraphSecurityOAuth2Api": {
          "id": "7IYTPqhMSd9yOy8S",
          "name": "Microsoft Graph Security account"
        },
        "microsoftOAuth2Api": {
          "id": "yjHQESADfULqo4lZ",
          "name": "Microsoft account"
        },
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        544,
        -128
      ],
      "id": "273ef240-891c-4443-9433-249cd5dcaae3",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "283ceaa8-f953-4b73-9255-1d0ab27fc96d",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Create Previous Date').item.json.start_date }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        768,
        -128
      ],
      "id": "b39caa3d-ad89-462d-8a5a-76fa247d1d47",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee86aa17-791e-4b76-9735-fffc8d9ecc94",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        -128
      ],
      "id": "21fc3cb6-3f52-4af7-abef-cc2e78fec4a6",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## Set Drive Id / Search for Previous Days Order / Filter Out Other Dates",
        "height": 272,
        "width": 1312,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -240
      ],
      "typeVersion": 1,
      "id": "f2205649-d7ed-4fcb-9e60-b31ac5278a2b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $json.id }}/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$top",
              "value": "200"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        -128
      ],
      "id": "d4601501-8174-44b8-93f6-27cbacd21871",
      "name": "Search For Files",
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1440,
        -128
      ],
      "id": "f4d84316-7bad-46a2-97ae-3db9566c46c8",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "content": "## Extract XLSX to trigger sub flows for per clinic run",
        "height": 272,
        "width": 1104,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        -240
      ],
      "typeVersion": 1,
      "id": "6180ebe9-2d54-4be8-a7a5-0937c4439823",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "283ceaa8-f953-4b73-9255-1d0ab27fc96d",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Create Previous Date').item.json.start_date }}.xlsx",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1664,
        -128
      ],
      "id": "f50094eb-a8c1-44ad-9411-336ffd70a996",
      "name": "Filter1"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').first().json.DriveID }}/items/{{ $json.CurrentExcelDriveID }}/workbook/tables/{{ encodeURIComponent($json.TrueCLinicAbb + 'Table') }}/range",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2640,
        160
      ],
      "id": "646e7a4f-89ab-46b6-9c64-64991a02fca8",
      "name": "RowCountCheck",
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Example address:\n// \"WEL!A1:M2\"\n// \"'AUC'!A1:M21\"\nconst address = String(input.address ?? '').trim();\n\n// Extract clinic/sheet name from address\nconst clinicMatch = address.match(/^'?([^'!]+)'?!/);\nconst clinic = clinicMatch ? clinicMatch[1].trim() : null;\n\n// Pull end row from address for reference/debug only\nconst rangeMatch = address.match(/:([A-Z]+)(\\d+)$/i);\nconst endRow = rangeMatch ? Number(rangeMatch[2]) : null;\n\n// Graph/Excel can return either \"text\" or \"values\" depending on endpoint/settings.\n// Prefer text because it is already display-ready.\nconst table = Array.isArray(input.text)\n  ? input.text\n  : Array.isArray(input.values)\n    ? input.values\n    : [];\n\n// Header row is row 0.\n// Data rows start at row 1.\nconst dataRows = table.slice(1);\n\n// These columns match your current sheet layout:\n// A Patient No\n// B Customer First Name\n// C Customer Last Name\n// D Email Address\n// E Gender\n// F DOB\n// G Product Name\n// H Quantity\n// I Item Count\n// J Delivery Address\n// K Prescriber First Name\n// L Prescriber Last Name\n// M Prescriber No\n\nconst importantColumnIndexes = [\n  0,  // Patient No\n  1,  // Customer First Name\n  2,  // Customer Last Name\n  6,  // Product Name\n  7,  // Quantity\n  8,  // Item Count\n  9,  // Delivery Address\n  12, // Prescriber No\n];\n\nfunction clean(value) {\n  if (value === null || value === undefined) return '';\n  return String(value).trim();\n}\n\nfunction rowHasActualOrderData(row) {\n  if (!Array.isArray(row)) return false;\n\n  return importantColumnIndexes.some(index => clean(row[index]) !== '');\n}\n\nconst actualOrderRows = dataRows.filter(rowHasActualOrderData);\n\nconst orderCount = actualOrderRows.length;\nconst hasOrders = orderCount > 0;\n\n// Bring forward values needed by the subflow\nconst setDrive = $('SetDriveID').first().json;\n\nconst driveId = setDrive.DriveID;\n\n// This is the parent folder where the date folders live.\n// The subflow will use this to find the startDate folder itself.\nconst itemsId = setDrive.ItemsID;\n\nconst currentExcelDriveId =\n  $('Edit Fields').first().json.CurrentExcelDriveID\n  ?? $('Filter XLSX Order Workbook').first().json.id\n  ?? null;\n\nconst startDate = $('Create Previous Date').first().json.start_date;\n\nreturn [\n  {\n    json: {\n      clinic,\n      sheetName: clinic,\n\n      address,\n      endRow,\n\n      orderCount,\n      expectedRows: orderCount,\n\n      hasOrders,\n      readyForSubflow: hasOrders,\n\n      driveId,\n      itemsId,\n      currentExcelDriveId,\n      startDate,\n\n      checkedRows: dataRows.length,\n      actualOrderRows: actualOrderRows.length,\n\n      sourceStatus: hasOrders ? 'ReadyForClinicSubflow' : 'NoOrdersForClinic',\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        160
      ],
      "id": "46825634-898f-4811-92e6-a58a904ed9c5",
      "name": "PaintentNumberCheck"
    },
    {
      "parameters": {
        "content": "## Checks Excel and Sets the Client Number",
        "height": 288,
        "width": 656,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        64
      ],
      "typeVersion": 1,
      "id": "37bd95c3-25a6-46f8-b104-7fa7cb5b5148",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2048,
        -128
      ],
      "id": "ce1d8ab5-acc4-4b2f-9637-208f9780afca",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "pVbLONb8Gh393bg0",
          "mode": "list",
          "cachedResultName": "ZenotiClinicsNZ",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/pVbLONb8Gh393bg0"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Abb",
              "condition": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1872,
        -128
      ],
      "id": "47b9e257-25a9-4f71-8ae1-5a490df75311",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3380f93a-93b2-4387-b180-4ba2cb3178a4",
              "name": "CurrentExcelDriveID",
              "value": "={{ $('Filter1').first().json.id }}",
              "type": "string"
            },
            {
              "id": "33962f55-c177-49f7-ac30-7fc874d94a85",
              "name": "TrueCLinicAbb",
              "value": "={{ $json.Abb }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        160
      ],
      "id": "ba8dbe71-c105-4314-9eda-40f426e1fbb6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "903243f2-5d03-4568-91ff-e27349eb7340",
              "leftValue": "={{ $json.sourceStatus }}",
              "rightValue": "ReadyForClinicSubflow",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2368,
        -256
      ],
      "id": "6dafabbb-368f-4c59-ad7b-770b8bf27fbb",
      "name": "Filter2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zb6JAGyUF4QY1c2k",
          "mode": "list",
          "cachedResultUrl": "/workflow/zb6JAGyUF4QY1c2k",
          "cachedResultName": "ZenotiNZ-MasterTriggerChildClinicCompoundLabOrder"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2576,
        -256
      ],
      "id": "75337d72-b49d-4934-8b0b-87faa5d46a72",
      "name": "Call 'ZenotiNZ-MasterTriggerChildClinicCompoundLabOrder'"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "J83Enw8ArDSqhMCL",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 5
  },
  "shared": [
    {
      "updatedAt": "2026-06-15T05:41:09.283Z",
      "createdAt": "2026-06-15T05:41:09.283Z",
      "role": "workflow:owner",
      "workflowId": "QyWZXOZjuFdx1sQP",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-23T23:33:34.734Z",
  "versionId": "67f1d0fb-a2fe-4bfb-bd75-ce1c1c91ca49"
}