R2XgJpoFoe1s75xS.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get API Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get API Token": {
      "main": [
        [
          {
            "node": "Get rows from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows from sheet": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Asset": {
      "main": [
        [
          {
            "node": "Work Out Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Work Out Dates": {
      "main": [
        [
          {
            "node": "Update Warranty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Warranty": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Find Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-16T02:50:33.848Z",
  "id": "R2XgJpoFoe1s75xS",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SnipeIT - Lenovo Warranty Update",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -16
      ],
      "id": "c3945e99-d25b-466e-9d32-257a3222cd31",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "FVGc9R5kchTK7wsd",
          "mode": "list",
          "cachedResultName": "SnipeIT",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/FVGc9R5kchTK7wsd"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "User",
              "keyValue": "nryall"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -112,
        -16
      ],
      "id": "51fc403a-a3ca-4c6f-a3fe-939b2382c2ba",
      "name": "Get API Token"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "readRows",
        "workbook": {
          "__rl": true,
          "value": "012CMKCCFERLCBAQJK6JEYI2ZHUJNEGBYQ",
          "mode": "list",
          "cachedResultName": "Query Result -2026-01-16-10-48-45",
          "cachedResultUrl": "https://ashleyandmartincomau-my.sharepoint.com/personal/nryall_ashleyandmartin_com_au/_layouts/15/Doc.aspx?sourcedoc=%7B10C48AA4-2A41-49F2-846B-27A25A430710%7D&file=Query%20Result%20-2026-01-16-10-48-45.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://ashleyandmartincomau-my.sharepoint.com/personal/nryall_ashleyandmartin_com_au/_layouts/15/Doc.aspx?sourcedoc=%7B10C48AA4-2A41-49F2-846B-27A25A430710%7D&file=Query%20Result%20-2026-01-16-10-48-45.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Result!A1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        96,
        -16
      ],
      "id": "2ee87aa5-7718-44c5-a40f-1aea588d5fc4",
      "name": "Get rows from sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "snb39Kzd4tl5cSJU",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "Serial",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        304,
        -16
      ],
      "id": "20ad8289-57fd-4166-a7dc-c8161f107041",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        512,
        -16
      ],
      "id": "389fb296-f8b1-42f1-926b-ebf49b96c7ed",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://assets.ashleyandmartin.local/api/v1/hardware/byserial/{{ $json.Serial }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "deleted",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get API Token').first().json.Key }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        144
      ],
      "id": "b6fd53f2-9c1a-43ef-a017-ea304e34a950",
      "name": "Find Asset"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://assets.ashleyandmartin.local/api/v1/hardware/{{ $('Find Asset').item.json.rows[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get API Token').first().json.Key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"warranty_months\": \"{{ $json.monthsBetween }}\",\n  \"purchase_date\": \"{{ $('Get rows from sheet').item.json.Start }}\",\n  \"asset_tag\": \"{{ $('Find Asset').item.json.rows[0].asset_tag }}\",\n  \"status_id\": \"{{ $('Find Asset').item.json.rows[0].status_label.id }}\",\n  \"model_id\": \"{{ $('Find Asset').item.json.rows[0].model.id }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1424,
        144
      ],
      "id": "be373d2e-86e5-4ae7-8c3e-00d52baff0ae",
      "name": "Update Warranty"
    },
    {
      "parameters": {
        "jsCode": "const start = new Date($('Loop Over Items').first().json.Start);\nconst end = new Date($('Loop Over Items').first().json.End);\n\n// Pure calendar month difference\nlet months =\n  (end.getFullYear() - start.getFullYear()) * 12 +\n  (end.getMonth() - start.getMonth());\n\n// Always at least 1 month if dates are in same month or later\nif (months < 1) months = 1;\n\nreturn [{\n  json: {\n    monthsBetween: months\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        144
      ],
      "id": "3082f907-4e6f-462c-83a8-0ef15330e38a",
      "name": "Work Out Dates"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        80
      ],
      "id": "05dc90ee-8347-47b3-b3d2-6fc48a7b546e",
      "name": "Wait",
      "webhookId": "6b44d462-f6fd-4128-ba1f-890988e6c605"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-16T02:50:33.852Z",
      "createdAt": "2026-01-16T02:50:33.852Z",
      "role": "workflow:owner",
      "workflowId": "R2XgJpoFoe1s75xS",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-05T00:51:56.073Z",
      "createdAt": "2025-12-05T00:51:56.073Z",
      "id": "N5UMYKN3CMwB8JVM",
      "name": "SnipeIT"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-16T04:35:00.423Z",
  "versionId": "b0d76544-4046-4407-a3dd-e64df76d6a0b"
}