UHgWiT1FEDI6d0Cc.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create Previous Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetDriveID": {
      "main": [
        [
          {
            "node": "Search Inprogress Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Inprogress Orders": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Previous Date": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "SetDriveID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Search For Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search For Files": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "MergeFiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeFiles": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a draft": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Search Completed Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Search For Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request Move Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Completed Order": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search For Files1": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "MovetoFolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-24T01:21:55.697Z",
  "id": "UHgWiT1FEDI6d0Cc",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ZenotiNZ-SendtoCompoundLabs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -816,
        -304
      ],
      "id": "c857b561-794f-4fda-a867-4a528867af92",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Select your timezone offset here\nconst TZ_OFFSET_HOURS = 8; // Perth = 8, Brisbane = 10, Sydney = 11 (DST), NZ = 13\n\n// Helper to shift UTC time to target timezone\nconst shiftToTz = (date, offsetHours) => {\n  const shifted = new Date(date.getTime() + offsetHours * 3600 * 1000);\n  return shifted;\n};\n\n// Helper to format YYYY-MM-DD using shifted date\nconst formatLocal = (d) => {\n  const year = d.getUTCFullYear();\n  const month = String(d.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(d.getUTCDate()).padStart(2, '0');\n  return `${year}-${month}-${day}`;\n};\n\n// Current UTC time\nconst nowUtc = new Date();\n\n// Convert to local timezone\nconst todayLocal = shiftToTz(nowUtc, TZ_OFFSET_HOURS);\n\n// Yesterday in local timezone\nconst yesterdayLocal = new Date(todayLocal.getTime() - 24 * 3600 * 1000);\n\n// Output\nreturn [\n  {\n    json: {\n      start_date: formatLocal(yesterdayLocal),\n      end_date: formatLocal(todayLocal),\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -304
      ],
      "id": "fcab8b10-3b75-4307-900c-54abf1fe0906",
      "name": "Create Previous Date"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b26619fc-3777-49fc-90f6-d44350185646",
              "name": "DriveID",
              "value": "b!keZy0EVJt0ydRozgmmR1eQMBvSWtB5hGktxakZsBcZvoqANme--qSo6QvDZ3hdgU",
              "type": "string"
            },
            {
              "id": "e3938eed-c906-42f2-91e5-ccc27073e519",
              "name": "ItemsID",
              "value": "01Y4DA4OOUVPWHSA2BN5G2YBSB6DOVI6HR",
              "type": "string"
            },
            {
              "id": "787846a3-bd50-4c4c-b787-46ec357f2836",
              "name": "SiteID",
              "value": "ashleyandmartincomau.sharepoint.com,d072e691-4945-4cb7-9d46-8ce09a647579,25bd0103-07ad-4698-92dc-5a919b01719b",
              "type": "string"
            },
            {
              "id": "62eb8164-be21-46b8-8ea9-e94fad593259",
              "name": "MasterFolderID",
              "value": "01Y4DA4OK2PDWUJLMKBZGKGZQITNHHJNPC",
              "type": "string"
            },
            {
              "id": "df326af1-0521-4c0b-95f9-02144322ce2a",
              "name": "MasterExcelID",
              "value": "01Y4DA4OJUQBWRKASOR5D3SJ532MAO4JPK",
              "type": "string"
            },
            {
              "id": "072e5505-14ce-4b28-9ff4-3122591a7985",
              "name": "CompletedOrders",
              "value": "01Y4DA4OOBREWUF67Q2JFKQRVSUNIKHBJZ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -304
      ],
      "id": "d7f3fab7-74ed-4b05-8e73-b284f6715513",
      "name": "SetDriveID"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $json.DriveID }}/items/{{ $json.ItemsID }}/children?$top=200&$select=id,name,folder,file,createdDateTime,lastModifiedDateTime",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        -304
      ],
      "id": "42755540-a078-4e2f-bc3f-8f324c9faa30",
      "name": "Search Inprogress Orders",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        },
        "microsoftGraphSecurityOAuth2Api": {
          "id": "7IYTPqhMSd9yOy8S",
          "name": "Microsoft Graph Security account"
        },
        "microsoftOAuth2Api": {
          "id": "yjHQESADfULqo4lZ",
          "name": "Microsoft account"
        },
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        -304
      ],
      "id": "4285b928-559b-4eb9-95ae-22754f37a813",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "283ceaa8-f953-4b73-9255-1d0ab27fc96d",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Create Previous Date').item.json.start_date }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        784,
        -304
      ],
      "id": "41793ab1-dd76-4adb-b75d-aad26c1730a4",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=AM - Med Order - {{ $json.start_date }}",
        "bodyContent": "Hi Team,\n\nPlease see attached Med Order Spreadsheet and Prescriptions.\n\nAny issues please contact us directly at (Insert Email Address)\n\nRegards,\nAM Automation",
        "additionalFields": {
          "from": "noreply@ashleyandmartin.com.au",
          "toRecipients": "nicholas.ryall@ashleyandmartin.com.au, Lene.Berge@ashleyandmartin.com.au"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -112,
        -304
      ],
      "id": "f2cb0e0d-bbbb-42e3-ace4-4943f0da76b5",
      "name": "Create a draft",
      "webhookId": "d325444f-865d-4e59-976b-9f1b35a6523e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "T2XkoM8OENRnrVIu",
          "name": "spu@ash"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee86aa17-791e-4b76-9735-fffc8d9ecc94",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        -304
      ],
      "id": "e53b0c55-d578-4be8-b3e4-367b2e002297",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $json.id }}/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$top",
              "value": "200"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        -304
      ],
      "id": "143e4b06-87f1-426e-bf5b-3fa9afc5aa8e",
      "name": "Search For Files",
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1456,
        -304
      ],
      "id": "708a716c-ff85-482e-990d-fb37d4777939",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "site": {
          "__rl": true,
          "value": "={{ $json.parentReference.siteId }}",
          "mode": "id"
        },
        "folder": {
          "__rl": true,
          "value": "={{ $json.parentReference.id }}",
          "mode": "id"
        },
        "file": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        1904,
        -192
      ],
      "id": "7bf64ee3-352f-4aab-bbff-207222caf064",
      "name": "Download file",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let binaries = {}, binary_keys = [];\n\nfor (const [index, inputItem] of Object.entries($input.all())) {\n  binaries[`data_${index}`] = inputItem.binary.data;\n  binary_keys.push(`data_${index}`);\n}\n\nreturn [{\n    json: {\n        binary_keys: binary_keys.join(',')\n    },\n    binary: binaries\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        -192
      ],
      "id": "4451806c-770c-4257-af8c-f6ba879008c7",
      "name": "MergeFiles"
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ Object.keys($binary).join(',') }}",
        "fileName": "=testfile.zip",
        "binaryPropertyOutput": "=data"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        2352,
        -192
      ],
      "id": "8b4a5482-f149-4b31-b089-bc1157a17122",
      "name": "Compression"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "c3af69c6-a470-46e8-b979-227bb6741e75"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5644682f-4ac8-491e-bffb-34574f99d34f",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1664,
        -304
      ],
      "id": "dfaeae8f-7cec-4d2b-b042-d14d98dbe37e",
      "name": "Switch"
    },
    {
      "parameters": {
        "site": {
          "__rl": true,
          "value": "={{ $json.parentReference.siteId }}",
          "mode": "id"
        },
        "folder": {
          "__rl": true,
          "value": "={{ $json.parentReference.id }}",
          "mode": "id"
        },
        "file": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        2128,
        -448
      ],
      "id": "6883db17-0ed2-4837-849f-07cf98a2e89a",
      "name": "Download file1",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/noreply@ashleyandmartin.com.au/messages/{{ $('Create a draft').item.json.id }}/attachments",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"@odata.type\": \"#microsoft.graph.fileAttachment\",\n  \"name\": \"Orders-{{ $('Create Previous Date').item.json.start_date }}.xlsx\",\n  \"contentType\": \"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\",\n  \"contentBytes\": \"{{$json.data}}\"\n}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2560,
        -448
      ],
      "id": "c2e9d8bf-163a-4baf-a47b-14d9291d852c",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/noreply@ashleyandmartin.com.au/messages/{{ $('Create a draft').first().json.id }}/attachments",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"@odata.type\": \"#microsoft.graph.fileAttachment\",\n  \"name\": \"Prescriptions-{{ $('Create Previous Date').first().json.start_date }}.zip\",\n  \"contentType\": \"application/zip\",\n  \"contentBytes\": \"{{$json.data}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2784,
        -192
      ],
      "id": "aa1af820-be84-426a-bb86-3f828ee2e68c",
      "name": "HTTP Request1",
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2352,
        -448
      ],
      "id": "5b7c47f3-3425-47ea-9298-46c9e15a6ece",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2576,
        -192
      ],
      "id": "8ffa2d78-bbc3-4ccb-8996-b1772f5ac53b",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "send",
        "draftId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "to": "nicholas.ryall@ashleyandmartin.com.au, lberge@ashleyandmartin.com.au"
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2992,
        -192
      ],
      "id": "ab04a788-4126-46a8-b9e7-0da318266e7c",
      "name": "Send a draft",
      "webhookId": "729e7587-0547-4b71-877f-a85b5d2d9d2e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "T2XkoM8OENRnrVIu",
          "name": "spu@ash"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4ddf502f-7f3d-44ca-9376-d70a1c30e9d5",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3200,
        -240
      ],
      "id": "45f9efaf-8c8f-49a3-a94b-2c2db956c8ed",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Run on Schedule / Get Date / Approved to Run /  Create Draft",
        "height": 400,
        "width": 944
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        -432
      ],
      "typeVersion": 1,
      "id": "ae2f323b-6430-4a0b-8b8a-f619a505018c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Set Drive Id / Search for Previous Days Order / Filter Out Other Dates",
        "height": 400,
        "width": 880,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -432
      ],
      "typeVersion": 1,
      "id": "6531c4c6-3c00-4414-83bd-e7803a6e5a13",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## If for no folder Found",
        "height": 400,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        -432
      ],
      "typeVersion": 1,
      "id": "105e88cc-0a98-4444-bee0-2b33ea817ccd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Search for files in Folder / Split out Files and separate pdf/xlsx",
        "height": 400,
        "width": 640,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        -432
      ],
      "typeVersion": 1,
      "id": "101385df-d706-42d3-9b76-8d74072546d9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Download Excel Add to Draft",
        "height": 272,
        "width": 944,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        -528
      ],
      "typeVersion": 1,
      "id": "1d7fa599-c078-45c5-9e25-6fa0f90492f3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Download pdf's / Merge / Compress / Add  to Draft",
        "height": 272,
        "width": 1344,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        -256
      ],
      "typeVersion": 1,
      "id": "197422ea-c7ab-4fa1-8650-e053cf2e2e0d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "toRecipients": "monitoring@ashleyandmartin.com.au",
        "subject": "=AM - Orders - {{ $('Create Previous Date').item.json.start_date }}",
        "bodyContent": "=Hi Team,\n\nOrder havn't gone through for date {{ $('Create Previous Date').item.json.start_date }}.\n\nPlease go look into this.\n\nRegards,\nAutomation",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3424,
        -80
      ],
      "id": "a61ccd44-48f3-4634-95f8-03bbf03dc9a8",
      "name": "Send a message",
      "webhookId": "39d4a4ce-693a-412e-840f-a78409eea9a3",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "T2XkoM8OENRnrVIu",
          "name": "spu@ash"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "lberge@ashleyandmartin.com.au",
        "subject": "=AMNZ - Med Order -  {{ $json.start_date }}",
        "message": "=Hi Team,\n\nPlease approve the MedOrders for ALL clinics for {{ $json.start_date }}.\n\nIf all clinics are not ready and this is approved there is no undoing.\n\nRegards,\nAutomation",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -352,
        -304
      ],
      "id": "87e79888-a000-4b41-819c-9d5dc03b3a55",
      "name": "Send message and wait for response",
      "webhookId": "caaca79a-2ef6-4b6b-b2a4-da36b4fa867c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "T2XkoM8OENRnrVIu",
          "name": "spu@ash"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## If for when the email isnt sent",
        "height": 512,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3152,
        -432
      ],
      "typeVersion": 1,
      "id": "e06f641e-9493-47c1-9a64-8d86af334dc6",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1f2b61c6-10a5-4e36-a388-fb253fcfe020",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Create Previous Date').first().json.start_date }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        4112,
        -304
      ],
      "id": "f93a7bca-8199-473d-b01c-4a37c5be67bd",
      "name": "Filter1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3904,
        -304
      ],
      "id": "0e624417-d0e7-44ed-8fcc-00ff35e56f5a",
      "name": "Split Out2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e10c22aa-ad42-4e3b-bb68-270ad48ad852",
              "name": "CurrentOrderFolderID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "aec4626e-3d99-4b25-9a35-3735659dccb9",
              "name": "CurrentOrderFolderIDStatus",
              "value": "Exists",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4608,
        -368
      ],
      "id": "a1ea675d-4725-43ec-8a17-36322f7be6b4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb4bcd61-86fc-48a6-b737-a12f089308ca",
              "name": "CurrentOrderFolderID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "9534baf6-d412-4502-8e7a-c67be0287136",
              "name": "CurrentOrderFolderIDStatus",
              "value": "DoesntExists",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4608,
        -192
      ],
      "id": "75dd8152-256c-4371-844d-a19656f3e715",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee86aa17-791e-4b76-9735-fffc8d9ecc94",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Create Previous Date').first().json.start_date }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4304,
        -304
      ],
      "id": "2b3ee274-05c1-4f4a-8e43-d9a66e076adc",
      "name": "If2"
    },
    {
      "parameters": {
        "content": "## Check for Completed Orders Fiolder",
        "height": 400,
        "width": 1184,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3616,
        -432
      ],
      "typeVersion": 1,
      "id": "433df953-b1f0-4ed4-bb35-80fdf613127f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').first().json.DriveID }}/items/{{ $('If1').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parentReference\": {\n    \"id\": \"{{ $('SetDriveID').first().json.CompletedOrders }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4928,
        -192
      ],
      "id": "f48c4146-5f43-4cc8-9529-29a07ef440ab",
      "name": "HTTP Request Move Folder",
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').first().json.DriveID }}/items/{{ $('SetDriveID').first().json.CompletedOrders }}/children?$top=200&$select=id,name,folder,file,createdDateTime,lastModifiedDateTime",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3696,
        -304
      ],
      "id": "6a89c3fe-565b-400f-ba77-05e0c851d829",
      "name": "Search Completed Order",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        },
        "microsoftGraphSecurityOAuth2Api": {
          "id": "7IYTPqhMSd9yOy8S",
          "name": "Microsoft Graph Security account"
        },
        "microsoftOAuth2Api": {
          "id": "yjHQESADfULqo4lZ",
          "name": "Microsoft account"
        },
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "content": "## Move Just Folder",
        "height": 208,
        "width": 368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4800,
        -240
      ],
      "typeVersion": 1,
      "id": "837942bf-bda5-4c3a-aeb4-fc9d73acc338",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Move Files from Folder",
        "height": 192,
        "width": 784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4800,
        -432
      ],
      "typeVersion": 1,
      "id": "1d20ffd3-b3ed-4c5f-8cf9-d0229d0bede2",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/b!keZy0EVJt0ydRozgmmR1eQMBvSWtB5hGktxakZsBcZvoqANme--qSo6QvDZ3hdgU/items/{{ $('If1').first().json.id }}/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$top",
              "value": "200"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4928,
        -368
      ],
      "id": "b3ba2753-6ab2-4aba-ad71-32d847c7c72e",
      "name": "Search For Files1",
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').first().json.DriveID }}/items/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parentReference\": {\n    \"id\": \"{{ $('Edit Fields').item.json.CurrentOrderFolderID }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5408,
        -368
      ],
      "id": "e34e6c28-0d86-41df-86ca-5729fee671be",
      "name": "MovetoFolder",
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5168,
        -368
      ],
      "id": "474896ab-2d8d-492e-8889-29900b4215b1",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cd2d6490-8c79-4268-b5b1-e880b00a5de2",
              "leftValue": "={{ $json.name }}",
              "rightValue": "Finance",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1888,
        -448
      ],
      "id": "9b57e105-c2d3-4a1a-bbb8-9c6eb1235a2d",
      "name": "Filter2"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-03-03T10:00:52.081+08:00",
          "Readable date": "March 3rd 2026, 10:00:52 am",
          "Readable time": "10:00:52 am",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "03",
          "Hour": "10",
          "Minute": "00",
          "Second": "52",
          "Timezone": "Australia/Perth (UTC+08:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "J83Enw8ArDSqhMCL",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-02-24T01:21:55.700Z",
      "createdAt": "2026-02-24T01:21:55.700Z",
      "role": "workflow:owner",
      "workflowId": "UHgWiT1FEDI6d0Cc",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2026-01-21T23:52:55.489Z",
      "createdAt": "2026-01-21T23:52:55.489Z",
      "id": "OXsRoYm7kDVlpgY1",
      "name": "NZ"
    },
    {
      "updatedAt": "2026-01-21T23:52:51.063Z",
      "createdAt": "2026-01-21T23:52:51.063Z",
      "id": "OuUcDlUQOF4Dgotd",
      "name": "MedOrder"
    },
    {
      "updatedAt": "2025-11-07T01:33:39.006Z",
      "createdAt": "2025-11-07T01:33:39.006Z",
      "id": "WIsNIXL4vR1ZWj36",
      "name": "Zenoti"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-03T05:42:35.781Z",
  "versionId": "837fd91e-12e1-4e58-b4e9-86a3473726fb"
}