v4DDI6vWpoiymMuW.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-08T00:27:35.000Z",
    "createdAt": "2026-06-08T00:25:11.749Z",
    "versionId": "08a87137-3fa2-4001-b37d-6ba7f4fd006d",
    "workflowId": "v4DDI6vWpoiymMuW",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -144,
          -272
        ],
        "id": "a55077b5-bd05-4e77-9f43-79ccea8a0f31",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f39f1503-da91-4376-afb6-c360f0599b2a",
                "leftValue": "={{ $json.ok }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          304,
          -192
        ],
        "id": "365eb60f-a203-47c9-866b-37ba29ecc8a2",
        "name": "If"
      },
      {
        "parameters": {
          "url": "http://10.64.1.140:3000/health",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          80,
          -192
        ],
        "id": "1e31adca-f682-4126-b1af-349bc7f29214",
        "name": "CheckPlayWrightisUp"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ee04d079-16ba-4a57-b6aa-498aca009dfa",
                "name": "address",
                "value": "={{ $('When Executed by Another Workflow').item.json.DeliveryAddressFull }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          528,
          -272
        ],
        "id": "c9ad3cf4-da27-41b9-b864-18090d927776",
        "name": "Set Address"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http:///10.64.1.140:3000/regioncheck",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "address",
                "value": "={{ $json.address }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1424,
          -336
        ],
        "id": "99dbf60b-48f0-460f-9063-b897f2a48a48",
        "name": "Check Region",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f23d0e48-4ad9-45c7-b918-58508e436980",
                "leftValue": "={{ $json.ok }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1648,
          -336
        ],
        "id": "b01cfcf0-213a-4ca1-96f5-7037e156ffed",
        "name": "If1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ee04d079-16ba-4a57-b6aa-498aca009dfa",
                "name": "region",
                "value": "Unknown",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1872,
          -144
        ],
        "id": "6b94b20d-0423-4e0f-bd61-41e5a5362bcb",
        "name": "Set Unknown Region"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "05bc7029-9b76-4269-84e2-f77428259f0e",
                "name": "Region",
                "value": "={{ $('Check Region').item.json.status }}",
                "type": "string"
              },
              {
                "id": "17482d1a-a4bb-4c1d-8846-91405f11dbd0",
                "name": "RegionConfidence",
                "value": "={{ $('Check Region').item.json.confidence }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1872,
          -368
        ],
        "id": "dd52d921-d7ac-4af9-b354-f13293a928e8",
        "name": "Add Region"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2320,
          -272
        ],
        "id": "bb1ff91f-c4c7-4743-859e-7d279fbad46c",
        "name": "Wait",
        "webhookId": "8b72a576-5b8b-40bf-83f9-331228934b13",
        "disabled": true
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2096,
          -432
        ],
        "id": "fef43dc6-b00c-4dc6-aba8-3a0c39083273",
        "name": "Merge"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "1e920222-fb7f-437c-a629-f674974c35df",
                "leftValue": "={{ $json.address }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          752,
          -272
        ],
        "id": "6faa9d5c-b2ca-4afd-a73d-ba8cc85cea8c",
        "name": "If2"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "pVbLONb8Gh393bg0",
            "mode": "list",
            "cachedResultName": "ZenotiClinicsNZ",
            "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/pVbLONb8Gh393bg0"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "Zenoti_ID",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.CustomerCenterID }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          976,
          -96
        ],
        "id": "477b4731-affa-4ff6-be38-db182fdd6eba",
        "name": "Get row(s)1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http:///10.64.1.140:3000/regioncheck",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "address",
                "value": "={{ $json.data['Shipping Address'] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1424,
          -96
        ],
        "id": "699d9cfe-126e-4c84-9e28-9beb810fb7fa",
        "name": "Check Region1",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "05bc7029-9b76-4269-84e2-f77428259f0e",
                "name": "Region",
                "value": "={{ $('Check Region1').item.json.status }}",
                "type": "string"
              },
              {
                "id": "17482d1a-a4bb-4c1d-8846-91405f11dbd0",
                "name": "RegionConfidence",
                "value": "={{ $('Check Region1').item.json.confidence }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1872,
          48
        ],
        "id": "f919813e-557c-4340-ac23-bb998bee587d",
        "name": "Add Region1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f23d0e48-4ad9-45c7-b918-58508e436980",
                "leftValue": "={{ $json.ok }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1648,
          -96
        ],
        "id": "de303730-221b-443c-9786-a5e63a3dd4b9",
        "name": "If3"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "toRecipients": "={{ $json.email }}",
          "subject": "=Automation - Med Order - Address Issue - {{ $('When Executed by Another Workflow').item.json.CustomerCode }}",
          "message": "=Hi Team,\n\nAutomation requires you to confirm the address for client {{ $('When Executed by Another Workflow').item.json.CustomerCode }}\n\nTheir adrdress for med orders is either missing or has been entered incorrectly and is unasble to be identified.\n\nPlease confirmed correct address formatting against https://www.nzpost.co.nz/tools/address-postcode-finder and enter into the field below.\n\nRegards,\nAutomation\n",
          "responseType": "customForm",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Shipping Address",
                "placeholder": "Shipping Address",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          1200,
          -96
        ],
        "id": "2129aa9d-e05b-4418-8646-f601cb0392c7",
        "name": "ConfirmAddress",
        "webhookId": "28fd15e6-582c-4484-8900-622634ade477",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "T2XkoM8OENRnrVIu",
            "name": "spu@ash"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "CheckPlayWrightisUp",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CheckPlayWrightisUp": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Set Address",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Unknown Region",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Address": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Region": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Add Region",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Unknown Region",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Unknown Region": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Region": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Check Region",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)1": {
        "main": [
          [
            {
              "node": "ConfirmAddress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Region1": {
        "main": [
          [
            {
              "node": "If3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If3": {
        "main": [
          [
            {
              "node": "Add Region1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Unknown Region",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Region1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "ConfirmAddress": {
        "main": [
          [
            {
              "node": "Check Region1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nicholas Ryall",
    "name": "Version 08a87137",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "08a87137-3fa2-4001-b37d-6ba7f4fd006d",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CheckPlayWrightisUp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckPlayWrightisUp": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set Address",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Unknown Region",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Address": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Region": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Add Region",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Unknown Region",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Unknown Region": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Region": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Check Region",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "ConfirmAddress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Region1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Add Region1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Unknown Region",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Region1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ConfirmAddress": {
      "main": [
        [
          {
            "node": "Check Region1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-13T01:00:39.121Z",
  "id": "v4DDI6vWpoiymMuW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ZenotiNZ - RegionCheck",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        -272
      ],
      "id": "a55077b5-bd05-4e77-9f43-79ccea8a0f31",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f39f1503-da91-4376-afb6-c360f0599b2a",
              "leftValue": "={{ $json.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        -192
      ],
      "id": "365eb60f-a203-47c9-866b-37ba29ecc8a2",
      "name": "If"
    },
    {
      "parameters": {
        "url": "http://10.64.1.140:3000/health",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        -192
      ],
      "id": "1e31adca-f682-4126-b1af-349bc7f29214",
      "name": "CheckPlayWrightisUp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee04d079-16ba-4a57-b6aa-498aca009dfa",
              "name": "address",
              "value": "={{ $('When Executed by Another Workflow').item.json.DeliveryAddressFull }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -272
      ],
      "id": "c9ad3cf4-da27-41b9-b864-18090d927776",
      "name": "Set Address"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http:///10.64.1.140:3000/regioncheck",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1424,
        -336
      ],
      "id": "99dbf60b-48f0-460f-9063-b897f2a48a48",
      "name": "Check Region",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f23d0e48-4ad9-45c7-b918-58508e436980",
              "leftValue": "={{ $json.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1648,
        -336
      ],
      "id": "b01cfcf0-213a-4ca1-96f5-7037e156ffed",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee04d079-16ba-4a57-b6aa-498aca009dfa",
              "name": "region",
              "value": "Unknown",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        -144
      ],
      "id": "6b94b20d-0423-4e0f-bd61-41e5a5362bcb",
      "name": "Set Unknown Region"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05bc7029-9b76-4269-84e2-f77428259f0e",
              "name": "Region",
              "value": "={{ $('Check Region').item.json.status }}",
              "type": "string"
            },
            {
              "id": "17482d1a-a4bb-4c1d-8846-91405f11dbd0",
              "name": "RegionConfidence",
              "value": "={{ $('Check Region').item.json.confidence }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        -368
      ],
      "id": "dd52d921-d7ac-4af9-b354-f13293a928e8",
      "name": "Add Region"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2320,
        -272
      ],
      "id": "bb1ff91f-c4c7-4743-859e-7d279fbad46c",
      "name": "Wait",
      "webhookId": "8b72a576-5b8b-40bf-83f9-331228934b13",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2096,
        -432
      ],
      "id": "fef43dc6-b00c-4dc6-aba8-3a0c39083273",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e920222-fb7f-437c-a629-f674974c35df",
              "leftValue": "={{ $json.address }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        -272
      ],
      "id": "6faa9d5c-b2ca-4afd-a73d-ba8cc85cea8c",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "pVbLONb8Gh393bg0",
          "mode": "list",
          "cachedResultName": "ZenotiClinicsNZ",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/pVbLONb8Gh393bg0"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Zenoti_ID",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.CustomerCenterID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        976,
        -96
      ],
      "id": "477b4731-affa-4ff6-be38-db182fdd6eba",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http:///10.64.1.140:3000/regioncheck",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.data['Shipping Address'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1424,
        -96
      ],
      "id": "699d9cfe-126e-4c84-9e28-9beb810fb7fa",
      "name": "Check Region1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05bc7029-9b76-4269-84e2-f77428259f0e",
              "name": "Region",
              "value": "={{ $('Check Region1').item.json.status }}",
              "type": "string"
            },
            {
              "id": "17482d1a-a4bb-4c1d-8846-91405f11dbd0",
              "name": "RegionConfidence",
              "value": "={{ $('Check Region1').item.json.confidence }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        48
      ],
      "id": "f919813e-557c-4340-ac23-bb998bee587d",
      "name": "Add Region1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f23d0e48-4ad9-45c7-b918-58508e436980",
              "leftValue": "={{ $json.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1648,
        -96
      ],
      "id": "de303730-221b-443c-9786-a5e63a3dd4b9",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "={{ $json.email }}",
        "subject": "=Automation - Med Order - Address Issue - {{ $('When Executed by Another Workflow').item.json.CustomerCode }}",
        "message": "=Hi Team,\n\nAutomation requires you to confirm the address for client {{ $('When Executed by Another Workflow').item.json.CustomerCode }}\n\nTheir adrdress for med orders is either missing or has been entered incorrectly and is unasble to be identified.\n\nPlease confirmed correct address formatting against https://www.nzpost.co.nz/tools/address-postcode-finder and enter into the field below.\n\nRegards,\nAutomation\n",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Shipping Address",
              "placeholder": "Shipping Address",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1200,
        -96
      ],
      "id": "2129aa9d-e05b-4418-8646-f601cb0392c7",
      "name": "ConfirmAddress",
      "webhookId": "28fd15e6-582c-4484-8900-622634ade477",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "T2XkoM8OENRnrVIu",
          "name": "spu@ash"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "AppointmentID": "5431bb38-9d24-4032-bea2-133e69a492c1",
          "CustomerFirstName": "Isaiah",
          "CustomerLastName": "Balenti",
          "CustomerCode": "AK9300",
          "CustomerID": "6d15c0cb-efb7-49be-8ec0-33f7619c282b",
          "CustomerDOB": "28/12/1997",
          "CustomerEmail": "iabalenti@yahoo.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "fb9c0794-12d3-4a8a-b989-5b72dc947163",
          "is_form_submitted": true,
          "textField5": "Isaiah Balenti",
          "select6": "no",
          "textField2": "Dr Annemarie Hern 15150 ",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "clinic",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "1",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "CanSubtract": true,
          "RemainingBalance": 4,
          "ProductID": "8e1f12d0-2f24-44ca-8cb3-c2411968a150",
          "packagesavailable": true,
          "perfectrun": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=d35d81a2-e0d0-4988-ae39-3d0b626350bc&ServiceId=e18c697e-da48-4aee-a7a5-a0fd6c6fc0f6&Service=Doctor%20Scripts%201mth&GuestId=6d15c0cb-efb7-49be-8ec0-33f7619c282b&AppointmentId=5431bb38-9d24-4032-bea2-133e69a492c1",
          "StartDate": "2026-06-06",
          "InvoiceNumber": true,
          "Invoicedate": "2026-06-07",
          "TrueCLinicAbb": "AUC"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "ConfirmAddress": [
      {
        "json": {
          "data": {
            "Shipping Address": "L6/5 Short Street, Newmarket, Auckland 1023"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "J83Enw8ArDSqhMCL",
    "timeSavedPerExecution": 1,
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-02-13T01:00:39.126Z",
      "createdAt": "2026-02-13T01:00:39.126Z",
      "role": "workflow:owner",
      "workflowId": "v4DDI6vWpoiymMuW",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-21T23:52:55.489Z",
      "createdAt": "2026-01-21T23:52:55.489Z",
      "id": "OXsRoYm7kDVlpgY1",
      "name": "NZ"
    },
    {
      "updatedAt": "2026-01-21T23:52:51.063Z",
      "createdAt": "2026-01-21T23:52:51.063Z",
      "id": "OuUcDlUQOF4Dgotd",
      "name": "MedOrder"
    },
    {
      "updatedAt": "2025-11-07T01:33:39.006Z",
      "createdAt": "2025-11-07T01:33:39.006Z",
      "id": "WIsNIXL4vR1ZWj36",
      "name": "Zenoti"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-06-08T00:25:17.865Z",
  "versionId": "08a87137-3fa2-4001-b37d-6ba7f4fd006d"
}