vLoLIvJK1gu3ILbL.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-09T02:07:06.000Z",
    "createdAt": "2026-03-09T02:06:47.527Z",
    "versionId": "88bf3923-8f49-49da-9499-2136da88892d",
    "workflowId": "vLoLIvJK1gu3ILbL",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          -224
        ],
        "id": "e688db8c-a0c3-47ae-a7b4-379762f284ce",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b26619fc-3777-49fc-90f6-d44350185646",
                "name": "DriveID",
                "value": "b!keZy0EVJt0ydRozgmmR1eQMBvSWtB5hGktxakZsBcZvoqANme--qSo6QvDZ3hdgU",
                "type": "string"
              },
              {
                "id": "e3938eed-c906-42f2-91e5-ccc27073e519",
                "name": "ItemsID",
                "value": "01Y4DA4OOUVPWHSA2BN5G2YBSB6DOVI6HR",
                "type": "string"
              },
              {
                "id": "787846a3-bd50-4c4c-b787-46ec357f2836",
                "name": "SiteID",
                "value": "ashleyandmartincomau.sharepoint.com,d072e691-4945-4cb7-9d46-8ce09a647579,25bd0103-07ad-4698-92dc-5a919b01719b",
                "type": "string"
              },
              {
                "id": "62eb8164-be21-46b8-8ea9-e94fad593259",
                "name": "MasterFolderID",
                "value": "01Y4DA4OK2PDWUJLMKBZGKGZQITNHHJNPC",
                "type": "string"
              },
              {
                "id": "df326af1-0521-4c0b-95f9-02144322ce2a",
                "name": "MasterExcelID",
                "value": "01Y4DA4OJUQBWRKASOR5D3SJ532MAO4JPK",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          -224
        ],
        "id": "311005a4-d9f6-455a-8608-109bc799301e",
        "name": "SetDriveID"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e5ab17b7-e65c-49b4-b82b-724bf46809f5",
                "leftValue": "={{ $json.name }}",
                "rightValue": "={{ $('When Executed by Another Workflow').item.json.StartDate }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          896,
          -224
        ],
        "id": "67184ffe-b3b5-48d6-b6c6-e9117c52f844",
        "name": "Filter",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "=https://graph.microsoft.com/v1.0/drives/{{ $json.DriveID }}/items/{{ $json.ItemsID }}/children?$top=200&$select=id,name,folder,file,createdDateTime,lastModifiedDateTime",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          448,
          -224
        ],
        "id": "ed4b0829-5ae2-48bb-beed-b6a967b24ecc",
        "name": "Search Inprogress Orders",
        "credentials": {
          "microsoftSharePointOAuth2Api": {
            "id": "8eWNjQciijocacKo",
            "name": "Microsoft SharePoint account"
          },
          "microsoftGraphSecurityOAuth2Api": {
            "id": "7IYTPqhMSd9yOy8S",
            "name": "Microsoft Graph Security account"
          },
          "microsoftOAuth2Api": {
            "id": "yjHQESADfULqo4lZ",
            "name": "Microsoft account"
          },
          "oAuth2Api": {
            "id": "j30zGPdAyzTUMgGs",
            "name": "MS graph"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.microsoft.com/v1.0/sites/{{ $('SetDriveID').item.json.SiteID }}/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $('SetDriveID').item.json.ItemsID }}/children",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"name\": \"{{ $('When Executed by Another Workflow').item.json.StartDate }}\",\n  \"folder\": {},\n  \"@microsoft.graph.conflictBehavior\": \"rename\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1408,
          -32
        ],
        "id": "d943c9d3-d1bd-42ca-800d-21b71fc55e15",
        "name": "Create Folder In Progress",
        "credentials": {
          "oAuth2Api": {
            "id": "j30zGPdAyzTUMgGs",
            "name": "MS graph"
          }
        }
      },
      {
        "parameters": {
          "site": {
            "__rl": true,
            "value": "={{ $('SetDriveID').item.json.SiteID }}",
            "mode": "id"
          },
          "folder": {
            "__rl": true,
            "value": "={{ $('SetDriveID').item.json.MasterFolderID }}",
            "mode": "id"
          },
          "file": {
            "__rl": true,
            "value": "={{ $('SetDriveID').item.json.MasterExcelID }}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.microsoftSharePoint",
        "typeVersion": 1,
        "position": [
          1632,
          -32
        ],
        "id": "f029f9fb-429d-4a37-ae02-dc516dba52b6",
        "name": "Download file",
        "credentials": {
          "microsoftSharePointOAuth2Api": {
            "id": "8eWNjQciijocacKo",
            "name": "Microsoft SharePoint account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upload",
          "site": {
            "__rl": true,
            "value": "={{ $('SetDriveID').item.json.SiteID }}",
            "mode": "id"
          },
          "folder": {
            "__rl": true,
            "value": "={{ $('Create Folder In Progress').item.json.id }}",
            "mode": "id"
          },
          "fileName": "={{ $('When Executed by Another Workflow').item.json.StartDate }}.xlsx",
          "fileContents": "data",
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.microsoftSharePoint",
        "typeVersion": 1,
        "position": [
          1856,
          -32
        ],
        "id": "4bca491b-4198-4364-95f1-2b5e491f78e3",
        "name": "Upload file",
        "retryOnFail": true,
        "credentials": {
          "microsoftSharePointOAuth2Api": {
            "id": "8eWNjQciijocacKo",
            "name": "Microsoft SharePoint account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "value",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          672,
          -224
        ],
        "id": "e85c8b8f-160a-4c72-bbd5-ed16a573e5db",
        "name": "Split Out",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $json.id }}/children",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1408,
          -432
        ],
        "id": "cb8a2bd7-298b-487a-a40d-0decd34be5d1",
        "name": "Check for Excel",
        "credentials": {
          "microsoftSharePointOAuth2Api": {
            "id": "8eWNjQciijocacKo",
            "name": "Microsoft SharePoint account"
          },
          "microsoftGraphSecurityOAuth2Api": {
            "id": "7IYTPqhMSd9yOy8S",
            "name": "Microsoft Graph Security account"
          },
          "microsoftOAuth2Api": {
            "id": "yjHQESADfULqo4lZ",
            "name": "Microsoft account"
          },
          "oAuth2Api": {
            "id": "j30zGPdAyzTUMgGs",
            "name": "MS graph"
          }
        }
      },
      {
        "parameters": {
          "site": {
            "__rl": true,
            "value": "={{ $('SetDriveID').item.json.SiteID }}",
            "mode": "id"
          },
          "folder": {
            "__rl": true,
            "value": "={{ $('SetDriveID').item.json.MasterFolderID }}",
            "mode": "id"
          },
          "file": {
            "__rl": true,
            "value": "={{ $('SetDriveID').item.json.MasterExcelID }}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.microsoftSharePoint",
        "typeVersion": 1,
        "position": [
          1408,
          -224
        ],
        "id": "b29a93cd-eab6-44f3-904b-bde7bb726819",
        "name": "Download file1",
        "credentials": {
          "microsoftSharePointOAuth2Api": {
            "id": "8eWNjQciijocacKo",
            "name": "Microsoft SharePoint account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upload",
          "site": {
            "__rl": true,
            "value": "={{ $('SetDriveID').item.json.SiteID }}",
            "mode": "id"
          },
          "folder": {
            "__rl": true,
            "value": "={{ $('If-NoFolder').item.json.id }}",
            "mode": "id"
          },
          "fileName": "={{ $('When Executed by Another Workflow').item.json.StartDate }}.xlsx",
          "fileContents": "data",
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.microsoftSharePoint",
        "typeVersion": 1,
        "position": [
          1840,
          -224
        ],
        "id": "1518d5b7-596d-4ec0-876f-834835a8cddb",
        "name": "Upload file1",
        "credentials": {
          "microsoftSharePointOAuth2Api": {
            "id": "8eWNjQciijocacKo",
            "name": "Microsoft SharePoint account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "6e1a84b7-6dfd-4ea5-b9e2-755eecf496e0",
                "leftValue": "={{ $json.value[0].name }}",
                "rightValue": "={{ $('When Executed by Another Workflow').item.json.StartDate }}.xlsx",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1632,
          -432
        ],
        "id": "f6f6df5a-bdcf-4ab1-b802-b5f86f699670",
        "name": "If for File"
      },
      {
        "parameters": {
          "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $('Aggregate').item.json.data[0].CurrentExcelDriveID }}/workbook/tables('{{ $('When Executed by Another Workflow').item.json.TrueCLinicAbb }}Table')/columns",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "$select",
                "value": "name,index"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4080,
          -240
        ],
        "id": "f2fcfd25-4a24-48e7-9140-e1c9c639230f",
        "name": "Get Excel Headings",
        "credentials": {
          "oAuth2Api": {
            "id": "j30zGPdAyzTUMgGs",
            "name": "MS graph"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $json.id }}/children",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2080,
          -32
        ],
        "id": "250b9568-12a6-4470-84f6-8e6bd5b54bb4",
        "name": "Check for Excel1",
        "credentials": {
          "microsoftSharePointOAuth2Api": {
            "id": "8eWNjQciijocacKo",
            "name": "Microsoft SharePoint account"
          },
          "microsoftGraphSecurityOAuth2Api": {
            "id": "7IYTPqhMSd9yOy8S",
            "name": "Microsoft Graph Security account"
          },
          "microsoftOAuth2Api": {
            "id": "yjHQESADfULqo4lZ",
            "name": "Microsoft account"
          },
          "oAuth2Api": {
            "id": "j30zGPdAyzTUMgGs",
            "name": "MS graph"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "6e1a84b7-6dfd-4ea5-b9e2-755eecf496e0",
                "leftValue": "={{ $json['@odata.null'] }}",
                "rightValue": "={{ $('When Executed by Another Workflow').item.json.StartDate }}.xlsx",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2304,
          -32
        ],
        "id": "461ea9e9-6e1c-4cd6-bb57-c5780cfbe66d",
        "name": "If for File1"
      },
      {
        "parameters": {
          "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $json.id }}/children",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2064,
          -224
        ],
        "id": "c27423b4-984a-4db2-8af7-b13a225acc51",
        "name": "Check for Excel2",
        "credentials": {
          "microsoftSharePointOAuth2Api": {
            "id": "8eWNjQciijocacKo",
            "name": "Microsoft SharePoint account"
          },
          "microsoftGraphSecurityOAuth2Api": {
            "id": "7IYTPqhMSd9yOy8S",
            "name": "Microsoft Graph Security account"
          },
          "microsoftOAuth2Api": {
            "id": "yjHQESADfULqo4lZ",
            "name": "Microsoft account"
          },
          "oAuth2Api": {
            "id": "j30zGPdAyzTUMgGs",
            "name": "MS graph"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "6e1a84b7-6dfd-4ea5-b9e2-755eecf496e0",
                "leftValue": "={{ $json['@odata.null'] }}",
                "rightValue": "={{ $('When Executed by Another Workflow').item.json.StartDate }}.xlsx",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2288,
          -224
        ],
        "id": "77f5593f-1cc2-46c2-912f-33511cc8440c",
        "name": "If for File2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b85de6a0-dac9-4047-b482-dbb591813cf8",
                "leftValue": "={{ $json.name }}",
                "rightValue": "={{ $('When Executed by Another Workflow').item.json.StartDate }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1120,
          -224
        ],
        "id": "4ad59fda-142f-4ea5-8bb0-905fa858c73e",
        "name": "If-NoFolder"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          2848,
          -240
        ],
        "id": "092e96a6-610b-4c8d-8972-685525fb07b2",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9021e372-3edf-4f13-97dc-1ef601fcbfdf",
                "name": "CurrentExcelDriveID",
                "value": "={{ $('Upload file').item.json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2576,
          -32
        ],
        "id": "cf2759db-00ba-40c9-9c80-1f3ccd84e49b",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9021e372-3edf-4f13-97dc-1ef601fcbfdf",
                "name": "CurrentExcelDriveID",
                "value": "={{ $('Upload file1').item.json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2576,
          -240
        ],
        "id": "11f1deca-02fa-45d1-9c06-01a826706415",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "jsCode": "// Headers/tableName from the previous node\nconst { headers, tableName } = $input.first().json;\n\n// Parent workflow payload\nconst parent = $('When Executed by Another Workflow').first().json;\n\n// Next patient number from your other code node\nconst nextPatientNoRaw = $('PaintentNumberCheck').first().json.nextPatientNo;\nconst nextPatientNo = Number(nextPatientNoRaw);\n\nif (Number.isNaN(nextPatientNo)) {\n  throw new Error(`nextPatientNo is not a number. Got: ${nextPatientNoRaw}`);\n}\n\n// Prescriber values (directly from node, safely)\nconst PRESCRIBER_FIRST = $('DrDetailCleanUp')?.first?.().json?.PrescriberFirstName ?? null;\nconst PRESCRIBER_LAST  = $('DrDetailCleanUp')?.first?.().json?.PrescriberLastName ?? null;\nconst PRESCRIBER_NO    = $('DrDetailCleanUp')?.first?.().json?.PrescriberNumber ?? null;\n\n// Product name (from Get row(s))\nconst PRODUCT_NAME = $('Get row(s)')?.first?.().json?.DrugName ?? null;\n\n// Build one output row aligned to the Excel headers\nconst row = headers.map(h => {\n  switch (h) {\n    case 'Patient No':\n      return nextPatientNo;\n\n    case 'Customer First Name':\n      return parent.CustomerFirstName ?? null;\n\n    case 'Customer Last Name':\n      return parent.CustomerLastName ?? null;\n\n    case 'Email Address':\n      return parent.CustomerEmail ?? null;\n\n    case 'Gender':\n      return parent.CustomerGender ?? null;\n\n    case 'DOB':\n      return parent.CustomerDOB ?? null;\n\n    case 'Product Name':\n      return PRODUCT_NAME; // <-- now uses DrugName from Get row(s)\n\n    case 'Quantity':\n      return 100;\n\n    case 'Item Count':\n      return parent.quantity ?? null;\n\n    case 'Delivery Address':\n      return parent.DeliveryAddressFull ?? null;\n\n    case 'Prescriber First Name':\n      return PRESCRIBER_FIRST;\n\n    case 'Prescriber Last Name':\n      return PRESCRIBER_LAST;\n\n    case 'Prescriber No':\n      return PRESCRIBER_NO;\n\n    default:\n      return null;\n  }\n});\n\n// Graph expects a 2D array (rows)\nreturn [{\n  json: {\n    tableName,\n    values: [row]\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4528,
          -240
        ],
        "id": "7cbfcb3c-2181-4df1-96be-032e0770b07a",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $('Aggregate').item.json.data[0].CurrentExcelDriveID }}/workbook/tables/{{ encodeURIComponent($('When Executed by Another Workflow').item.json.TrueCLinicAbb + 'Table') }}/range",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3648,
          -240
        ],
        "id": "83118901-e5f5-475f-b418-30b2e744e9b8",
        "name": "RowCountCheck",
        "credentials": {
          "oAuth2Api": {
            "id": "j30zGPdAyzTUMgGs",
            "name": "MS graph"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "let tableName = $json.tableName;\n\nif (!tableName) {\n  const workflowData = $('When Executed by Another Workflow').first().json;\n  tableName = workflowData.CLinicABBTable;\n}\n\nconst cols = $input.first().json.value;\n\nconst headers = cols\n  .slice()\n  .sort((a, b) => (a.index ?? 0) - (b.index ?? 0))\n  .map(c => c.name);\n\nreturn [{\n  json: {\n    tableName,\n    headers,\n    headerCount: headers.length\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4304,
          -240
        ],
        "id": "ebd6a89b-7547-4c4c-b12b-1545985acfec",
        "name": "RipOutHeaders"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $('Aggregate').item.json.data[0].CurrentExcelDriveID }}/workbook/tables('{{ $('When Executed by Another Workflow').item.json.TrueCLinicAbb }}Table')/rows/add",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "values",
                "value": "={{ $json.values }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4752,
          -240
        ],
        "id": "3a290bf0-603c-44f2-8d10-9bc3f6732f6e",
        "name": "UpdateCurrnentSpreadSheet",
        "credentials": {
          "oAuth2Api": {
            "id": "j30zGPdAyzTUMgGs",
            "name": "MS graph"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "sHd41IetwZs5Amxv",
            "mode": "list",
            "cachedResultName": "ComPoundLabs Meds",
            "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/sHd41IetwZs5Amxv"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "LookupReference",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.product }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          3168,
          -240
        ],
        "id": "0025650b-5d62-4510-b7b1-a8816d1b2bb8",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "jsCode": "// Get the raw string\nconst raw = $('When Executed by Another Workflow').first().json.textField2;\n\nif (!raw) {\n  return [{\n    json: {\n      PrescriberFirstName: null,\n      PrescriberLastName: null,\n      PrescriberNumber: null\n    }\n  }];\n}\n\n// Split and clean\nlet parts = raw.trim().split(/\\s+/);\n\n// Remove title if present\nif (parts[0]?.toLowerCase() === 'dr') {\n  parts.shift();\n}\n\n// Assign safely\nconst PrescriberFirstName = parts[0] ?? null;\nconst PrescriberLastName = parts[1] ?? null;\nconst PrescriberNumber = parts[2] ?? null;\n\nreturn [{\n  json: {\n    PrescriberFirstName,\n    PrescriberLastName,\n    PrescriberNumber\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3376,
          -240
        ],
        "id": "df173d65-b7a0-46b4-ad05-0ecf4fa774e4",
        "name": "DrDetailCleanUp"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\nconst address = String(input.address ?? '').trim();      // e.g. \"WEL!A1:M2\"\nconst cellValue = input.text?.[1]?.[0];                 // A2 (row 2, col A)\n\n// Pull the end row number from the range (the number after the last column)\nconst m = address.match(/:([A-Z]+)(\\d+)$/i);             // matches \":M2\" -> [\"...\",\"M\",\"2\"]\nconst endRow = m ? Number(m[2]) : null;\n\nlet nextPatientNo;\n\n// If we can't parse the address, fall back to cellValue logic\nif (!endRow || Number.isNaN(endRow)) {\n  const n = Number(cellValue);\n  nextPatientNo = (!cellValue || Number.isNaN(n)) ? 1 : (n + 1);\n\n} else if (endRow === 2) {\n  // Special case: table bootstrap (header + 1 data row which may be blank)\n  const n = Number(cellValue);\n  nextPatientNo = (!cellValue || Number.isNaN(n)) ? 1 : (n + 1);\n\n} else {\n  // Once the range has grown beyond M2, the end row is the next patient number\n  // M3 => 3, M4 => 4, etc.\n  nextPatientNo = endRow;\n}\n\nreturn [{\n  json: {\n    address,\n    endRow,\n    currentValue: cellValue ?? null,\n    nextPatientNo\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3840,
          -240
        ],
        "id": "5d95de1d-e538-45fa-80ff-f4511554b231",
        "name": "PaintentNumberCheck"
      },
      {
        "parameters": {
          "jsCode": "const items = $('When Executed by Another Workflow').all();\n\n// Set once\nconst AddedtoOrderSpreadSheet = true;\n\nfor (const item of items) {\n  item.json.AddedtoOrderSpreadSheet = AddedtoOrderSpreadSheet;\n}\n\nreturn items;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4992,
          -240
        ],
        "id": "29499f04-5c8d-491d-8dd3-5bd007c898b8",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "content": "## Set Folder and File IDS",
          "height": 368,
          "width": 416
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -48,
          -352
        ],
        "typeVersion": 1,
        "id": "0ad745ec-5dc7-4743-891b-33376ee041ef",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Pre-check to see if there is already a folder / file existing",
          "height": 368,
          "width": 928,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          368,
          -352
        ],
        "typeVersion": 1,
        "id": "e23c0795-0e21-4dff-832e-b184e5abae59",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Find Excel File and Sets the Variable",
          "height": 192,
          "width": 1456
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1296,
          -496
        ],
        "typeVersion": 1,
        "id": "e9694efa-79af-43b7-8e00-9f96187e3afe",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9021e372-3edf-4f13-97dc-1ef601fcbfdf",
                "name": "CurrentExcelDriveID",
                "value": "={{ $json.value[0].id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2576,
          -448
        ],
        "id": "1b9c069b-b1a4-4d9c-ac5d-735b03b59608",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "content": "## No File Found so Created",
          "height": 224,
          "width": 1456,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1296,
          -304
        ],
        "typeVersion": 1,
        "id": "5f82494e-0517-4e44-a534-7a68e4b01b26",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## No Folder and File so Created",
          "height": 224,
          "width": 1456,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1296,
          -80
        ],
        "typeVersion": 1,
        "id": "cdd85094-116a-4388-81e4-98f85f01895b",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Join Flows Together",
          "height": 640,
          "width": 304,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2752,
          -496
        ],
        "typeVersion": 1,
        "id": "6c78ebf3-71ed-499d-a026-ffacb13cdc0a",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Drug Look up and Doctor Name Clean up",
          "height": 288,
          "width": 496
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3056,
          -336
        ],
        "typeVersion": 1,
        "id": "20f3d747-885e-4ab9-bd22-9e713b9409a0",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "## Checks Excel and Sets the Client Number",
          "height": 288,
          "width": 448,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3552,
          -336
        ],
        "typeVersion": 1,
        "id": "5f192550-8933-4230-9978-5d012a41c3d0",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "content": "## Grabs Excel heads / Clean Data and throws data back to the Excel",
          "height": 288,
          "width": 912
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          4000,
          -336
        ],
        "typeVersion": 1,
        "id": "0c0f6f7e-62c9-4a20-bc65-c9109c8a7ad3",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "content": "## Data Back to previous Flow",
          "height": 288,
          "width": 336,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          4912,
          -336
        ],
        "typeVersion": 1,
        "id": "723c1ab7-7124-4888-9a65-0050956d7fbc",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "hBFwd7kqNXuMeJ9k",
            "mode": "list",
            "cachedResultUrl": "/workflow/hBFwd7kqNXuMeJ9k",
            "cachedResultName": "ZenotiNZ - AddtoFinance"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          480,
          -544
        ],
        "id": "c2720ec3-fe9b-4855-8f78-b1822d7a6ae2",
        "name": "Call 'ZenotiNZ - AddtoFinance'"
      },
      {
        "parameters": {
          "content": "## DumpIntoFinance",
          "height": 288,
          "width": 352,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          368,
          -640
        ],
        "typeVersion": 1,
        "id": "f8d265e1-f35d-4a1f-86b6-97704b235a5d",
        "name": "Sticky Note10"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "SetDriveID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call 'ZenotiNZ - AddtoFinance'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetDriveID": {
        "main": [
          [
            {
              "node": "Search Inprogress Orders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "If-NoFolder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Inprogress Orders": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Folder In Progress": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check for Excel": {
        "main": [
          [
            {
              "node": "If for File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file1": {
        "main": [
          [
            {
              "node": "Upload file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If for File": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Download file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Excel Headings": {
        "main": [
          [
            {
              "node": "RipOutHeaders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file": {
        "main": [
          [
            {
              "node": "Check for Excel1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check for Excel1": {
        "main": [
          [
            {
              "node": "If for File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If for File1": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Download file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file1": {
        "main": [
          [
            {
              "node": "Check for Excel2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check for Excel2": {
        "main": [
          [
            {
              "node": "If for File2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If for File2": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If-NoFolder": {
        "main": [
          [
            {
              "node": "Check for Excel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Folder In Progress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "UpdateCurrnentSpreadSheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RowCountCheck": {
        "main": [
          [
            {
              "node": "PaintentNumberCheck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RipOutHeaders": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "DrDetailCleanUp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DrDetailCleanUp": {
        "main": [
          [
            {
              "node": "RowCountCheck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PaintentNumberCheck": {
        "main": [
          [
            {
              "node": "Get Excel Headings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UpdateCurrnentSpreadSheet": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nicholas Ryall",
    "name": "Version 88bf3923",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "88bf3923-8f49-49da-9499-2136da88892d",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "SetDriveID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'ZenotiNZ - AddtoFinance'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetDriveID": {
      "main": [
        [
          {
            "node": "Search Inprogress Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If-NoFolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Inprogress Orders": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder In Progress": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Excel": {
      "main": [
        [
          {
            "node": "If for File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If for File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Excel Headings": {
      "main": [
        [
          {
            "node": "RipOutHeaders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Check for Excel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Excel1": {
      "main": [
        [
          {
            "node": "If for File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If for File1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Check for Excel2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Excel2": {
      "main": [
        [
          {
            "node": "If for File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If for File2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If-NoFolder": {
      "main": [
        [
          {
            "node": "Check for Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Folder In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "UpdateCurrnentSpreadSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RowCountCheck": {
      "main": [
        [
          {
            "node": "PaintentNumberCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RipOutHeaders": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "DrDetailCleanUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DrDetailCleanUp": {
      "main": [
        [
          {
            "node": "RowCountCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PaintentNumberCheck": {
      "main": [
        [
          {
            "node": "Get Excel Headings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateCurrnentSpreadSheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T00:58:36.028Z",
  "id": "vLoLIvJK1gu3ILbL",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Zenoti - AddtoSpreadSheet",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -224
      ],
      "id": "e688db8c-a0c3-47ae-a7b4-379762f284ce",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b26619fc-3777-49fc-90f6-d44350185646",
              "name": "DriveID",
              "value": "b!keZy0EVJt0ydRozgmmR1eQMBvSWtB5hGktxakZsBcZvoqANme--qSo6QvDZ3hdgU",
              "type": "string"
            },
            {
              "id": "e3938eed-c906-42f2-91e5-ccc27073e519",
              "name": "ItemsID",
              "value": "01Y4DA4OOUVPWHSA2BN5G2YBSB6DOVI6HR",
              "type": "string"
            },
            {
              "id": "787846a3-bd50-4c4c-b787-46ec357f2836",
              "name": "SiteID",
              "value": "ashleyandmartincomau.sharepoint.com,d072e691-4945-4cb7-9d46-8ce09a647579,25bd0103-07ad-4698-92dc-5a919b01719b",
              "type": "string"
            },
            {
              "id": "62eb8164-be21-46b8-8ea9-e94fad593259",
              "name": "MasterFolderID",
              "value": "01Y4DA4OK2PDWUJLMKBZGKGZQITNHHJNPC",
              "type": "string"
            },
            {
              "id": "df326af1-0521-4c0b-95f9-02144322ce2a",
              "name": "MasterExcelID",
              "value": "01Y4DA4OJUQBWRKASOR5D3SJ532MAO4JPK",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -224
      ],
      "id": "311005a4-d9f6-455a-8608-109bc799301e",
      "name": "SetDriveID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e5ab17b7-e65c-49b4-b82b-724bf46809f5",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.StartDate }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        896,
        -224
      ],
      "id": "67184ffe-b3b5-48d6-b6c6-e9117c52f844",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $json.DriveID }}/items/{{ $json.ItemsID }}/children?$top=200&$select=id,name,folder,file,createdDateTime,lastModifiedDateTime",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -224
      ],
      "id": "ed4b0829-5ae2-48bb-beed-b6a967b24ecc",
      "name": "Search Inprogress Orders",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        },
        "microsoftGraphSecurityOAuth2Api": {
          "id": "7IYTPqhMSd9yOy8S",
          "name": "Microsoft Graph Security account"
        },
        "microsoftOAuth2Api": {
          "id": "yjHQESADfULqo4lZ",
          "name": "Microsoft account"
        },
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $('SetDriveID').item.json.SiteID }}/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $('SetDriveID').item.json.ItemsID }}/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('When Executed by Another Workflow').item.json.StartDate }}\",\n  \"folder\": {},\n  \"@microsoft.graph.conflictBehavior\": \"rename\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        -32
      ],
      "id": "d943c9d3-d1bd-42ca-800d-21b71fc55e15",
      "name": "Create Folder In Progress",
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "site": {
          "__rl": true,
          "value": "={{ $('SetDriveID').item.json.SiteID }}",
          "mode": "id"
        },
        "folder": {
          "__rl": true,
          "value": "={{ $('SetDriveID').item.json.MasterFolderID }}",
          "mode": "id"
        },
        "file": {
          "__rl": true,
          "value": "={{ $('SetDriveID').item.json.MasterExcelID }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        1632,
        -32
      ],
      "id": "f029f9fb-429d-4a37-ae02-dc516dba52b6",
      "name": "Download file",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "={{ $('SetDriveID').item.json.SiteID }}",
          "mode": "id"
        },
        "folder": {
          "__rl": true,
          "value": "={{ $('Create Folder In Progress').item.json.id }}",
          "mode": "id"
        },
        "fileName": "={{ $('When Executed by Another Workflow').item.json.StartDate }}.xlsx",
        "fileContents": "data",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        1856,
        -32
      ],
      "id": "4bca491b-4198-4364-95f1-2b5e491f78e3",
      "name": "Upload file",
      "retryOnFail": true,
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        -224
      ],
      "id": "e85c8b8f-160a-4c72-bbd5-ed16a573e5db",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $json.id }}/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        -432
      ],
      "id": "cb8a2bd7-298b-487a-a40d-0decd34be5d1",
      "name": "Check for Excel",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        },
        "microsoftGraphSecurityOAuth2Api": {
          "id": "7IYTPqhMSd9yOy8S",
          "name": "Microsoft Graph Security account"
        },
        "microsoftOAuth2Api": {
          "id": "yjHQESADfULqo4lZ",
          "name": "Microsoft account"
        },
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "site": {
          "__rl": true,
          "value": "={{ $('SetDriveID').item.json.SiteID }}",
          "mode": "id"
        },
        "folder": {
          "__rl": true,
          "value": "={{ $('SetDriveID').item.json.MasterFolderID }}",
          "mode": "id"
        },
        "file": {
          "__rl": true,
          "value": "={{ $('SetDriveID').item.json.MasterExcelID }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        1408,
        -224
      ],
      "id": "b29a93cd-eab6-44f3-904b-bde7bb726819",
      "name": "Download file1",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "={{ $('SetDriveID').item.json.SiteID }}",
          "mode": "id"
        },
        "folder": {
          "__rl": true,
          "value": "={{ $('If-NoFolder').item.json.id }}",
          "mode": "id"
        },
        "fileName": "={{ $('When Executed by Another Workflow').item.json.StartDate }}.xlsx",
        "fileContents": "data",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        1840,
        -224
      ],
      "id": "1518d5b7-596d-4ec0-876f-834835a8cddb",
      "name": "Upload file1",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e1a84b7-6dfd-4ea5-b9e2-755eecf496e0",
              "leftValue": "={{ $json.value[0].name }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.StartDate }}.xlsx",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1632,
        -432
      ],
      "id": "f6f6df5a-bdcf-4ab1-b802-b5f86f699670",
      "name": "If for File"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $('Aggregate').item.json.data[0].CurrentExcelDriveID }}/workbook/tables('{{ $('When Executed by Another Workflow').item.json.TrueCLinicAbb }}Table')/columns",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$select",
              "value": "name,index"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4080,
        -240
      ],
      "id": "f2fcfd25-4a24-48e7-9140-e1c9c639230f",
      "name": "Get Excel Headings",
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $json.id }}/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2080,
        -32
      ],
      "id": "250b9568-12a6-4470-84f6-8e6bd5b54bb4",
      "name": "Check for Excel1",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        },
        "microsoftGraphSecurityOAuth2Api": {
          "id": "7IYTPqhMSd9yOy8S",
          "name": "Microsoft Graph Security account"
        },
        "microsoftOAuth2Api": {
          "id": "yjHQESADfULqo4lZ",
          "name": "Microsoft account"
        },
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e1a84b7-6dfd-4ea5-b9e2-755eecf496e0",
              "leftValue": "={{ $json['@odata.null'] }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.StartDate }}.xlsx",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2304,
        -32
      ],
      "id": "461ea9e9-6e1c-4cd6-bb57-c5780cfbe66d",
      "name": "If for File1"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $json.id }}/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2064,
        -224
      ],
      "id": "c27423b4-984a-4db2-8af7-b13a225acc51",
      "name": "Check for Excel2",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        },
        "microsoftGraphSecurityOAuth2Api": {
          "id": "7IYTPqhMSd9yOy8S",
          "name": "Microsoft Graph Security account"
        },
        "microsoftOAuth2Api": {
          "id": "yjHQESADfULqo4lZ",
          "name": "Microsoft account"
        },
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e1a84b7-6dfd-4ea5-b9e2-755eecf496e0",
              "leftValue": "={{ $json['@odata.null'] }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.StartDate }}.xlsx",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2288,
        -224
      ],
      "id": "77f5593f-1cc2-46c2-912f-33511cc8440c",
      "name": "If for File2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b85de6a0-dac9-4047-b482-dbb591813cf8",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.StartDate }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        -224
      ],
      "id": "4ad59fda-142f-4ea5-8bb0-905fa858c73e",
      "name": "If-NoFolder"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2848,
        -240
      ],
      "id": "092e96a6-610b-4c8d-8972-685525fb07b2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9021e372-3edf-4f13-97dc-1ef601fcbfdf",
              "name": "CurrentExcelDriveID",
              "value": "={{ $('Upload file').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2576,
        -32
      ],
      "id": "cf2759db-00ba-40c9-9c80-1f3ccd84e49b",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9021e372-3edf-4f13-97dc-1ef601fcbfdf",
              "name": "CurrentExcelDriveID",
              "value": "={{ $('Upload file1').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2576,
        -240
      ],
      "id": "11f1deca-02fa-45d1-9c06-01a826706415",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "// Headers/tableName from the previous node\nconst { headers, tableName } = $input.first().json;\n\n// Parent workflow payload\nconst parent = $('When Executed by Another Workflow').first().json;\n\n// Next patient number from your other code node\nconst nextPatientNoRaw = $('PaintentNumberCheck').first().json.nextPatientNo;\nconst nextPatientNo = Number(nextPatientNoRaw);\n\nif (Number.isNaN(nextPatientNo)) {\n  throw new Error(`nextPatientNo is not a number. Got: ${nextPatientNoRaw}`);\n}\n\n// Prescriber values (directly from node, safely)\nconst PRESCRIBER_FIRST = $('DrDetailCleanUp')?.first?.().json?.PrescriberFirstName ?? null;\nconst PRESCRIBER_LAST  = $('DrDetailCleanUp')?.first?.().json?.PrescriberLastName ?? null;\nconst PRESCRIBER_NO    = $('DrDetailCleanUp')?.first?.().json?.PrescriberNumber ?? null;\n\n// Product name (from Get row(s))\nconst PRODUCT_NAME = $('Get row(s)')?.first?.().json?.DrugName ?? null;\n\n// Build one output row aligned to the Excel headers\nconst row = headers.map(h => {\n  switch (h) {\n    case 'Patient No':\n      return nextPatientNo;\n\n    case 'Customer First Name':\n      return parent.CustomerFirstName ?? null;\n\n    case 'Customer Last Name':\n      return parent.CustomerLastName ?? null;\n\n    case 'Email Address':\n      return parent.CustomerEmail ?? null;\n\n    case 'Gender':\n      return parent.CustomerGender ?? null;\n\n    case 'DOB':\n      return parent.CustomerDOB ?? null;\n\n    case 'Product Name':\n      return PRODUCT_NAME; // <-- now uses DrugName from Get row(s)\n\n    case 'Quantity':\n      return 100;\n\n    case 'Item Count':\n      return parent.quantity ?? null;\n\n    case 'Delivery Address':\n      return parent.DeliveryAddressFull ?? null;\n\n    case 'Prescriber First Name':\n      return PRESCRIBER_FIRST;\n\n    case 'Prescriber Last Name':\n      return PRESCRIBER_LAST;\n\n    case 'Prescriber No':\n      return PRESCRIBER_NO;\n\n    default:\n      return null;\n  }\n});\n\n// Graph expects a 2D array (rows)\nreturn [{\n  json: {\n    tableName,\n    values: [row]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4528,
        -240
      ],
      "id": "7cbfcb3c-2181-4df1-96be-032e0770b07a",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $('Aggregate').item.json.data[0].CurrentExcelDriveID }}/workbook/tables/{{ encodeURIComponent($('When Executed by Another Workflow').item.json.TrueCLinicAbb + 'Table') }}/range",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3648,
        -240
      ],
      "id": "83118901-e5f5-475f-b418-30b2e744e9b8",
      "name": "RowCountCheck",
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let tableName = $json.tableName;\n\nif (!tableName) {\n  const workflowData = $('When Executed by Another Workflow').first().json;\n  tableName = workflowData.CLinicABBTable;\n}\n\nconst cols = $input.first().json.value;\n\nconst headers = cols\n  .slice()\n  .sort((a, b) => (a.index ?? 0) - (b.index ?? 0))\n  .map(c => c.name);\n\nreturn [{\n  json: {\n    tableName,\n    headers,\n    headerCount: headers.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        -240
      ],
      "id": "ebd6a89b-7547-4c4c-b12b-1545985acfec",
      "name": "RipOutHeaders"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('SetDriveID').item.json.DriveID }}/items/{{ $('Aggregate').item.json.data[0].CurrentExcelDriveID }}/workbook/tables('{{ $('When Executed by Another Workflow').item.json.TrueCLinicAbb }}Table')/rows/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "values",
              "value": "={{ $json.values }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4752,
        -240
      ],
      "id": "3a290bf0-603c-44f2-8d10-9bc3f6732f6e",
      "name": "UpdateCurrnentSpreadSheet",
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "sHd41IetwZs5Amxv",
          "mode": "list",
          "cachedResultName": "ComPoundLabs Meds",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/sHd41IetwZs5Amxv"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "LookupReference",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.product }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3168,
        -240
      ],
      "id": "0025650b-5d62-4510-b7b1-a8816d1b2bb8",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw string\nconst raw = $('When Executed by Another Workflow').first().json.textField2;\n\nif (!raw) {\n  return [{\n    json: {\n      PrescriberFirstName: null,\n      PrescriberLastName: null,\n      PrescriberNumber: null\n    }\n  }];\n}\n\n// Split and clean\nlet parts = raw.trim().split(/\\s+/);\n\n// Remove title if present\nif (parts[0]?.toLowerCase() === 'dr') {\n  parts.shift();\n}\n\n// Assign safely\nconst PrescriberFirstName = parts[0] ?? null;\nconst PrescriberLastName = parts[1] ?? null;\nconst PrescriberNumber = parts[2] ?? null;\n\nreturn [{\n  json: {\n    PrescriberFirstName,\n    PrescriberLastName,\n    PrescriberNumber\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        -240
      ],
      "id": "df173d65-b7a0-46b4-ad05-0ecf4fa774e4",
      "name": "DrDetailCleanUp"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst address = String(input.address ?? '').trim();      // e.g. \"WEL!A1:M2\"\nconst cellValue = input.text?.[1]?.[0];                 // A2 (row 2, col A)\n\n// Pull the end row number from the range (the number after the last column)\nconst m = address.match(/:([A-Z]+)(\\d+)$/i);             // matches \":M2\" -> [\"...\",\"M\",\"2\"]\nconst endRow = m ? Number(m[2]) : null;\n\nlet nextPatientNo;\n\n// If we can't parse the address, fall back to cellValue logic\nif (!endRow || Number.isNaN(endRow)) {\n  const n = Number(cellValue);\n  nextPatientNo = (!cellValue || Number.isNaN(n)) ? 1 : (n + 1);\n\n} else if (endRow === 2) {\n  // Special case: table bootstrap (header + 1 data row which may be blank)\n  const n = Number(cellValue);\n  nextPatientNo = (!cellValue || Number.isNaN(n)) ? 1 : (n + 1);\n\n} else {\n  // Once the range has grown beyond M2, the end row is the next patient number\n  // M3 => 3, M4 => 4, etc.\n  nextPatientNo = endRow;\n}\n\nreturn [{\n  json: {\n    address,\n    endRow,\n    currentValue: cellValue ?? null,\n    nextPatientNo\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        -240
      ],
      "id": "5d95de1d-e538-45fa-80ff-f4511554b231",
      "name": "PaintentNumberCheck"
    },
    {
      "parameters": {
        "jsCode": "const items = $('When Executed by Another Workflow').all();\n\n// Set once\nconst AddedtoOrderSpreadSheet = true;\n\nfor (const item of items) {\n  item.json.AddedtoOrderSpreadSheet = AddedtoOrderSpreadSheet;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        -240
      ],
      "id": "29499f04-5c8d-491d-8dd3-5bd007c898b8",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "## Set Folder and File IDS",
        "height": 368,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -352
      ],
      "typeVersion": 1,
      "id": "0ad745ec-5dc7-4743-891b-33376ee041ef",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Pre-check to see if there is already a folder / file existing",
        "height": 368,
        "width": 928,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -352
      ],
      "typeVersion": 1,
      "id": "e23c0795-0e21-4dff-832e-b184e5abae59",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Find Excel File and Sets the Variable",
        "height": 192,
        "width": 1456
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        -496
      ],
      "typeVersion": 1,
      "id": "e9694efa-79af-43b7-8e00-9f96187e3afe",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9021e372-3edf-4f13-97dc-1ef601fcbfdf",
              "name": "CurrentExcelDriveID",
              "value": "={{ $json.value[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2576,
        -448
      ],
      "id": "1b9c069b-b1a4-4d9c-ac5d-735b03b59608",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## No File Found so Created",
        "height": 224,
        "width": 1456,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        -304
      ],
      "typeVersion": 1,
      "id": "5f82494e-0517-4e44-a534-7a68e4b01b26",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## No Folder and File so Created",
        "height": 224,
        "width": 1456,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        -80
      ],
      "typeVersion": 1,
      "id": "cdd85094-116a-4388-81e4-98f85f01895b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Join Flows Together",
        "height": 640,
        "width": 304,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2752,
        -496
      ],
      "typeVersion": 1,
      "id": "6c78ebf3-71ed-499d-a026-ffacb13cdc0a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Drug Look up and Doctor Name Clean up",
        "height": 288,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3056,
        -336
      ],
      "typeVersion": 1,
      "id": "20f3d747-885e-4ab9-bd22-9e713b9409a0",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Checks Excel and Sets the Client Number",
        "height": 288,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3552,
        -336
      ],
      "typeVersion": 1,
      "id": "5f192550-8933-4230-9978-5d012a41c3d0",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Grabs Excel heads / Clean Data and throws data back to the Excel",
        "height": 288,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4000,
        -336
      ],
      "typeVersion": 1,
      "id": "0c0f6f7e-62c9-4a20-bc65-c9109c8a7ad3",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Data Back to previous Flow",
        "height": 288,
        "width": 336,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4912,
        -336
      ],
      "typeVersion": 1,
      "id": "723c1ab7-7124-4888-9a65-0050956d7fbc",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hBFwd7kqNXuMeJ9k",
          "mode": "list",
          "cachedResultUrl": "/workflow/hBFwd7kqNXuMeJ9k",
          "cachedResultName": "ZenotiNZ - AddtoFinance"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        480,
        -544
      ],
      "id": "c2720ec3-fe9b-4855-8f78-b1822d7a6ae2",
      "name": "Call 'ZenotiNZ - AddtoFinance'"
    },
    {
      "parameters": {
        "content": "## DumpIntoFinance",
        "height": 288,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -640
      ],
      "typeVersion": 1,
      "id": "f8d265e1-f35d-4a1f-86b6-97704b235a5d",
      "name": "Sticky Note10"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "AppointmentID": "840f0c7b-504c-497e-8da6-5ed30821e7a8",
          "CustomerFirstName": "Derrell",
          "CustomerLastName": "Meyer",
          "CustomerCode": "HM2781",
          "CustomerID": "825ab5db-9ff8-40f3-8e2b-d757ff584035",
          "CustomerDOB": "26/10/1970",
          "CustomerEmail": "derrellmeyer@mac.com",
          "CustomerGender": "Male",
          "CustomerCenterID": "690a5763-4215-4df2-93d5-aa0395f69bd5",
          "is_form_submitted": true,
          "textField5": "Derrell Meyer",
          "select6": "no",
          "textField2": "Annemarie Hern 15150",
          "textField4": "L6/5 Short Street, Newmarket, Auckland 1010",
          "btnFormioSubmit": false,
          "ConsentFormFilled": true,
          "ConsentFormSubmitted": true,
          "DeliveryLocation": "guest",
          "product": "7Minoxidil001RetinoicAcid025FinasterideLotion",
          "quantity": "2",
          "DeliveryAddress1": "21 Tauranga Direct Road",
          "DeliveryCity": "Rotorua",
          "DeliveryAddressFull": "21 Tauranga Direct Road, Rotorua",
          "doctorsDirections": "ApplyToScalp",
          "addresscompared": true,
          "ProductNameCleaned": "7% Minoxidil 0.01% Retinoic Acid 0.25% Finasteride Lotion",
          "ZenotiProductName": "Minoxidil + Finasteride Solution",
          "ZenotiProductNameShort": "Minox",
          "ZenotiProductNameEnd": "tion",
          "packagesavailable": false,
          "paidinfull": true,
          "CLinicABB": "AUC",
          "scriptURL": "https://ashleymartinnz.zenoti.com/Appointment/appointmentcustomdatav2.aspx?AppGroupId=eef55ea2-fe32-4ac5-b2e0-e4c0f230e597&ServiceId=cf690070-2b50-484d-9ec9-67c786576eb6&Service=Doctor%20Scripts%208mth&GuestId=825ab5db-9ff8-40f3-8e2b-d757ff584035&AppointmentId=840f0c7b-504c-497e-8da6-5ed30821e7a8",
          "StartDate": "2026-03-07",
          "ManuallyApproved": true,
          "InvoiceNumber": true,
          "Invoicedate": "2026-03-09",
          "TrueCLinicAbb": "HAM"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "J83Enw8ArDSqhMCL"
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T00:58:36.031Z",
      "createdAt": "2026-01-28T00:58:36.031Z",
      "role": "workflow:owner",
      "workflowId": "vLoLIvJK1gu3ILbL",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-21T23:52:55.489Z",
      "createdAt": "2026-01-21T23:52:55.489Z",
      "id": "OXsRoYm7kDVlpgY1",
      "name": "NZ"
    },
    {
      "updatedAt": "2026-01-21T23:52:51.063Z",
      "createdAt": "2026-01-21T23:52:51.063Z",
      "id": "OuUcDlUQOF4Dgotd",
      "name": "MedOrder"
    },
    {
      "updatedAt": "2025-11-07T01:33:39.006Z",
      "createdAt": "2025-11-07T01:33:39.006Z",
      "id": "WIsNIXL4vR1ZWj36",
      "name": "Zenoti"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-09T02:06:47.526Z",
  "versionId": "88bf3923-8f49-49da-9499-2136da88892d"
}