WQ3b4eREWXC1NxRb.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call 'Zenoti-GetAuthToken'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Zenoti-GetAuthToken'": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Loop Cursor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "RemoveDelete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateTable": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Loop Cursor": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoveDelete": {
      "main": [
        [
          {
            "node": "Normalise for IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "UpdateTable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise for IF": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-07T02:36:05.802Z",
  "id": "WQ3b4eREWXC1NxRb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Zenoti-ListClinicGuests",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        32
      ],
      "id": "38ca15c5-e465-45f3-8bcf-e82337740ce4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QA7Qdseg7ehAOWP6",
          "mode": "list",
          "cachedResultUrl": "/workflow/QA7Qdseg7ehAOWP6",
          "cachedResultName": "Zenoti-GetAuthToken"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        32
      ],
      "id": "5743c0a9-8fdb-44dd-b195-255f412744c0",
      "name": "Call 'Zenoti-GetAuthToken'"
    },
    {
      "parameters": {
        "url": "https://api.zenoti.com/v1/guests",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "center_id",
              "value": "={{ $json.Zenoti_ID }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "size",
              "value": "1"
            },
            {
              "name": "last_updated",
              "value": "date"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        32
      ],
      "id": "5b0bfb7f-c050-4806-9d6a-d442c005ff15",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "lsINP70DmcZtIj4M",
          "mode": "list",
          "cachedResultName": "ZenotiClinics",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/lsINP70DmcZtIj4M"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "code",
              "keyValue": "SY"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        448,
        32
      ],
      "id": "5f464484-310e-4e67-be3e-e2a367878cef",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// Pull total and size from the first input item\nconst total = $input.first().json.page_Info.total ?? 0;\n\n// You can set this to the API’s max page size\nconst size = 100;\n\n// Calculate how many pages we need to loop through\nconst pages = Math.ceil(total / size);\n\n// Return one item per page (1..N)\nreturn Array.from({ length: pages }, (_, i) => ({\n  json: {\n    page: i + 1,\n    size: size\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        128
      ],
      "id": "606a63cd-b62e-47c0-8ad0-aa05ed2de081",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "lsINP70DmcZtIj4M",
          "mode": "list",
          "cachedResultName": "ZenotiClinics",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/lsINP70DmcZtIj4M"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Zenoti_ID",
              "keyValue": "={{ $('Get row(s)').item.json.Zenoti_ID }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No_Clients": "={{ $json.page_Info.total }}",
            "postcode": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Zenoti_ID",
              "displayName": "Zenoti_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "code",
              "displayName": "code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state_short_name",
              "displayName": "state_short_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "time_zone",
              "displayName": "time_zone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address_1",
              "displayName": "address_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address_2",
              "displayName": "address_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "postcode",
              "displayName": "postcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "display_number",
              "displayName": "display_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "No_Clients",
              "displayName": "No_Clients",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        896,
        -80
      ],
      "id": "a0698683-4101-4799-8ed7-13efb903eebf",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        128
      ],
      "id": "36a31a06-4cd0-424f-a17d-f5ab9388786f",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "https://api.zenoti.com/v1/guests",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "center_id",
              "value": "={{ $('Get row(s)').item.json.Zenoti_ID }}"
            },
            {
              "name": "page",
              "value": "={{ $('Return Loop Cursor').item.json.page }}"
            },
            {
              "name": "size",
              "value": "={{ $('Return Loop Cursor').item.json.size }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Call \\'Zenoti-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1792,
        48
      ],
      "id": "7c4640ad-6b0c-47a3-8e40-8dcd036a187d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        48
      ],
      "id": "81e39ca2-58f3-4146-959e-eb457a04d8e8",
      "name": "Wait",
      "webhookId": "a56f33e3-1148-47a5-a7fd-74826dfbea9f"
    },
    {
      "parameters": {
        "fieldToSplitOut": "guests",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2016,
        48
      ],
      "id": "f6ca6bcb-bbe5-4053-93cd-1b8d7a39c78e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Get row(s)').first().json.table_id }}",
          "mode": "id"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Client_ID",
              "keyValue": "={{ $json.code }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client_ID": "={{ $json.id }}",
            "Zenoti_ID": "={{ $json.center_id }}",
            "Clinic_name": "={{ $json.center_name }}",
            "Client_DOB": "={{ $json.personal_info.date_of_birth }}",
            "Client_FirstName": "={{ $json.personal_info.first_name }}",
            "Client_LastName": "={{ $json.personal_info.last_name }}",
            "Client_Code": "={{ $json.code }}",
            "Client_Tags": "={{ $json.tags }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client_ID",
              "displayName": "Client_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zenoti_ID",
              "displayName": "Zenoti_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clinic_name",
              "displayName": "Clinic_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client_FirstName",
              "displayName": "Client_FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client_LastName",
              "displayName": "Client_LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client_DOB",
              "displayName": "Client_DOB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client_Code",
              "displayName": "Client_Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client_Tags",
              "displayName": "Client_Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3056,
        64
      ],
      "id": "28e059e5-e082-43bb-9ddf-dc0cf4d9c37c",
      "name": "UpdateTable"
    },
    {
      "parameters": {
        "toRecipients": "nicholas.ryall@ashleyandmartin.com.au",
        "subject": "N8N - Import Complete",
        "bodyContent": "Yo!\n\nYou have now imported clients into the table.\n\nRegards,\nNicholas",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1328,
        -240
      ],
      "id": "64802be9-b21d-4ebc-907b-3e95778590bf",
      "name": "Send a message",
      "webhookId": "6b642f4e-a23d-41d0-abfd-f91457e9af19",
      "executeOnce": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "syr2VMZLsiSBjaSJ",
          "name": "nryall@ash"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Default page and size\nconst currentPage = Number($json.page ?? 0);\nconst nextPage = currentPage + 1;\n\nreturn [{\n  json: {\n    page: nextPage,\n    size: 100,               // or whatever you want per page\n    totalPages: 336,         // optional; you can pull this from the first API call if you want\n    clinicId: $json.clinicId,\n    tableName: $json.tableName\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        48
      ],
      "id": "754a0635-2cad-4447-8de3-dc38d3fd7b07",
      "name": "Return Loop Cursor"
    },
    {
      "parameters": {
        "jsCode": "// Remove any client whose personal_info.last_name equals \"Client Deleted\"\nreturn $input.all().filter(item => {\n  const lastName = $input.first().json.personal_info.last_name ?? \"\";\n  return lastName !== \"Client Deleted\";\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        48
      ],
      "id": "8ab2b679-d6d7-4fce-a0a2-f3f02912bdd4",
      "name": "RemoveDelete",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "799dd32f-13ad-47b6-a056-54826739fc8d",
              "leftValue": "={{ $json.empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        48
      ],
      "id": "e268e73e-d458-4852-863b-b7208a111c1f",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst empty = items.length === 1 && Object.keys(items[0].json).length === 0;\n\n// Add the flag to the first (or only) item\nif (items.length > 0) {\n  items[0].json.empty = empty;\n  return items;\n}\n\n// If nothing came in, emit one with just the flag\nreturn [{ json: { empty: true } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        48
      ],
      "id": "4986b6a8-f5bd-49fc-a24c-db040cbd4b4c",
      "name": "Normalise for IF"
    },
    {
      "parameters": {
        "content": "## Updating Table\n",
        "height": 352,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2928,
        -16
      ],
      "typeVersion": 1,
      "id": "0d3a64b4-96be-4d7d-ad64-2db2c0a61d13",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Set Clinic\n**Double click** to edit me.  ",
        "height": 304,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -64
      ],
      "typeVersion": 1,
      "id": "e62b7f0e-fc1e-4257-b35b-a097998e75d1",
      "name": "Sticky Note1"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-07T02:36:05.804Z",
      "createdAt": "2025-11-07T02:36:05.804Z",
      "role": "workflow:owner",
      "workflowId": "WQ3b4eREWXC1NxRb",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-07T01:33:39.006Z",
      "createdAt": "2025-11-07T01:33:39.006Z",
      "id": "WIsNIXL4vR1ZWj36",
      "name": "Zenoti"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-19T00:20:48.000Z",
  "versionId": "76d30e9d-a813-4d1f-b45d-b56aa5f080be"
}