WTV1WPIJ21WnWm2v.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-03T02:07:00.000Z",
    "createdAt": "2026-03-03T02:06:54.850Z",
    "versionId": "20d8a5cf-a7f2-43d2-913a-f89e9f529493",
    "workflowId": "WTV1WPIJ21WnWm2v",
    "nodes": [
      {
        "parameters": {
          "formTitle": "NZ - Collect Patient Data",
          "formDescription": "Collect Patient Data and send to clinic",
          "formFields": {
            "values": [
              {
                "fieldName": "CustomerClientClinic",
                "fieldLabel": "Clients Clinic",
                "fieldType": "dropdown",
                "defaultValue": "Auckland",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Auckland"
                    },
                    {
                      "option": "Wellington"
                    },
                    {
                      "option": "Christchurch"
                    },
                    {
                      "option": "Hamilton"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldName": "CustomerCode",
                "fieldLabel": "Clients Exact Code",
                "placeholder": "00000-ABC",
                "requiredField": true
              }
            ]
          },
          "options": {
            "path": "NZ-NoteCollector"
          }
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.4,
        "position": [
          144,
          0
        ],
        "id": "cae16148-bace-44bd-aead-a49dce0100a5",
        "name": "On form submission",
        "webhookId": "fc7fb093-04b6-4b80-9570-d7ddefdc7bdb"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "pVbLONb8Gh393bg0",
            "mode": "list",
            "cachedResultName": "ZenotiClinicsNZ",
            "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/pVbLONb8Gh393bg0"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "name",
                "keyValue": "={{ $json.CustomerClientClinic }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          368,
          0
        ],
        "id": "03cb67ad-874a-45f0-a72d-751ec86565ff",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "PygQxZaLVrcaZiGx",
            "mode": "list",
            "cachedResultUrl": "/workflow/PygQxZaLVrcaZiGx",
            "cachedResultName": "ZenotiNZ-GetAuthToken"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          816,
          0
        ],
        "id": "14de51a9-1573-4b1b-bb61-fc60b94a2154",
        "name": "Call 'ZenotiNZ-GetAuthToken'"
      },
      {
        "parameters": {
          "url": "https://api.zenoti.com/v1/guests/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "center_id",
                "value": "={{ $('Get row(s)').item.json.Zenoti_ID }}"
              },
              {
                "name": "page",
                "value": "1"
              },
              {
                "name": "size",
                "value": "10"
              },
              {
                "name": "user_code",
                "value": "={{ $('On form submission').item.json.CustomerCode }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=bearer {{ $('Call \\'ZenotiNZ-GetAuthToken\\'').item.json.TokenSecret }}"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1040,
          0
        ],
        "id": "a5a78494-c99c-475e-b945-7e8b685be218",
        "name": "HTTP Request - Search Guest"
      },
      {
        "parameters": {
          "fieldToSplitOut": "guests",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1264,
          0
        ],
        "id": "5be84bfb-c1c1-446e-b28f-d78b05857fb5",
        "name": "Split Out"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "975ed39c-514f-4b68-a565-8fba13a67d7c",
                "leftValue": "={{ $json.code }}",
                "rightValue": "={{ $('On form submission').item.json.CustomerCode }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          1488,
          0
        ],
        "id": "b6ab1468-148c-4ac1-999e-134c9de057a1",
        "name": "Filter"
      },
      {
        "parameters": {
          "url": "=https://api.zenoti.com/v1/guests/{{ $json.id }}/notes/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "view_private",
                "value": "true"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=bearer {{ $('Call \\'ZenotiNZ-GetAuthToken\\'').item.json.TokenSecret }}"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "parameters": {
                  "parameters": [
                    {
                      "name": "page",
                      "value": "={{ $pageCount + 1 }}"
                    }
                  ]
                },
                "limitPagesFetched": true,
                "maxRequests": "={{ Math.ceil($response.body.page_details.total / $response.body.page_details.size) }}"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1712,
          0
        ],
        "id": "d1fa1cc0-08b6-445e-a2d9-8d82aabaa2c6",
        "name": "HTTP Request -Guest Notes"
      },
      {
        "parameters": {
          "fieldToSplitOut": "notes",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1936,
          0
        ],
        "id": "cdaec888-ac6b-4496-8aea-e899c5aa1b65",
        "name": "Split Out1"
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "created_date"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          2160,
          0
        ],
        "id": "afd7e0d8-1810-4242-871a-e9517c6d8313",
        "name": "Sort"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {
            "fileName": "={{ $('Filter').item.json.code }}.xlsx"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          2592,
          0
        ],
        "id": "4cf495f5-252b-43f7-ac53-2e5e4c594f96",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          2816,
          0
        ],
        "id": "b062baac-604a-468c-b29d-a7c9de7b4c99",
        "name": "Extract from File1"
      },
      {
        "parameters": {
          "resource": "draft",
          "subject": "=AMNZ - GuestData - {{ $('On form submission').item.json.CustomerCode }}",
          "bodyContent": "=Hi Team,\n\nPlease see attached notes for client code {{ $('On form submission').item.json.CustomerCode }}.\n\nRegards,\nAutomation",
          "additionalFields": {
            "from": "noreply@ashleyandmartin.com.au"
          }
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          592,
          0
        ],
        "id": "9d588e86-1359-4ec6-9fb5-88e6235020cf",
        "name": "Create a draft",
        "webhookId": "44eafada-9ea1-4181-8a2c-c5f933ba847f",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "T2XkoM8OENRnrVIu",
            "name": "spu@ash"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.microsoft.com/v1.0/users/noreply@ashleyandmartin.com.au/messages/{{ $('Create a draft').first().json.id }}/attachments",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"@odata.type\": \"#microsoft.graph.fileAttachment\",\n  \"name\": \"GuestNotes-{{ $('Filter').item.json.code }}.xlsx\",\n  \"contentType\": \"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\",\n  \"contentBytes\": \"{{$json.data}}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3040,
          0
        ],
        "id": "a560b407-ac4a-4787-bc37-31f5ce52d718",
        "name": "UploadAttachment",
        "credentials": {
          "oAuth2Api": {
            "id": "j30zGPdAyzTUMgGs",
            "name": "MS graph"
          }
        }
      },
      {
        "parameters": {
          "resource": "draft",
          "operation": "send",
          "draftId": {
            "__rl": true,
            "value": "={{ $('Create a draft').item.json.id }}",
            "mode": "id"
          },
          "to": "={{ $('Get row(s)').item.json.email }}"
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          3264,
          0
        ],
        "id": "1e02986f-adea-4063-bf07-26fcbc9ec809",
        "name": "Send a draft",
        "webhookId": "b2fe5147-5360-46ba-a389-9d643392ad5e",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "T2XkoM8OENRnrVIu",
            "name": "spu@ash"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const j = item.json;\n\n  return {\n    json: {\n      notes: j.notes ?? null,\n      \"center.name\": j.center?.name ?? null,\n      \"added_by.name\": j.added_by?.name ?? null,\n      created_date: j.created_date ?? null,\n      privacy_type: j.privacy_type ?? null\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2368,
          0
        ],
        "id": "018af43d-455a-4230-9ec5-e1e8d2075286",
        "name": "Code in JavaScript2"
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Create a draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'ZenotiNZ-GetAuthToken'": {
        "main": [
          [
            {
              "node": "HTTP Request - Search Guest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Search Guest": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "HTTP Request -Guest Notes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request -Guest Notes": {
        "main": [
          [
            {
              "node": "Split Out1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out1": {
        "main": [
          [
            {
              "node": "Sort",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Extract from File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File1": {
        "main": [
          [
            {
              "node": "UploadAttachment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a draft": {
        "main": [
          [
            {
              "node": "Call 'ZenotiNZ-GetAuthToken'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UploadAttachment": {
        "main": [
          [
            {
              "node": "Send a draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nicholas Ryall",
    "name": "Version 20d8a5cf",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "20d8a5cf-a7f2-43d2-913a-f89e9f529493",
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ZenotiNZ-GetAuthToken'": {
      "main": [
        [
          {
            "node": "HTTP Request - Search Guest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Search Guest": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request -Guest Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request -Guest Notes": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "UploadAttachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Call 'ZenotiNZ-GetAuthToken'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadAttachment": {
      "main": [
        [
          {
            "node": "Send a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-26T00:58:29.085Z",
  "id": "WTV1WPIJ21WnWm2v",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ZenotiNZ - CollectCustomerDataToMigrate",
  "nodes": [
    {
      "parameters": {
        "formTitle": "NZ - Collect Patient Data",
        "formDescription": "Collect Patient Data and send to clinic",
        "formFields": {
          "values": [
            {
              "fieldName": "CustomerClientClinic",
              "fieldLabel": "Clients Clinic",
              "fieldType": "dropdown",
              "defaultValue": "Auckland",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Auckland"
                  },
                  {
                    "option": "Wellington"
                  },
                  {
                    "option": "Christchurch"
                  },
                  {
                    "option": "Hamilton"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldName": "CustomerCode",
              "fieldLabel": "Clients Exact Code",
              "placeholder": "00000-ABC",
              "requiredField": true
            }
          ]
        },
        "options": {
          "path": "NZ-NoteCollector"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        144,
        0
      ],
      "id": "cae16148-bace-44bd-aead-a49dce0100a5",
      "name": "On form submission",
      "webhookId": "fc7fb093-04b6-4b80-9570-d7ddefdc7bdb"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "pVbLONb8Gh393bg0",
          "mode": "list",
          "cachedResultName": "ZenotiClinicsNZ",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/pVbLONb8Gh393bg0"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ $json.CustomerClientClinic }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        0
      ],
      "id": "03cb67ad-874a-45f0-a72d-751ec86565ff",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PygQxZaLVrcaZiGx",
          "mode": "list",
          "cachedResultUrl": "/workflow/PygQxZaLVrcaZiGx",
          "cachedResultName": "ZenotiNZ-GetAuthToken"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        0
      ],
      "id": "14de51a9-1573-4b1b-bb61-fc60b94a2154",
      "name": "Call 'ZenotiNZ-GetAuthToken'"
    },
    {
      "parameters": {
        "url": "https://api.zenoti.com/v1/guests/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "center_id",
              "value": "={{ $('Get row(s)').item.json.Zenoti_ID }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "size",
              "value": "10"
            },
            {
              "name": "user_code",
              "value": "={{ $('On form submission').item.json.CustomerCode }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'ZenotiNZ-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        0
      ],
      "id": "a5a78494-c99c-475e-b945-7e8b685be218",
      "name": "HTTP Request - Search Guest"
    },
    {
      "parameters": {
        "fieldToSplitOut": "guests",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1264,
        0
      ],
      "id": "5be84bfb-c1c1-446e-b28f-d78b05857fb5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "975ed39c-514f-4b68-a565-8fba13a67d7c",
              "leftValue": "={{ $json.code }}",
              "rightValue": "={{ $('On form submission').item.json.CustomerCode }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1488,
        0
      ],
      "id": "b6ab1468-148c-4ac1-999e-134c9de057a1",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "=https://api.zenoti.com/v1/guests/{{ $json.id }}/notes/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "view_private",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer {{ $('Call \\'ZenotiNZ-GetAuthToken\\'').item.json.TokenSecret }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": "={{ Math.ceil($response.body.page_details.total / $response.body.page_details.size) }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1712,
        0
      ],
      "id": "d1fa1cc0-08b6-445e-a2d9-8d82aabaa2c6",
      "name": "HTTP Request -Guest Notes"
    },
    {
      "parameters": {
        "fieldToSplitOut": "notes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1936,
        0
      ],
      "id": "cdaec888-ac6b-4496-8aea-e899c5aa1b65",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "created_date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2160,
        0
      ],
      "id": "afd7e0d8-1810-4242-871a-e9517c6d8313",
      "name": "Sort"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('Filter').item.json.code }}.xlsx"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2592,
        0
      ],
      "id": "4cf495f5-252b-43f7-ac53-2e5e4c594f96",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2816,
        0
      ],
      "id": "b062baac-604a-468c-b29d-a7c9de7b4c99",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=AMNZ - GuestData - {{ $('On form submission').item.json.CustomerCode }}",
        "bodyContent": "=Hi Team,\n\nPlease see attached notes for client code {{ $('On form submission').item.json.CustomerCode }}.\n\nRegards,\nAutomation",
        "additionalFields": {
          "from": "noreply@ashleyandmartin.com.au"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "9d588e86-1359-4ec6-9fb5-88e6235020cf",
      "name": "Create a draft",
      "webhookId": "44eafada-9ea1-4181-8a2c-c5f933ba847f",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "T2XkoM8OENRnrVIu",
          "name": "spu@ash"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/noreply@ashleyandmartin.com.au/messages/{{ $('Create a draft').first().json.id }}/attachments",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"@odata.type\": \"#microsoft.graph.fileAttachment\",\n  \"name\": \"GuestNotes-{{ $('Filter').item.json.code }}.xlsx\",\n  \"contentType\": \"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\",\n  \"contentBytes\": \"{{$json.data}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3040,
        0
      ],
      "id": "a560b407-ac4a-4787-bc37-31f5ce52d718",
      "name": "UploadAttachment",
      "credentials": {
        "oAuth2Api": {
          "id": "j30zGPdAyzTUMgGs",
          "name": "MS graph"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "send",
        "draftId": {
          "__rl": true,
          "value": "={{ $('Create a draft').item.json.id }}",
          "mode": "id"
        },
        "to": "={{ $('Get row(s)').item.json.email }}"
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3264,
        0
      ],
      "id": "1e02986f-adea-4063-bf07-26fcbc9ec809",
      "name": "Send a draft",
      "webhookId": "b2fe5147-5360-46ba-a389-9d643392ad5e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "T2XkoM8OENRnrVIu",
          "name": "spu@ash"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const j = item.json;\n\n  return {\n    json: {\n      notes: j.notes ?? null,\n      \"center.name\": j.center?.name ?? null,\n      \"added_by.name\": j.added_by?.name ?? null,\n      created_date: j.created_date ?? null,\n      privacy_type: j.privacy_type ?? null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        0
      ],
      "id": "018af43d-455a-4230-9ec5-e1e8d2075286",
      "name": "Code in JavaScript2"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 15,
    "errorWorkflow": "J83Enw8ArDSqhMCL"
  },
  "shared": [
    {
      "updatedAt": "2026-02-26T00:58:29.088Z",
      "createdAt": "2026-02-26T00:58:29.088Z",
      "role": "workflow:owner",
      "workflowId": "WTV1WPIJ21WnWm2v",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-21T23:52:55.489Z",
      "createdAt": "2026-01-21T23:52:55.489Z",
      "id": "OXsRoYm7kDVlpgY1",
      "name": "NZ"
    },
    {
      "updatedAt": "2025-11-07T01:33:39.006Z",
      "createdAt": "2025-11-07T01:33:39.006Z",
      "id": "WIsNIXL4vR1ZWj36",
      "name": "Zenoti"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-03T02:06:54.849Z",
  "versionId": "20d8a5cf-a7f2-43d2-913a-f89e9f529493"
}