YRxBLrapG3I4HgXO.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClinicLoop": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Call Zenoti - Guest Form Data - Collector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClinicLoop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Zenoti - Guest Form Data - Collector": {
      "main": [
        [
          {
            "node": "ClinicLoop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)2": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a file": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Call Temp Guest Form Uploader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Temp Guest Form Uploader": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-25T06:43:02.184Z",
  "id": "YRxBLrapG3I4HgXO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Zenoti - Guest Form Data - DOBONLY",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "lsINP70DmcZtIj4M",
          "mode": "list",
          "cachedResultName": "ZenotiClinics",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/lsINP70DmcZtIj4M"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        352,
        -64
      ],
      "id": "ac7b3d30-1d2e-4ad5-a0ee-c25d8f1acdcf",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $json.table_id }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "GuestFormSubmitted",
              "condition": "isTrue"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -64,
        384
      ],
      "id": "838b8eab-2d99-4c89-9a72-4451340080b9",
      "name": "Get row(s)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Auth / Zenoti Token",
        "height": 288,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -144
      ],
      "typeVersion": 1,
      "id": "b125e491-7093-4eea-9d7d-ac136a71d4d4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Grab All Clinics",
        "height": 288,
        "width": 560,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -144
      ],
      "typeVersion": 1,
      "id": "b43b7496-ec01-4008-a6c6-a63801006d49",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Grab Client who's guest form we have not checked",
        "height": 288,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        256
      ],
      "typeVersion": 1,
      "id": "267844ea-12e2-49c3-a8a1-64dae2602108",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Update Excel",
        "height": 288,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        -144
      ],
      "typeVersion": 1,
      "id": "8acea14d-8a10-4333-ba44-5c3b02fbaea6",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1072,
        -48
      ],
      "id": "881cbbf8-e42b-4980-83cb-e0b9771aca99",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a44b5738-4a5e-4f26-9482-0d224446c743",
              "leftValue": "={{ $json.code }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b128d7a0-b6a6-48e2-9553-d8b6afe3c8e6",
              "leftValue": "={{ $json.code }}",
              "rightValue": "=HO",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9ea08198-2cb9-4865-844a-2ed220f44338",
              "leftValue": "={{ $json.code }}",
              "rightValue": "CO",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "27fe0ea3-72fa-476c-a673-ecc409f8ed39",
              "leftValue": "={{ $json.code }}",
              "rightValue": "TH",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "30d9abce-ae42-4261-a393-c3725ec75198",
              "leftValue": "={{ $json.Abb }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        544,
        -64
      ],
      "id": "2aae503b-f365-4562-bf6e-697a0f5e4d12",
      "name": "Filter2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        928,
        384
      ],
      "id": "264c8c56-c855-4628-9b48-6471cab31cef",
      "name": "ClinicLoop"
    },
    {
      "parameters": {
        "content": "## Loop Per Clinics",
        "height": 288,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        -144
      ],
      "typeVersion": 1,
      "id": "9098bd59-228e-49b6-b418-fcc90a647b1d",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## If For Empty Queries",
        "height": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        256
      ],
      "typeVersion": 1,
      "id": "bd0559d7-6c1f-4cd4-9123-c1e5acbb5ad7",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee86aa17-791e-4b76-9735-fffc8d9ecc94",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        384
      ],
      "id": "5b73ccec-e02a-4028-9c6c-cf0ca254f5b4",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yqeBXeXVYyJMD9S6",
          "mode": "list",
          "cachedResultUrl": "/workflow/yqeBXeXVYyJMD9S6",
          "cachedResultName": "Zenoti - Guest Form Data - Collector"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "table_id_firstItem": "={{ $('ClinicLoop').first().json.table_id }}"
          },
          "matchingColumns": [
            "table_id_firstItem"
          ],
          "schema": [
            {
              "id": "table_id_firstItem",
              "displayName": "table_id_firstItem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        720,
        368
      ],
      "name": "Call Zenoti - Guest Form Data - Collector",
      "id": "2e8a7e9b-18d0-4542-9123-1253091227d0"
    },
    {
      "parameters": {
        "content": "## Grab Client who's guest form we have not checked",
        "height": 288,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        256
      ],
      "typeVersion": 1,
      "id": "a3d733b6-1243-42e2-887d-c9bafbebdecc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Re- Grab Clinics",
        "height": 288,
        "width": 436,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        -144
      ],
      "typeVersion": 1,
      "id": "72c0504d-2132-490b-9515-7a8384a1eea4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "lsINP70DmcZtIj4M",
          "mode": "list",
          "cachedResultName": "ZenotiClinics",
          "cachedResultUrl": "/projects/gMwV5v9nxJB6matq/datatables/lsINP70DmcZtIj4M"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "table_id",
              "condition": "isNotEmpty"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1408,
        -32
      ],
      "id": "674bdf27-fb4d-46d8-9b1b-a5970e09e9fa",
      "name": "Get row(s)2",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "search",
        "query": "Zenoti-GuestFormData.xlsx"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        2256,
        -32
      ],
      "id": "c4af6299-850f-4f92-b0d3-6408d74ac61a",
      "name": "Search a file",
      "executeOnce": true,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "YQJEXWiBLg1Zt1YR",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        2656,
        -32
      ],
      "id": "f2a42180-8563-484d-bd94-941b3d399644",
      "name": "Download a file",
      "executeOnce": true,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "YQJEXWiBLg1Zt1YR",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "ashleyandmartincomau.sharepoint.com,b36f54fe-6363-4f80-a917-80ea79163f8f,e253e1e6-f0a2-48df-99ae-a6211683cee6",
          "mode": "list",
          "cachedResultName": "HeadOffice"
        },
        "folder": {
          "__rl": true,
          "value": "01B6E6QFLOHI7RD75M3ZAZGOK2L55CWEYX",
          "mode": "list",
          "cachedResultName": "Zenoti Data"
        },
        "fileName": "=Zenoti-GuestFormData-{{ $today.toISODate() }}.xlsx",
        "fileContents": "data",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        2896,
        -32
      ],
      "id": "3268f26d-d5ce-4322-b9bc-04409ee838c5",
      "name": "Upload file",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "8eWNjQciijocacKo",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "67b1511a-9744-4217-9189-25432989de5f",
              "leftValue": "={{ $json.name }}",
              "rightValue": "Zenoti-GuestFormData.xlsx",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2448,
        -32
      ],
      "id": "802e4721-38bd-405e-ae24-cc69809bd98a",
      "name": "Filter1"
    },
    {
      "parameters": {
        "content": "## Replace Excel File in IT common",
        "height": 288,
        "width": 976,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2144,
        -144
      ],
      "typeVersion": 1,
      "id": "9911f162-eee0-4961-8a2b-bc43969e0415",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1904,
        -32
      ],
      "id": "0a11b145-3edd-4d7c-9ca9-c57b24b4cbe4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf3dd0b8-5d30-4dce-88f3-4ce124b8d762",
              "leftValue": "={{ $json.code }}",
              "rightValue": "SY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        720,
        -64
      ],
      "id": "75cef112-af57-4a15-8c63-6959833db0fe",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1467cb6-151d-4946-a8ef-173710c21951",
              "leftValue": "={{ $json.id }}",
              "rightValue": 20771,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        144,
        384
      ],
      "id": "f4b20fba-a141-41dc-8818-fca90ffd28d7",
      "name": "Filter3",
      "disabled": true
    },
    {
      "parameters": {
        "toRecipients": "nicholas.ryall@ashleyandmartin.com.au",
        "subject": "={{ $workflow.name }} - Completed",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1232,
        368
      ],
      "id": "a186cb2f-a6fa-4817-8a4b-4d2192f48d40",
      "name": "Send a message",
      "webhookId": "b750f2e8-58d0-4444-a690-393f947008a1",
      "executeOnce": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "T2XkoM8OENRnrVIu",
          "name": "spu@ash"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kJtO0Z0y3TqpS1Y2",
          "mode": "list",
          "cachedResultUrl": "/workflow/kJtO0Z0y3TqpS1Y2",
          "cachedResultName": "Temp Guest Form Uploader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "table_id": "={{ $json.table_id }}",
            "name": "={{ $('When Executed by Another Workflow').item.json.name }}"
          },
          "matchingColumns": [
            "table_id",
            "name"
          ],
          "schema": [
            {
              "id": "table_id",
              "displayName": "table_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2160,
        448
      ],
      "name": "Call Temp Guest Form Uploader",
      "id": "632d7185-a9e0-423f-9b1a-9b7a1f32e9e6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f6e636c-56b2-49fd-95b2-d2ffb1385fc0",
              "leftValue": "={{ $json.code }}",
              "rightValue": "SY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1616,
        -32
      ],
      "id": "72fc1865-a546-4cd6-ad12-9e5e5d324b10",
      "name": "Filter4"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Client_ID": "D34E4CAB-8F5E-43A1-9994-A150CFFE95F8",
          "Zenoti_ID": "b0ffaa9d-5ccc-4771-95ae-43e9d4819104",
          "Clinic_name": "Adelaide",
          "Client_DOB": null,
          "Client_Code": "ADG5446",
          "Client_Tags": null,
          "Client_FirstName": "Jacques",
          "Client_LastName": "De Villiers",
          "GuestFormSubmitted": null,
          "PostalCode": null,
          "Gender": null,
          "PreviousSteps": null,
          "HearAboutus": null,
          "HeartDisease": null,
          "HighBlood": null,
          "LivKidProstate": null,
          "Diabetes": null,
          "Thyriod": null,
          "AnemiaIron": null,
          "PyschiatricCon": null,
          "Dermatitis": null,
          "Psoriasis": null,
          "Eczema": null,
          "Dandruff": null,
          "ItchyScalp": null,
          "DryScalp": null,
          "OilyScalp": null,
          "HairLoss": null,
          "OtherCondition": null,
          "RecEmoIllSur": null,
          "AttemptConceive": null,
          "OtherMedical": null,
          "MedicationIntake": null,
          "SteriodTest": null,
          "AllericMedic": null,
          "SpecificDiet": null,
          "ConditionPresent": null,
          "AgeRange": null,
          "Treatment": null,
          "MedicalHistory": null,
          "FamilyHistory": null,
          "AddedtoExcel": null,
          "id": 22729,
          "createdAt": "2026-02-23T00:28:36.002Z",
          "updatedAt": "2026-02-23T00:37:41.666Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "AMNicholasRyall",
    "name": "n8n-workflow-Backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-25T06:43:02.187Z",
      "createdAt": "2026-02-25T06:43:02.187Z",
      "role": "workflow:owner",
      "workflowId": "YRxBLrapG3I4HgXO",
      "projectId": "gMwV5v9nxJB6matq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-10T22:56:30.126Z",
  "versionId": "72585684-79ff-4eed-9e46-0645e82f35ea"
}